Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  compose.prod.yml
  services/spotter/compose.prod.yml
Labels: wip, spotter, docker

fix(hf): deploy
  compose.prod.yml
Labels: wip, docker

fix(hf): deploy
  services/spotter/nginx.conf
Labels: wip, spotter

fix(hf): deploy
  compose.prod.yml
Labels: wip, docker

fix(hf): deploy
  .docker/duplo-back.dockerfile
  .docker/node-prod.dockerfile
  .docker/vue-front.dockerfile
  .github/workflows/deploy.yml
  compose.prod.yml
  docs/exemple.nginx.conf
  services/harbor/.env
  services/harbor/package.json
  services/horizon/package.json
  services/spotter/.env
  services/spotter/src/envs.ts
  services/spotter/src/lib/horizon/index.ts
Labels: github, wip, harbor, horizon, spotter, docker

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
  compose.prod.yml
Labels: github, wip, docker

fix(hf): deploy
  .docker/duplo-back.dockerfile
  .github/workflows/deploy.yml
  services/spotter/Dockerfile
Labels: github, wip, spotter, docker

fix(hf): deploy
  .docker/duplo-back.dockerfile
Labels: wip, docker

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .dockerignore
  compose.prod.yml
Labels: wip, docker

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): docker images node
  .docker/duplo-back.dockerfile
  .docker/node-installer.compose.yml
  .docker/node.dockerfile
  .docker/template-node.compose.yml
  services/marine-snow/package.json
Labels: wip, marine-snow, docker

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .docker/duplo-back.dockerfile
Labels: wip, docker

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip
