Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

feat(26): fix all
  libs/clean/scripts/valueObject.ts
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  package-lock.json
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/upsertNodeSameRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/upsertPubmedRawDocument.ts
  services/abys/business/domains/common/abtrasctSection.ts
  services/abys/business/domains/common/rawDocument.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/interfaces/http/plugins/generate.ts
  services/abys/interfaces/http/schemas/rawDocument/pubmed.ts
  services/abys/interfaces/providers/sea/index.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
  services/abys/interfaces/repositories/sea.ts
  services/marine-snow/.env
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/utils.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/sea/.env
  services/sea/compose.template.yml
  services/sea/compose.yml
  services/sea/interfaces/http/main.ts
  services/sea/interfaces/http/plugins/generate.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/providers/elastic/common/abstractSection.ts
  services/sea/interfaces/providers/elastic/common/articleType.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/providers/elastic/indexes/index.ts
  services/sea/package.json
Labels: wip, abys, marine-snow, sea

feat(26): better split date
  docs/services/abys/commands.md
  libs/clean/scripts/entity.ts
  libs/clean/scripts/valueObject/date.ts
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/interfaces/http/routes/rawDocument.ts
  services/marine-snow/interfaces/providers/abys/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
Labels: wip, abys, marine-snow

feat(44): fix prop keywords bakedDocument
  services/abys/interfaces/fixtures/entities/bakedDocument.ts
Labels: wip, abys

feat(44): add fixture bakedDocument
  package-lock.json
  package.json
  services/abys/interfaces/fixtures/data/.gitkeep
  services/abys/interfaces/fixtures/entities/bakedDocument.ts
  services/abys/interfaces/fixtures/index.ts
  services/abys/interfaces/fixtures/utils/mapAsync.ts
  services/abys/interfaces/fixtures/utils/repeater.ts
  services/abys/interfaces/fixtures/utils/splitDate.ts
  services/abys/package.json
Labels: package, wip, abys

feat(44): add props author and articleType
  services/abys/interfaces/fixtures/entities/bakedDocument.ts
  services/abys/interfaces/fixtures/utils/splitDate.ts
Labels: wip, abys

fix(hf): deploy abys and sea
  .github/workflows/deploy.yml
  compose.prod.yml
  services/abys/package.json
  services/sea/package.json
Labels: github, wip, abys, sea, docker

fix(hf): send search result mission
  docs/deploy/duplo-back.md
  docs/marine-snow/commands.md
  libs/clean/scripts/index.ts
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/sea.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendOneSearchResultMission.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/interfaces/commands/missionSendSearchResult.ts
  services/marine-snow/interfaces/providers/prisma/migrations/20250503183719_/migration.sql
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
Labels: wip, abys, marine-snow

fix(hf): lot of composable
  libs/design-system/src/composables/useLocalStorageItem.ts
  services/spotter/src/domains/user/composables/useUserInformation.ts
Labels: wip, spotter, design-system

feat(34): add nodeDocumentId for multi-language support
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/http/schemas/document.ts
  services/horizon/interfaces/http/schemas/post.ts
  services/horizon/interfaces/providers/school/index.ts
  services/horizon/vendors/clean
  services/horizon/vitest.config.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getPostTotalCountFromDocumentId.ts
  services/school/business/applications/usecases/getPostsFromDocumentId.ts
  services/school/business/domains/common/document.ts
  services/school/business/domains/entities/document.ts
  services/school/business/domains/entities/post.ts
  services/school/interfaces/fixtures/entities/post.ts
  services/school/interfaces/fixtures/index.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/http/schemas/document.ts
  services/school/interfaces/http/schemas/post.ts
  services/school/interfaces/providers/mongo/entities/document.ts
  services/school/interfaces/providers/mongo/entities/post.ts
  services/school/interfaces/repositories/post.ts
  services/spotter/src/domains/forum/composables/useGetPost.ts
  services/spotter/src/domains/forum/pages/PostDetailsPage.vue
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/lib/horizon/types/post.ts
Labels: wip, horizon, school, spotter

feat(34): patch cors and continue
  libs/duplo-plugins/plugins/debug.ts
  services/harbor/interfaces/repositories/user.ts
  services/horizon/.env
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/checkers/post.ts
  services/horizon/interfaces/http/plugins/cors.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/providers/school/index.ts
  services/spotter/src/domains/forum/composables/useGetAnswers.ts
  services/spotter/src/domains/forum/composables/useGetPost.ts
  services/spotter/src/domains/forum/composables/useGetPosts.ts
  services/spotter/src/domains/forum/pages/PostDetailsPage.vue
Labels: wip, harbor, horizon, spotter

feat:school(34): add doc fixtures
  docs/school/commands.md
Labels: wip

feat(34): add fixture lib
  .vscode/settings.json
  libs/fixture/eslint.config.ts
  libs/fixture/package.json
  libs/fixture/scripts/index.ts
  libs/fixture/scripts/mapAsync.ts
  libs/fixture/scripts/repeater.ts
  libs/fixture/tsconfig.json
  libs/fixture/vendors/eslint
  libs/fixture/vitest.config.ts
  package-lock.json
  services/abys/interfaces/fixtures/entities/bakedDocument.ts
  services/abys/interfaces/fixtures/index.ts
  services/abys/package.json
  services/abys/vendors/fixture
  services/spotter/src/domains/forum/pages/PostsPage.vue
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/layouts/BaseLayout.vue
Labels: wip, abys, spotter

fix:harbor(hf): fix doc firebase
  docs/harbor/firebase-credential.md
Labels: wip

fix(34): fix rebase main
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/interfaces/http/schemas/bakedDocument.ts
  services/horizon/interfaces/http/checkers/document.ts
  services/horizon/interfaces/http/routes/post.ts
  services/spotter/src/domains/forum/composables/useGetPosts.ts
  services/spotter/src/lib/horizon/types/post.ts
Labels: wip, abys, horizon, spotter

feat:spotter(34): add PostDetailPage + PostsPage
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/horizon/interfaces/http/plugins/cors.ts
  services/horizon/interfaces/http/routes/answer.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/http/schemas/post.ts
  services/school/business/domains/entities/answer.ts
  services/school/interfaces/fixtures/index.ts
  services/school/interfaces/http/main.ts
  services/school/interfaces/http/routes/answer.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/http/schemas/answer.ts
  services/school/interfaces/http/schemas/document.ts
  services/school/interfaces/http/schemas/post.ts
  services/school/interfaces/http/schemas/user.ts
  services/school/vendors/duplo-plugins
  services/spotter/src/domains/forum/composables/useGetAnswers.ts
  services/spotter/src/domains/forum/composables/useGetPosts.ts
  services/spotter/src/domains/forum/pages/PostDetailsPage.vue
  services/spotter/src/domains/forum/pages/PostsPage.vue
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/post.ts
Labels: wip, horizon, school, spotter

feat(34): add test fixture lib
  libs/fixture/scripts/mapAsync.test.ts
  libs/fixture/scripts/repeater.test.ts
  scripts/lint.sh
  scripts/types.sh
Labels: wip

fix:abys(hf): fix fixture bakedDocument
  services/abys/interfaces/fixtures/entities/bakedDocument.ts
Labels: wip, abys

feat:school(34): add fixture post and answers
  package-lock.json
  package.json
  services/abys/interfaces/fixtures/entities/bakedDocument.ts
  services/school/interfaces/fixtures/entities/answer.ts
  services/school/interfaces/fixtures/entities/post.ts
  services/school/interfaces/fixtures/index.ts
  services/school/package.json
  services/school/vendors/fixture
Labels: package, wip, abys, school

fix:abys(hf): fix fixture bakedDocument
  services/abys/interfaces/fixtures/entities/bakedDocument.ts
Labels: wip, abys

refacto(34): refacto language management with posts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/interfaces/http/routes/post.ts
  services/spotter/src/domains/forum/composables/useGetPost.ts
  services/spotter/src/domains/forum/pages/PostDetailsPage.vue
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/lib/horizon/types/post.ts
Labels: wip, horizon, spotter

refacto(34): refacto doc + default paramters of command fixture posts and answers
  docs/abys/commands.md
  docs/school/commands.md
  services/school/interfaces/fixtures/index.ts
Labels: wip, school

fix:school(34): fix errors due to careless error with nodeDocument
  services/school/business/applications/usecases/getPostTotalCountFromNodeDocumentId.ts
  services/school/business/applications/usecases/getPostsFromNodeDocumentId.ts
  services/school/business/domains/entities/post.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/repositories/post.ts
  services/school/interfaces/usecase/index.ts
Labels: wip, school

feat(34): update http client
  package-lock.json
  services/abys/package.json
  services/horizon/package.json
  services/marine-snow/package.json
  services/spotter/package.json
  services/spotter/src/domains/user/composables/useUserInformation.ts
  services/spotter/src/lib/horizon/index.ts
Labels: wip, abys, horizon, marine-snow, spotter

feat(34): renaming
  services/abys/business/applications/usecases/bakedDocument/findBakedDocumentById.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/findNodeSameRawDocuments.ts
  services/abys/interfaces/http/checkers/bakedDocument.ts
  services/abys/interfaces/usecase/index.ts
  services/colossal/components.d.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/interfaces/http/schemas/user.ts
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/providers/abys/index.ts
  services/horizon/interfaces/providers/harbor/index.ts
  services/pilot/components.d.ts
  services/tide/components.d.ts
Labels: wip, abys, colossal, harbor, horizon, pilot, tide

feat(29): reorder content opérator
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/components/scratch/partials/ScratchHint.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorAndOr.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
  services/spotter/src/utils/isEven.ts
  services/spotter/vite.config.ts
Labels: wip, spotter

feat(29): update simple search
  libs/design-system/src/components/DSSea.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
Labels: wip, spotter, design-system

feat(29): improve scratch
  libs/design-system/src/index.css
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/components/scratch/TheScratch.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/AddOperatorContent.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorAndOr.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
  services/spotter/src/domains/search/pages/TestPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(29): add simple search
  libs/design-system/src/components/DSInputSearch.vue
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter, design-system

feat(29): fix DSSea animation
  libs/design-system/src/components/DSSea.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
Labels: wip, spotter, design-system

feat(29): update search filters
  libs/design-system/src/components/DSFilterRange.vue
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system

feat(29): add advanced search
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter

feat(29): fix var names
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
Labels: wip, spotter

feat(29): start filters
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
Labels: wip, spotter

feat(29): i18n
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(29): fix sticky bg
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
Labels: wip, spotter

feat(29): minor fix
  services/spotter/src/domains/search/pages/DocumentPage.vue
Labels: wip, spotter

feat(29): add document page
  libs/design-system/src/components/ui/badge/DSBadge.vue
  libs/design-system/src/components/ui/badge/index.ts
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/index.css
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/components.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/search/pages/DocumentPage.vue
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system

feat(29): update simple search page
  libs/design-system/src/components/DSInputSearch.vue
  libs/design-system/src/components/DSSea.vue
  libs/design-system/src/components/ui/icon/DSIcon.vue
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SimpleSearch.vue
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/main.ts
Labels: wip, spotter, design-system

feat(34): update post list and post page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
  libs/design-system/src/lib/utils.ts
  services/colossal/components.d.ts
  services/horizon/interfaces/http/schemas/answer.ts
  services/pilot/components.d.ts
  services/school/interfaces/http/schemas/answer.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/tide/components.d.ts
Labels: wip, colossal, horizon, pilot, school, spotter, tide, design-system

feat(29): lot of fix
  libs/design-system/src/components/DSFilterRange.vue
  libs/design-system/src/components/DSRange.vue
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/document/router.ts
  services/spotter/src/domains/search/components/SearchResutPagination.vue
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system
