Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

design-system:
  - "libs/design-system/**/*"

bridge:
  - "services/bridge/**/*"

lighthouse:
  - "services/lighthouse/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

fix(hf): last cook && last send
  services/abys/interfaces/commands/cookNodeSameRawDocument.ts
  services/abys/interfaces/providers/keyDate/index.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
Labels: wip, abys

fix(hf): design improvement + fix
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/DSRange.vue
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  libs/design-system/src/components/ui/dialog/DSDialogScrollContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  services/lighthouse/src/components/TheLoader.vue
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/forum/components/RowPost.vue
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/components/scratch/partials/OperatorContentDialog.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorAndOr.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
  services/spotter/src/layouts/BaseLayout.vue
  services/spotter/src/style.css
Labels: wip, spotter, design-system, lighthouse

fix(hf): create index && max page
  libs/design-system/src/components/ui/pagination/DSPagination.vue
  services/abys/interfaces/providers/mongo/index.ts
  services/horizon/interfaces/http/routes/search.ts
  services/school/interfaces/providers/mongo/index.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/search/simple.ts
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/SearchTemplate.vue
Labels: wip, abys, horizon, school, sea, spotter, design-system

fix(hf): simple && advenced query
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/search/advenced/build/comparators/text.ts
  services/sea/interfaces/search/simple.ts
Labels: wip, sea

feat(64): form builder + rename user
  libs/clean/scripts/entity.ts
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/input/DSInput.vue
  libs/design-system/src/composables/useFormBuilder/createFormField.ts
  libs/design-system/src/composables/useFormBuilder/formField.ts
  libs/design-system/src/composables/useFormBuilder/index.ts
  libs/design-system/src/composables/useFormBuilder/layouts/index.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useBaseLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useCheckLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useMultiFieldLayout.ts
  libs/design-system/src/utils/formFields.ts
  libs/entity-rules/scripts/user.ts
  services/harbor/business/applications/usecases/renameUser.ts
  services/harbor/business/applications/usecases/updateUser.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/interfaces/http/checkers/token.ts
  services/harbor/interfaces/http/routes/index.ts
  services/harbor/interfaces/http/routes/user.ts
  services/harbor/interfaces/http/schemas/user.ts
  services/harbor/interfaces/providers/prisma/migrations/20250525142956_add_last_update_field/migration.sql
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/bottle.ts
  services/harbor/interfaces/usecases/index.ts
  services/horizon/business/entities/user.ts
  services/horizon/interfaces/http/routes/user.ts
  services/horizon/interfaces/http/security/mustBeConnected.ts
  services/horizon/interfaces/providers/harbor/index.ts
  services/lighthouse/auto-imports.d.ts
  services/lighthouse/tsconfig.app.json
  services/lighthouse/tsconfig.node.json
  services/school/interfaces/asyncMessage/renameUser/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/composables/useEditProfileForm.ts
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/index.ts
  services/spotter/tsconfig.node.json
Labels: wip, harbor, horizon, school, spotter, design-system, lighthouse

feat(55): add glitchtip config docker
  .docker/glitchtip.compose.yml
  .nvmrc
  docs/glitchtip/commands.md
Labels: wip, docker

feat(55): add spotter config sentry
  services/spotter/.env
  services/spotter/package.json
  services/spotter/src/envs.ts
  services/spotter/src/lib/sentry/index.ts
  services/spotter/src/main.ts
Labels: wip, spotter

feat(55): add sea config sentry
  services/sea/.env
  services/sea/interfaces/envs.ts
  services/sea/interfaces/http/main.ts
Labels: wip, sea

feat(55): edit plugins debug
  libs/duplo-plugins/package.json
  libs/duplo-plugins/plugins/debug.ts
  package-lock.json
Labels: wip

feat(55): add abys config sentry
  services/abys/.env
  services/abys/interfaces/envs.ts
  services/abys/interfaces/http/main.ts
Labels: wip, abys

feat(55): add bottle config sentry
  services/bottle/.env
  services/bottle/interfaces/envs.ts
  services/bottle/interfaces/http/main.ts
  services/bottle/vendors/duplo-plugins
Labels: wip, bottle

feat(55): add bridge config sentry
  services/bridge/.env
  services/bridge/interfaces/envs.ts
  services/bridge/interfaces/http/main.ts
Labels: wip, bridge

feat(55): add harbor config sentry
  services/harbor/.env
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/http/main.ts
Labels: wip, harbor

feat(55): add horizon config sentry
  services/horizon/.env
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/main.ts
Labels: wip, horizon

feat(55): add school config sentry
  services/school/.env
  services/school/interfaces/envs.ts
  services/school/interfaces/http/main.ts
Labels: wip, school

feat(55): add marine-snow config sentry
  services/marine-snow/.env
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/http/main.ts
Labels: wip, marine-snow

feat(55): add lighthouse config sentry
  services/lighthouse/.env
  services/lighthouse/package.json
  services/lighthouse/src/envs.ts
  services/lighthouse/src/libs/sentry/index.ts
  services/lighthouse/src/main.ts
Labels: wip, lighthouse

fix(hf): refacto
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/forum/components/PostAnswer.vue
  services/spotter/src/domains/forum/components/PostRow.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
Labels: wip, horizon, marine-snow, spotter

feat(67): add style to form builder
  libs/design-system/src/index.css
  services/spotter/src/domains/user/composables/useEditProfileForm.ts
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

fix(hf): marine-snow logger
  libs/backend-logger/scripts/index.ts
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/marine-snow/interfaces/commands/missionSendOneSearchResult.ts
  services/marine-snow/interfaces/commands/missionSendSearchResult.ts
  services/marine-snow/interfaces/utils/deepLog.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/one.ts
Labels: wip, marine-snow

feat(67): add form template
  libs/design-system/src/components/form/BaseLayoutTemplate.vue
  libs/design-system/src/components/form/CheckLayoutTemplate.vue
  libs/design-system/src/components/form/FormTemplate.vue
  libs/design-system/src/components/form/MultiLayoutTemplate.vue
  libs/design-system/src/composables/useFormBuilder/createFormField.ts
  libs/design-system/src/composables/useFormBuilder/index.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useBaseLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useCheckLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useMultiFieldLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/baseLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/checkLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/createLayoutTemplate.ts
  libs/design-system/src/composables/useFormBuilder/templates/form.ts
  libs/design-system/src/composables/useFormBuilder/templates/multiLayout.ts
  libs/design-system/src/index.css
  libs/design-system/src/utils/formFields.ts
  libs/design-system/src/utils/layoutTemplate.ts
  services/lighthouse/auto-imports.d.ts
  services/lighthouse/components.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/user/composables/useEditProfileForm.ts
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system, lighthouse

feat(55): add sentry-logger
  .vscode/settings.json
  docs/glitchtip/commands.md
  libs/sentry-logger/eslint.config.ts
  libs/sentry-logger/package.json
  libs/sentry-logger/scripts/index.ts
  libs/sentry-logger/scripts/sentry.ts
  libs/sentry-logger/tsconfig.json
  libs/sentry-logger/vendors/eslint
  libs/sentry-logger/vitest.config.ts
  package-lock.json
  services/lighthouse/.env
  services/lighthouse/src/envs.ts
  services/lighthouse/src/libs/sentry/index.ts
  services/lighthouse/src/main.ts
  services/spotter/.env
  services/spotter/src/envs.ts
  services/spotter/src/lib/sentry/index.ts
  services/spotter/src/main.ts
Labels: wip, spotter, lighthouse

fix(55): sentry client
  libs/duplo-plugins/plugins/debug.ts
  libs/sentry-logger/scripts/sentry.ts
  services/lighthouse/src/libs/sentry/index.ts
  services/lighthouse/src/main.ts
  services/spotter/src/lib/sentry/index.ts
  services/spotter/src/main.ts
Labels: wip, spotter, lighthouse
