Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

fix(12): clean
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
Labels: wip, spotter

fix(12): fix theme
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/ui/accordion/DSAccordion.vue
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/accordion/index.ts
  libs/design-system/src/index.css
  services/spotter/components.d.ts
  services/spotter/package.json
Labels: wip, spotter, design-system

feat(12): add default layout
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/DSButtonPrimary.vue
  services/spotter/components.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/layouts/BaseLayout.vue
Labels: wip, spotter, design-system

feat(12): add theme
  libs/design-system/src/index.css
  services/spotter/index.html
  services/spotter/public/images/logos/logo-text.svg
  services/spotter/public/images/logos/logo.svg
  services/spotter/public/vite.svg
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system

fix(12): add terms
  libs/design-system/package.json
  libs/design-system/src/components/ui/checkbox/DSCheckbox.vue
  libs/design-system/src/components/ui/checkbox/index.ts
  package-lock.json
  services/spotter/components.d.ts
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(12): add pageTranslate
  services/spotter/auto-imports.d.ts
  services/spotter/src/composables/usePageTranslate.ts
  services/spotter/src/domains/auth/components/LoginForm.vue
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/domains/auth/pages/ForgotPasswordPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/vite.config.ts
Labels: wip, spotter

feat(12): i18n
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(12): add home page + 404
  libs/design-system/src/components/ui/accordion/DSAccordion.vue
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/accordion/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/public/images/edito/404.png
  services/spotter/public/images/edito/hero.png
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
Labels: wip, spotter, design-system

fix(hf): lint
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/checkbox/DSCheckbox.vue
  libs/design-system/src/components/ui/label/DSLabel.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetDescription.vue
  libs/design-system/src/components/ui/sheet/DSSheetTitle.vue
  libs/design-system/src/components/ui/sheet/index.ts
Labels: wip, design-system

feat(12): simplify to simple google auth
  services/spotter/public/images/auth/connection.png
  services/spotter/public/images/auth/register.png
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/auth/components/LoginForm.vue
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/auth/pages/ForgotPasswordPage.vue
  services/spotter/src/domains/auth/pages/LoginPage.vue
  services/spotter/src/domains/auth/pages/RegisterPage.vue
  services/spotter/src/domains/auth/router.ts
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(12): add mobile sidebar
  libs/design-system/src/components/DSButtonIcon.vue
  libs/design-system/src/components/ui/sheet/DSSheet.vue
  libs/design-system/src/components/ui/sheet/DSSheetClose.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetDescription.vue
  libs/design-system/src/components/ui/sheet/DSSheetFooter.vue
  libs/design-system/src/components/ui/sheet/DSSheetHeader.vue
  libs/design-system/src/components/ui/sheet/DSSheetTitle.vue
  libs/design-system/src/components/ui/sheet/DSSheetTrigger.vue
  libs/design-system/src/components/ui/sheet/index.ts
  libs/design-system/src/index.css
  package-lock.json
  services/spotter/components.d.ts
  services/spotter/package.json
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheIcon.vue
  services/spotter/src/style.css
Labels: wip, spotter, design-system

fix(hf): fix buttons cursor
  libs/design-system/src/components/DSButtonIcon.vue
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/DSButtonPrimary.vue
Labels: wip, design-system

feat(13): add search result page
  libs/design-system/src/components/ui/card/DSCard.vue
  libs/design-system/src/components/ui/card/DSCardContent.vue
  libs/design-system/src/components/ui/card/DSCardDescription.vue
  libs/design-system/src/components/ui/card/DSCardFooter.vue
  libs/design-system/src/components/ui/card/DSCardHeader.vue
  libs/design-system/src/components/ui/card/DSCardTitle.vue
  libs/design-system/src/components/ui/card/index.ts
  libs/design-system/src/components/ui/tabs/DSTabsTrigger.vue
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/router.ts
Labels: wip, spotter, design-system

feat(13): add result pagination
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/pagination/DSPaginationEllipsis.vue
  libs/design-system/src/components/ui/pagination/DSPaginationFirst.vue
  libs/design-system/src/components/ui/pagination/DSPaginationLast.vue
  libs/design-system/src/components/ui/pagination/DSPaginationNext.vue
  libs/design-system/src/components/ui/pagination/DSPaginationPrev.vue
  libs/design-system/src/components/ui/pagination/index.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/SearchResutPagination.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter, design-system

feat(13): add search page
  libs/design-system/src/components/DSInputSearch.vue
  libs/design-system/src/components/ui/tabs/DSTabs.vue
  libs/design-system/src/components/ui/tabs/DSTabsContent.vue
  libs/design-system/src/components/ui/tabs/DSTabsList.vue
  libs/design-system/src/components/ui/tabs/DSTabsTrigger.vue
  libs/design-system/src/components/ui/tabs/index.ts
  services/spotter/components.d.ts
  services/spotter/public/images/search/magnifier.png
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/search/components/AdvancedSearch.vue
  services/spotter/src/domains/search/components/SimpleSearch.vue
  services/spotter/src/domains/search/pages/SearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
  services/spotter/src/router/routerPageName/index.ts
Labels: wip, spotter, design-system

fix(hf): little style fixes
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter, design-system

feat(13): fix pagination
  services/spotter/src/domains/search/components/SearchResutPagination.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter

feat(13): fix mobile pagination
  services/spotter/src/domains/search/components/SearchResutPagination.vue
Labels: wip, spotter

fix(hf): lint
  libs/design-system/src/components/ui/pagination/DSPaginationEllipsis.vue
  libs/design-system/src/components/ui/pagination/DSPaginationFirst.vue
  libs/design-system/src/components/ui/pagination/DSPaginationLast.vue
  libs/design-system/src/components/ui/pagination/DSPaginationNext.vue
  libs/design-system/src/components/ui/pagination/DSPaginationPrev.vue
  libs/design-system/src/components/ui/tabs/DSTabsContent.vue
  libs/design-system/src/components/ui/tabs/DSTabsList.vue
  libs/design-system/src/components/ui/tabs/DSTabsTrigger.vue
Labels: wip, design-system

fix(hf): change loader
  libs/design-system/src/index.css
  services/spotter/src/components/TheLoader.vue
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system

feat(14): commande integration
  libs/clean/scripts/repository.ts
  libs/clean/scripts/usecase.ts
  libs/clean/scripts/utils.ts
  libs/clean/scripts/valueObject.ts
  package-lock.json
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createSearchResultPubMedMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMed.ts
  services/marine-snow/interfaces/commands/launchMission.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/workers/main.js
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, marine-snow

fix(hf): clean lib
  libs/clean/scripts/entity.ts
  libs/clean/scripts/error.ts
  libs/clean/scripts/repository.ts
  libs/clean/scripts/usecase.ts
  libs/clean/scripts/utils.ts
  libs/clean/scripts/valueObject.test.ts
  libs/clean/scripts/valueObject.ts
  services/marine-snow/business/domains/common/provider.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/index.ts
  services/marine-snow/business/domains/entities/worker.ts
  services/marine-snow/interfaces/commands/launchMission.ts
  services/marine-snow/interfaces/main.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/usecase/index.ts
Labels: wip, marine-snow

fix(hf): set fixed versions to DS packages
  libs/design-system/package.json
  package-lock.json
Labels: wip, design-system

feat(12): fixes
  libs/design-system/src/components/DSButtonGoogle.vue
  libs/design-system/src/components/DSLoadingLogo.vue
  services/spotter/components.d.ts
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
Labels: wip, spotter, design-system

feat(19): export searchResult to abys business
  libs/clean/scripts/entity.ts
  libs/clean/scripts/error.ts
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/missionStep.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/searchResultMissionStep.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/sendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/startMission.ts
  services/marine-snow/business/domains/common/int.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMedStep.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/business/domains/entities/mission/step.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/missionStep.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
Labels: wip, marine-snow

feat(13): add search overlay
  libs/design-system/src/components/DSInputSearch.vue
  libs/design-system/src/components/ui/combobox/DSCombobox.vue
  libs/design-system/src/components/ui/combobox/DSComboboxAnchor.vue
  libs/design-system/src/components/ui/combobox/DSComboboxEmpty.vue
  libs/design-system/src/components/ui/combobox/DSComboboxGroup.vue
  libs/design-system/src/components/ui/combobox/DSComboboxInput.vue
  libs/design-system/src/components/ui/combobox/DSComboboxItem.vue
  libs/design-system/src/components/ui/combobox/DSComboboxList.vue
  libs/design-system/src/components/ui/combobox/DSComboboxSeparator.vue
  libs/design-system/src/components/ui/combobox/DSComboboxTrigger.vue
  libs/design-system/src/components/ui/combobox/index.ts
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  services/spotter/components.d.ts
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheSea.vue
  services/spotter/src/domains/search/components/AdvancedSearch.vue
  services/spotter/src/domains/search/components/SimpleSearch.vue
  services/spotter/src/domains/search/pages/SearchPage.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

add business layer in school service
  services/school/business/applications/repositories/answer.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getAnswersFromPost.ts
  services/school/business/applications/usecases/getPostsFromArticle.ts
  services/school/business/applications/usecases/replyToPost.ts
  services/school/business/domains/entities/.gitkeep
  services/school/business/domains/entities/answer.ts
  services/school/business/domains/entities/article.ts
  services/school/business/domains/entities/post.ts
  services/school/business/domains/entities/user.ts
  services/school/business/domains/value-objects/.gitkeep
  services/school/tsconfig.json
  services/school/vendors/clean
Labels: wip, school

simplify usecases for school service
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getAnswersFromPost.ts
  services/school/business/applications/usecases/getPostsFromArticle.ts
  services/school/business/applications/usecases/replyToPost.ts
Labels: wip, school

feat(4): add implementation's layer for school service
  package-lock.json
  package.json
  services/school/.env
  services/school/.env.exemple
  services/school/business/applications/repositories/answer.ts
  services/school/business/applications/repositories/article.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/repositories/user.ts
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getAnswersFromPost.ts
  services/school/business/applications/usecases/getPostsFromArticle.ts
  services/school/business/applications/usecases/replyToPost.ts
  services/school/business/domains/entities/answer.ts
  services/school/business/domains/entities/article.ts
  services/school/business/domains/entities/post.ts
  services/school/business/domains/entities/user.ts
  services/school/interfaces/checkers/post.ts
  services/school/interfaces/envs.ts
  services/school/interfaces/main.ts
  services/school/interfaces/providers/mongo/entities/answer.ts
  services/school/interfaces/providers/mongo/entities/article.ts
  services/school/interfaces/providers/mongo/entities/post.ts
  services/school/interfaces/providers/mongo/entities/user.ts
  services/school/interfaces/providers/mongo/index.ts
  services/school/interfaces/repositories/answer.ts
  services/school/interfaces/repositories/article.ts
  services/school/interfaces/repositories/index.ts
  services/school/interfaces/repositories/post.ts
  services/school/interfaces/routes/article.ts
  services/school/interfaces/routes/index.ts
  services/school/interfaces/routes/post.ts
  services/school/package.json
  services/school/tsconfig.json
Labels: package, wip, school

refacto after review
  services/school/business/.gitkeep
  services/school/business/applications/repositories/.gitkeep
  services/school/business/applications/repositories/answer.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/usecases/.gitkeep
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getAnswersFromPost.ts
  services/school/business/applications/usecases/getPostsFromArticle.ts
  services/school/business/applications/usecases/replyToPost.ts
  services/school/business/domains/entities/answer.ts
  services/school/business/domains/entities/article.ts
  services/school/business/domains/entities/post.ts
  services/school/business/domains/entities/user.ts
Labels: wip, school

feat(4): add responseContract for iWantPostExistById and add coerce for intObjecter
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/school/business/domains/common/Int.ts
  services/school/interfaces/http/checkers/post.ts
Labels: wip, school

feat(13): refacto
  services/spotter/src/components/TheSea.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

fix(hf): update shadcn-vue for tailwind v4
  libs/design-system/components.json
  libs/design-system/package.json
  libs/design-system/src/index.css
Labels: wip, design-system

feat(4): fix generate types and coerce
  .github/workflows/test.yml
  .husky/pre-push
  .vscode/settings.json
  package.json
  scripts/generate-types.sh
  services/school/.env
  services/school/.env.exemple
  services/school/business/domains/common/Int.ts
  services/school/interfaces/envs.ts
  services/school/interfaces/http/routes/answer.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/providers/mongo/index.ts
  services/school/package.json
Labels: package, github, wip, school

feat(4): fix prisma generate
  package-lock.json
  package.json
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/package.json
Labels: package, wip, marine-snow

fix(hf): fix loader translate
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

fix(hf): add skeleton while image loading
  libs/design-system/src/components/DSImage.vue
  libs/design-system/src/components/ui/skeleton/DSSkeleton.vue
  libs/design-system/src/components/ui/skeleton/index.ts
  services/spotter/components.d.ts
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheSea.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
Labels: wip, spotter, design-system

doc(07): pubmed doc base
  docs/pubmed.md
Labels: wip

doc(07): add mini doc elasticserach
  docs/eslasticsearch/base.md
  docs/eslasticsearch/types.md
  docs/pubmed.md
  docs/schema-es.json
Labels: wip

doc(07): refacto doc pubmed
  docs/scrapper/pubmed/api.md
  docs/scrapper/pubmed/fetchModel.md
Labels: wip

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"
