Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse, coral, beacon, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

design-system:
  - "libs/design-system/**/*"

bridge:
  - "services/bridge/**/*"

lighthouse:
  - "services/lighthouse/**/*"

coral:
  - "services/coral/**/*"
  
beacon:
  - "services/beacon/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

feat(84): fix trad
  services/lighthouse/src/domains/forum/postModeration/composables/usePostModerationForm.ts
Labels: wip, lighthouse

feat(84): fix update document language
  libs/design-system/src/components/ui/select/DSSelect.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
Labels: wip, spotter, design-system

feat(84): fix CGU support email
  libs/design-system/src/utils/createPage.ts
  services/spotter/src/domains/auth/components/CGUCheckboxTemplate.vue
  services/spotter/src/domains/edito/pages/CguPage.vue
  services/spotter/src/i18n/languages/cgu/FR-fr.ts
Labels: wip, spotter, design-system

feat(87): correct types
  services/school/business/domains/entities/answer.ts
Labels: wip, school

feat(87): correct fixtures
  services/school/interfaces/fixtures/entities/answer.ts
Labels: wip, school

feat(87): fix notification
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/business/entities/notification.ts
Labels: wip, horizon

feat(87): add not compliante label
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/business/entities/forum/answer.ts
  services/horizon/interfaces/http/routes/answer.ts
  services/horizon/interfaces/providers/school/index.ts
  services/spotter/src/domains/forum/components/PostAnswer.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter

feat(87): fix notification
  services/bottle/business/applications/usecases/createReplyToPostNotification.ts
  services/bottle/business/domains/entities/notification/base.ts
  services/bottle/business/domains/entities/notification/register.ts
  services/bottle/business/domains/entities/notification/replyToPost.ts
  services/bottle/business/domains/entities/notification/userAnswerBan.ts
  services/bottle/business/domains/entities/notification/userAnswerWarning.ts
  services/bottle/business/domains/entities/notification/userPostBan.ts
  services/bottle/business/domains/entities/notification/userPostWarning.ts
  services/bottle/interfaces/asyncMessage/createAnswer/index.ts
  services/bottle/interfaces/repositories/notication/index.ts
  services/school/business/applications/usecases/indicateAnswerIsNotCompliantAndCreateWarning.ts
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/notification/components/RegisterNotificationCard.vue
  services/spotter/src/domains/notification/components/ReplyToPostNotificationCard.vue
  services/spotter/src/domains/notification/composables/useNotificationListPage.ts
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/notification/utils/notificationWrapper.ts
  services/spotter/src/domains/user/composables/useUserInformation.ts
Labels: wip, bottle, school, spotter

feat(87): fix anwser field rule
  services/spotter/src/domains/forum/pages/PostPage.vue
Labels: wip, spotter

feat(87): lot of fix
  services/harbor/interfaces/http/routes/warning.ts
  services/lighthouse/src/domains/dashboard/dashboardPage/ThePage.vue
  services/school/business/domains/entities/answer.ts
  services/school/interfaces/providers/mongo/entities/answer.ts
Labels: wip, harbor, school, lighthouse

feat(87): refacto after review
  docs/features/forum/answer/create.md
  docs/features/forum/answer/manage.md
  docs/features/forum/answer/replyToPost.md
  docs/features/forum/post/findOne.md
  docs/features/forum/post/receive.md
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/lighthouse/src/domains/forum/answerModeration/ThePage.vue
  services/school/business/applications/usecases/indicateAnswerIsNotCompliantAndCreateWarning.ts
  services/school/interfaces/http/routes/answer.ts
Labels: wip, school, lighthouse

feat(87): fix after test types
  services/bridge/interfaces/http/routes/answer/indicateAnswerIsNotCompliantAndCreateWarning.ts
  services/lighthouse/src/i18n/languages/FR-fr.ts
Labels: wip, bridge, lighthouse

feat(87): add missing notifications cards
  libs/clients-type/types/bridge/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  libs/design-system/src/index.css
  services/horizon/interfaces/http/plugins/generate.ts
  services/spotter/src/domains/notification/components/AnswerBanNotificationCard.vue
  services/spotter/src/domains/notification/components/AnswerWarningNotificationCard.vue
  services/spotter/src/domains/notification/components/PostBanNotificationCard.vue
  services/spotter/src/domains/notification/components/PostWarningNotificationCard.vue
  services/spotter/src/domains/notification/utils/notificationWrapper.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, design-system

feat(87): add indexes
  services/abys/interfaces/providers/mongo/index.ts
  services/coral/interfaces/providers/mongo/index.ts
  services/coral/interfaces/repositories/documentFolder.ts
Labels: wip, abys, coral

feat(87): remove access to not compliante post
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/horizon/business/entities/forum/post.ts
  services/horizon/interfaces/http/routes/post/postPage.ts
  services/lighthouse/src/domains/forum/answerModeration/components/AnswerContent.vue
  services/lighthouse/src/domains/forum/postModeration/components/PostContent.vue
  services/rosetta/interfaces/providers/googleScrape/index.ts
  services/school/interfaces/http/schemas/post.ts
Labels: wip, horizon, rosetta, school, lighthouse

fix(hf): sentry and folder page
  libs/design-system/src/components/DSLoadingLogo.vue
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/DSOpenTansition.vue
  libs/design-system/src/components/form/MultiComboboxTemplate.vue
  libs/design-system/src/utils/debounce.ts
  services/coral/business/applications/repositories/documentFolder.ts
  services/coral/business/applications/usecases/documentInFolder/userCreateDocumentInManyFolders.ts
  services/coral/business/applications/usecases/documentInFolder/userRemoveDocumentInFolder.ts
  services/coral/interfaces/repositories/documentFolder.ts
  services/lighthouse/src/libs/bridge/index.ts
  services/lighthouse/src/libs/sentry/errors/httpClientTimeoutRequestError.ts
  services/lighthouse/src/libs/sentry/errors/ignoreTimeoutRequestError.ts
  services/lighthouse/src/libs/sentry/index.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/edito/pages/CguPage.vue
  services/spotter/src/domains/user/components/CreateManyDocumentInFolderDialog.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/composables/useCreateManyDocumentInFolderDialog.ts
  services/spotter/src/domains/user/composables/useDocumentInFolderPage.ts
  services/spotter/src/domains/user/composables/useFavoritEquationNameList.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/cgu/FR-fr.ts
  services/spotter/src/lib/horizon/index.ts
  services/spotter/src/lib/sentry/errors/httpClientTimeoutRequestError.ts
  services/spotter/src/lib/sentry/errors/ignoreTimeoutRequestError.ts
  services/spotter/src/lib/sentry/index.ts
Labels: wip, spotter, design-system, lighthouse, coral

fix(hf): lot of fix
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/form/MultiComboboxTemplate.vue
  services/abys/interfaces/http/schemas/bakedDocument.ts
  services/bridge/interfaces/http/routes/reporting/bakedDocumentTranslationAggregateList.ts
  services/coral/business/applications/usecases/documentFolder/userFindManyDocumentFolderById.ts
  services/coral/interfaces/http/routes/documentInFolder/createMany.ts
  services/coral/interfaces/http/schemas/documentInFolder.ts
  services/horizon/business/entities/documentInFolder.ts
  services/horizon/interfaces/configs/documentInFolder.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/documentInFolder/createMany.ts
  services/horizon/interfaces/http/routes/documentInFolder/findMany.ts
  services/horizon/interfaces/http/routes/post/postPage.ts
  services/horizon/interfaces/providers/abys/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/utils/createBakedDocumentId.ts
  services/spotter/src/domains/user/components/CreateDocumentFolderDialog.vue
  services/spotter/src/domains/user/components/CreateManyDocumentInFolderDialog.vue
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/domains/user/composables/useCreateDocumentFolderDialog.ts
  services/spotter/src/domains/user/composables/useCreateManyDocumentInFolderDialog.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, abys, horizon, spotter, design-system, bridge, coral

fix(hf): change homepage wording
  libs/design-system/src/composables/useFormBuilder/index.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useCheckLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useMultiFieldLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useRepeatLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/createLayoutTemplate.ts
  libs/design-system/src/composables/useFormBuilder/templates/repeatLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/unionLayout.ts
  services/lighthouse/auto-imports.d.ts
  services/lighthouse/src/domains/forum/answerModeration/components/AnswerContent.vue
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

feat(93): add notification icon
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/notification/components/NotificationIcon.vue
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
Labels: wip, spotter

fix(hf): rework baked document title wrapper
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/bridge/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/interfaces/http/routes/bakedDocument.ts
  services/abys/interfaces/http/schemas/bakedDocument.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/bridge/business/entities/reporting/bakedDocumentTranslation.ts
  services/bridge/interfaces/http/routes/reporting/bakedDocumentTranslationAggregateList.ts
  services/bridge/interfaces/providers/abys/index.ts
  services/horizon/business/entities/documentInFolder.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/documentInFolder/findMany.ts
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/domains/user/composables/useDocumentInFolderPage.ts
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/documentInFolder.ts
Labels: wip, abys, horizon, spotter, bridge, lighthouse

feat(93): add feat
  README.md
  docs/features/notification/haveNew.md
Labels: wip, md

fix(hf): add service name to help with debugging
  scripts/build.sh
  scripts/lint.sh
  scripts/types.sh
Labels: wip

fix(hf): rename and move method, usecase, repo, etc
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/bottle/business/applications/usecases/notification/countNotitificationToUser.ts
  services/bottle/business/applications/usecases/notification/createReplyToPostNotification.ts
  services/bottle/business/applications/usecases/notification/createUserAnswerBanNotification.ts
  services/bottle/business/applications/usecases/notification/createUserAnswerWarningNotification.ts
  services/bottle/business/applications/usecases/notification/createUserPostBanNotification.ts
  services/bottle/business/applications/usecases/notification/createUserPostWarningNotification.ts
  services/bottle/business/applications/usecases/notification/findManyNotificationToUser.ts
  services/bottle/business/applications/usecases/setting/disableReplyToPostNotificationSettingToPost.ts
  services/bottle/business/applications/usecases/setting/enableReplyToPostNotificationSettingToPost.ts
  services/bottle/business/applications/usecases/setting/findOneReplyToPostNotificationSettingToUserByPostId.ts
  services/bottle/business/applications/usecases/user/createUser.ts
  services/bottle/business/applications/usecases/user/findUserById.ts
  services/bottle/business/applications/usecases/user/updateUser.ts
  services/bottle/interfaces/http/routes/index.ts
  services/bottle/interfaces/http/routes/notification.ts
  services/bottle/interfaces/http/routes/notification/count.ts
  services/bottle/interfaces/http/routes/notification/create.ts
  services/bottle/interfaces/http/routes/notification/findMany.ts
  services/bottle/interfaces/http/routes/notification/index.ts
  services/bottle/interfaces/http/routes/notificationSetting.ts
  services/bottle/interfaces/http/routes/setting/disable.ts
  services/bottle/interfaces/http/routes/setting/enable.ts
  services/bottle/interfaces/http/routes/setting/findOne.ts
  services/bottle/interfaces/http/routes/setting/index.ts
  services/bottle/interfaces/http/schemas/notification.ts
  services/bottle/interfaces/http/schemas/setting.ts
  services/bottle/interfaces/usecases/index.ts
  services/harbor/interfaces/providers/bottle/index.ts
  services/harbor/interfaces/providers/bottle/types/index.ts
  services/horizon/interfaces/providers/bottle/index.ts
  services/horizon/interfaces/providers/bottle/types/index.ts
  services/school/interfaces/providers/bottle/index.ts
  services/school/interfaces/providers/bottle/types/index.ts
  services/school/interfaces/repositories/notification.ts
Labels: wip, bottle, harbor, horizon, school

feat(93): add find user last notification date usecase and implem on bottle and horizon service
  services/bottle/business/applications/repositories/notification/index.ts
  services/bottle/business/applications/usecases/notification/findUserLastNotificationDate.ts
  services/bottle/interfaces/http/routes/notification/findLastDate.ts
  services/bottle/interfaces/repositories/notication/index.ts
  services/horizon/interfaces/http/routes/notification/findUserLastNotificationDate.ts
  services/horizon/interfaces/http/routes/notification/index.ts
  services/spotter/auto-imports.d.ts
Labels: wip, bottle, horizon, spotter

feat(93): implement find user last date of notifcation in spotter service
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/composables/useUserInformation.ts
Labels: wip, spotter

feat(93): fix front
  services/horizon/business/entities/notification.ts
  services/horizon/interfaces/http/routes/notification/findUserLastNotificationDate.ts
  services/spotter/src/domains/notification/components/NotificationHint.vue
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/composables/useUserInformation.ts
Labels: wip, horizon, spotter

feat(93): fix schema endpoint / entrypoint route
  services/bottle/interfaces/http/routes/notification/count.ts
  services/bottle/interfaces/http/routes/notification/create.ts
  services/bottle/interfaces/http/routes/notification/findLastDate.ts
  services/bottle/interfaces/http/routes/notification/findMany.ts
  services/bottle/interfaces/http/routes/setting/disable.ts
  services/bottle/interfaces/http/routes/setting/enable.ts
  services/bottle/interfaces/http/routes/setting/findOne.ts
  services/bottle/interfaces/http/schemas/.gitkeep
  services/bottle/interfaces/http/schemas/notification.ts
  services/bottle/interfaces/http/schemas/notification/answerBan.ts
  services/bottle/interfaces/http/schemas/notification/answerWarning.ts
  services/bottle/interfaces/http/schemas/notification/base.ts
  services/bottle/interfaces/http/schemas/notification/index.ts
  services/bottle/interfaces/http/schemas/notification/postBan.ts
  services/bottle/interfaces/http/schemas/notification/postWarning.ts
  services/bottle/interfaces/http/schemas/notification/register.ts
  services/bottle/interfaces/http/schemas/notification/replyToPost.ts
  services/bottle/interfaces/http/schemas/setting.ts
Labels: wip, bottle

feat(97): add snapshot
  docs/snapshots/create.md
  docs/snapshots/download.md
  docs/snapshots/list.md
  docs/snapshots/push.md
  docs/snapshots/restore.md
  snapshots/.env
  snapshots/scripts/create.sh
  snapshots/scripts/download-from-server.sh
  snapshots/scripts/list.sh
  snapshots/scripts/mongo/backup.sh
  snapshots/scripts/mongo/restore.sh
  snapshots/scripts/postgres/backup.sh
  snapshots/scripts/postgres/restore.sh
  snapshots/scripts/push-on-server.sh
  snapshots/scripts/restore.sh
Labels: wip

fix(hf): add back btn to anwser mod page
  services/lighthouse/src/domains/forum/answerModeration/ThePage.vue
Labels: wip, lighthouse

feat(93): fix naming
  services/bottle/business/applications/repositories/notification/index.ts
  services/bottle/interfaces/http/routes/notification/count.ts
  services/bottle/interfaces/http/routes/notification/create.ts
  services/bottle/interfaces/http/routes/notification/findLastDate.ts
  services/bottle/interfaces/http/routes/notification/findMany.ts
  services/bottle/interfaces/http/routes/setting/disable.ts
  services/bottle/interfaces/http/routes/setting/enable.ts
  services/bottle/interfaces/http/routes/setting/findOne.ts
  services/bottle/interfaces/http/schemas/notification/answerBan.ts
  services/bottle/interfaces/http/schemas/notification/answerWarning.ts
  services/bottle/interfaces/http/schemas/notification/index.ts
  services/bottle/interfaces/http/schemas/notification/postBan.ts
  services/bottle/interfaces/http/schemas/notification/postWarning.ts
  services/bottle/interfaces/http/schemas/notification/register.ts
  services/bottle/interfaces/http/schemas/notification/replyToPost.ts
  services/bottle/interfaces/repositories/notication/index.ts
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
Labels: wip, bottle, spotter

feat(95): init e2e
  .docker/node-e2e.dockerfile
  .vscode/settings.json
  e2e/.env
  e2e/.gitignore
  e2e/components/auth/authDialog.ts
  e2e/compose.yml
  e2e/envs.ts
  e2e/eslint.config.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.ts
  e2e/playwright/client.ts
  e2e/playwright/component.ts
  e2e/playwright/index.ts
  e2e/playwright/pageEngine.ts
  e2e/playwright/webSiteEngine.ts
  e2e/tsconfig.json
  e2e/vendors/eslint
  package-lock.json
  package.json
Labels: package, wip, docker

feat(95): start first e2e test
  compose.yml
  e2e/.env
  e2e/components/auth/authDialog.ts
  e2e/components/header.ts
  e2e/compose.yml
  e2e/package-lock.json
  e2e/package.json
  e2e/pages/home.ts
  e2e/playwright.config.ts
  e2e/playwright/actions.ts
  e2e/playwright/client.ts
  e2e/playwright/componentEngine.ts
  e2e/playwright/index.ts
  e2e/playwright/pageEngine.ts
  e2e/playwright/webSiteEngine.ts
  e2e/tests/auth/register.spec.ts
  e2e/tsconfig.json
  libs/design-system/src/components/ui/dialog/DSDialog.vue
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  package-lock.json
  package.json
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/auth/components/AuthDialog.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/notification/composables/useNotificationListPage.ts
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/vite.config.ts
Labels: package, wip, spotter, design-system, docker

feat(95): passe firebase sso
  e2e/.env
  e2e/.gitignore
  e2e/components/auth/authDialog.ts
  e2e/components/header.ts
  e2e/compose.yml
  e2e/envs.ts
  e2e/package.json
  e2e/pages/home.ts
  e2e/playwright.config.ts
  e2e/playwright/actions.ts
  e2e/playwright/assertions.ts
  e2e/playwright/componentEngine.ts
  e2e/playwright/createStepEmbeder.ts
  e2e/playwright/index.ts
  e2e/playwright/pageEngine.ts
  e2e/providers/firebase/evalSetupFirebaseAuth.ts
  e2e/providers/firebase/index.ts
  e2e/providers/localStorage.ts
  e2e/tests/auth.spec.ts
  e2e/tests/auth/register.spec.ts
  e2e/tsconfig.json
  libs/design-system/src/components/form/CheckLayoutTemplate.vue
  libs/design-system/src/components/form/FormTemplate.vue
  libs/design-system/src/composables/useFormBuilder/index.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useCheckLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useMultiFieldLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useRepeatLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useUnionLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/checkLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/multiLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/repeatLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/unionLayout.ts
  package-lock.json
  services/harbor/interfaces/providers/firebase/index.ts
  services/rosetta/package.json
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/auth/components/AuthDialog.vue
  services/spotter/src/lib/firebase/index.ts
  services/spotter/src/lib/horizon/index.ts
Labels: wip, harbor, rosetta, spotter, design-system

feat(95): register test
  e2e/components/accountDropdown.ts
  e2e/components/auth/authDialog.ts
  e2e/components/sonner.ts
  e2e/playwright/actions.ts
  e2e/playwright/assertions.ts
  e2e/playwright/componentEngine.ts
  e2e/playwright/pageEngine.ts
  e2e/playwright/webSiteEngine.ts
  e2e/tests/auth.spec.ts
  libs/design-system/src/components/form/BaseLayoutTemplate.vue
  services/spotter/src/domains/auth/components/AuthDialog.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
Labels: wip, spotter, design-system

feat(95): add CI
  .github/workflows/e2e.yml
  e2e/playwright.config.ts
Labels: github, wip

fix(hf): e2e ci
  .github/workflows/e2e.yml
Labels: github, wip

fix(hf): install vue use
  package-lock.json
  services/spotter/package.json
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/composables/useSearchPage.ts
Labels: wip, spotter

feat(99): fix image for gmail mail
  services/bottle/interfaces/providers/email/templates/baseTemplate.ts
  services/spotter/public/images/logos/logo-text.png
Labels: wip, bottle, spotter

feat(99): fix bo responsive + colors
  services/lighthouse/src/domains/forum/answerModeration/components/AnswerContent.vue
  services/lighthouse/src/domains/forum/answerModeration/components/AnswerStats.vue
  services/lighthouse/src/domains/forum/postModeration/components/PostContent.vue
  services/lighthouse/src/domains/forum/postModeration/components/PostStats.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/spotter/src/domains/search/components/scratch/partials/BoostButton.vue
Labels: wip, spotter, lighthouse

feat(99): fix home page text align
  services/spotter/src/domains/edito/pages/HomePage.vue
Labels: wip, spotter
