Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse, coral, beacon, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

design-system:
  - "libs/design-system/**/*"

bridge:
  - "services/bridge/**/*"

lighthouse:
  - "services/lighthouse/**/*"

coral:
  - "services/coral/**/*"
  
beacon:
  - "services/beacon/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

feat(99): fix accordion
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
Labels: wip, spotter, design-system

doc(100): add schema infra
  README.md
  docs/deploy/schema.md
  docs/services/abys/schema.md
  docs/services/beacon/schema.md
  docs/services/bottle/schema.md
  docs/services/bridge/schema.md
  docs/services/coral/schema.md
  docs/services/harbor/schema.md
  docs/services/horizon/schema.md
  docs/services/index.md
  docs/services/lighthouse/schema.md
  docs/services/marine-snow/schema.md
  docs/services/rosetta/schema.md
  docs/services/school/schema.md
  docs/services/sea/schema.md
  docs/services/spotter/schema.md
Labels: wip, md

feat(103): rework new translation solution
  libs/clients-type/types/beacon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/bridge/duplojsTypesCodegen.d.ts
  services/beacon/interfaces/http/checkers/bakedDocumentTranslationReportingAggregate.ts
  services/beacon/interfaces/http/routes/bakedDocumentTranslationReportingAggregate.ts
  services/beacon/interfaces/repositories/bakedDocumentTranslationReportingAggregate.ts
  services/bridge/interfaces/http/routes/bakedDocument/makeNewTranslation.ts
  services/bridge/interfaces/http/routes/index.ts
  services/bridge/interfaces/http/routes/reporting/processBakedDocumentTranslationReportingAggregate.ts
  services/bridge/interfaces/providers/abys/index.ts
  services/bridge/interfaces/providers/beacon/index.ts
  services/bridge/interfaces/providers/beacon/types.ts
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/components/PreviewTranslationDialog.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/composables/useMakeNewBakedDocumentTranslation.ts
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/composables/useProcessBakedDocumentTranslationReportingAggregate.ts
Labels: wip, bridge, lighthouse, beacon

feat(103): add coral hear async message delete user
  compose.prod.yml
  services/coral/business/applications/repositories/documentFolder.ts
  services/coral/business/applications/repositories/documentInFolder.ts
  services/coral/business/applications/repositories/favoriteEquation.ts
  services/coral/business/applications/usecases/user/deleteAllUserData.ts
  services/coral/compose.yml
  services/coral/interfaces/asyncMessage/deleteUser/index.ts
  services/coral/interfaces/asyncMessage/main.js
  services/coral/interfaces/asyncMessage/main.ts
  services/coral/interfaces/http/main.js
  services/coral/interfaces/main.ts
  services/coral/interfaces/providers/.gitkeep
  services/coral/interfaces/providers/asyncMessage/index.ts
  services/coral/interfaces/repositories/documentFolder.ts
  services/coral/interfaces/repositories/documentInFolder.ts
  services/coral/interfaces/repositories/favoriteEquation.ts
  services/coral/interfaces/usecase/index.ts
  services/coral/package.json
Labels: wip, coral, docker

feat(103): implemente on spotter
  libs/clean/scripts/entity.ts
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/bottle/business/applications/usecases/user/anonymizeUser.ts
  services/harbor/business/applications/usecases/deleteUser.ts
  services/harbor/interfaces/http/routes/user/delete.ts
  services/horizon/interfaces/http/routes/user.ts
  services/horizon/interfaces/providers/harbor/index.ts
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, bottle, harbor, horizon, spotter

feat(103): post listing fix
  services/school/interfaces/repositories/post.ts
Labels: wip, school

feat(103): add feature
  docs/features/user/delete.md
  docs/features/user/register.md
Labels: wip

fix(hf): optimize login click
  e2e/components/auth/authDialog.ts
  e2e/tests/auth.spec.ts
  libs/design-system/src/components/ui/button/DSButton.vue
  libs/design-system/src/components/ui/button/index.ts
  services/spotter/src/App.vue
  services/spotter/src/domains/auth/components/AuthDialog.vue
  services/spotter/src/domains/auth/components/AuthDialog/AuthDialog.vue
  services/spotter/src/domains/auth/components/AuthDialog/partial/LoginButtons.vue
  services/spotter/src/domains/auth/components/AuthDialog/partial/LoginButtonsSkeleton.vue
  services/spotter/src/lib/firebase/index.ts
Labels: wip, spotter, design-system

fix(hf): add scope to duplo sentry
  libs/duplo-plugins/plugins/debug.ts
Labels: wip

fix(hf): google scrape
  libs/clean/scripts/utils.ts
  services/rosetta/interfaces/providers/googleScrape/index.ts
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
Labels: wip, rosetta

doc(104): add deploy
  README.md
  docs/deploy/index.md
  docs/deploy/schema.md
  docs/services/index.md
Labels: wip, md

doc(104): fix logo readme
  README.md
Labels: wip, md

doc(104): add link
  docs/features/user/register.md
  docs/services/abys/schema.md
  docs/services/beacon/schema.md
  docs/services/bottle/schema.md
  docs/services/bridge/schema.md
  docs/services/coral/schema.md
  docs/services/harbor/schema.md
  docs/services/index.md
  docs/services/school/schema.md
  docs/services/sea/schema.md
  services/spotter/src/domains/edito/pages/HomePage.vue
Labels: wip, spotter

doc(104): add sequence diagramm marineSnow to PubmedAPI
  README.md
  docs/features/document/raw/index.md
  docs/features/document/raw/pubmed.md
  docs/services/abys/schema.md
  docs/services/beacon/schema.md
  docs/services/bottle/schema.md
  docs/services/bridge/schema.md
  docs/services/coral/schema.md
  docs/services/harbor/schema.md
  docs/services/horizon/schema.md
  docs/services/index.md
  docs/services/lighthouse/schema.md
  docs/services/marine-snow/schema.md
  docs/services/rosetta/schema.md
  docs/services/school/schema.md
  docs/services/sea/schema.md
  docs/services/spotter/schema.md
Labels: wip, md

fix(107): update conf sentry (plugin debug)
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  libs/duplo-plugins/plugins/debug.ts
  services/bottle/interfaces/http/schemas/notification/replyToPost.ts
Labels: wip, bottle

fix(107): version duplojs node and optimize notification settings
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  package-lock.json
  services/abys/package.json
  services/beacon/package.json
  services/bottle/business/applications/repositories/notification/index.ts
  services/bottle/business/applications/repositories/notificationSetting/index.ts
  services/bottle/business/applications/usecases/notification/createReplyToPostNotification.ts
  services/bottle/business/applications/usecases/notification/createUserAnswerBanNotification.ts
  services/bottle/business/applications/usecases/notification/createUserAnswerWarningNotification.ts
  services/bottle/business/applications/usecases/notification/createUserPostBanNotification.ts
  services/bottle/business/applications/usecases/notification/createUserPostWarningNotification.ts
  services/bottle/business/applications/usecases/setting/enableReplyToPostNotificationSettingToPost.ts
  services/bottle/business/applications/usecases/user/createUser.ts
  services/bottle/business/domains/entities/setting/base.ts
  services/bottle/interfaces/http/schemas/notification/base.ts
  services/bottle/interfaces/repositories/notication/index.ts
  services/bottle/interfaces/repositories/notificationSetting/index.ts
  services/bottle/package.json
  services/bridge/package.json
  services/coral/package.json
  services/harbor/interfaces/http/routes/user/findOneByAccessToken.ts
  services/harbor/package.json
  services/horizon/interfaces/http/routes/notification/notificationList.ts
  services/horizon/package.json
  services/marine-snow/package.json
  services/rosetta/package.json
  services/school/package.json
  services/sea/package.json
Labels: wip, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, bridge, coral, beacon

fix(hf): e2e regiser et login
  e2e/components/accountDropdown.ts
  e2e/tests/auth.spec.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
Labels: wip, spotter

fix(hf): ignoreUndefined mongo
  libs/async-message/scripts/asyncMessage.ts
  libs/async-message/scripts/messageCollection.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/beacon/interfaces/providers/mongo/index.ts
  services/bottle/interfaces/providers/mongo/index.ts
  services/coral/interfaces/providers/mongo/index.ts
  services/school/interfaces/providers/mongo/index.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, abys, bottle, school, spotter, coral, beacon

feat(109): add adv search tuto page
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/icon/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/pages/ScratchTutorialPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter, design-system

feat(109): fix lists
  services/spotter/src/domains/search/pages/ScratchTutorialPage.vue
Labels: wip, spotter

feat(109): add tutorial link
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(109): fix colors
  services/spotter/src/domains/search/pages/ScratchTutorialPage.vue
Labels: wip, spotter

fix(hf): delete docker mac config
  compose.mac.yml
  services/sea/compose.mac.yml
  services/sea/compose.template.yml
  services/sea/compose.yml
Labels: wip, sea

feat(110): add simple search test e2e
  e2e/components/header.ts
  e2e/components/search/searchResultWrapper.ts
  e2e/components/search/simpleSearchInput.ts
  e2e/pages/simpleSearch.ts
  e2e/playwright/assertions.ts
  e2e/tests/simpleSearch.spec.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/pages/SimpleSearch.vue
Labels: wip, spotter

feat(112): add rename folder option
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  services/coral/business/applications/usecases/documentFolder/userRenameDocumentFolder.ts
  services/coral/interfaces/http/routes/documentFolder/rename.ts
  services/coral/interfaces/http/routes/index.ts
  services/coral/interfaces/usecase/index.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentFolder/rename.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, design-system, coral

fix(110): add user connexion
  .github/workflows/e2e.yml
  e2e/.env
  e2e/components/search/searchResultWrapper.ts
  e2e/envs.ts
  e2e/pages/document.ts
  e2e/playwright/assertions.ts
  e2e/playwright/client.ts
  e2e/playwright/createStepEmbeder.ts
  e2e/playwright/pageEngine.ts
  e2e/playwright/webSiteEngine.ts
  e2e/processes/connectUser/evalGetUserIdToken.ts
  e2e/processes/connectUser/index.ts
  e2e/processes/setLocalStorageItem/evalSetLocalStorageItem.ts
  e2e/processes/setLocalStorageItem/index.ts
  e2e/processes/setupFirebaseAuth/evalSetupFirebaseAuth.ts
  e2e/processes/setupFirebaseAuth/index.ts
  e2e/providers/firebase/index.ts
  e2e/providers/horizon/index.ts
  e2e/providers/localStorage.ts
  e2e/tests/auth.spec.ts
  e2e/tests/simpleSearch.spec.ts
  e2e/tsconfig.json
  e2e/vendors/clients-type
  libs/backend-logger/scripts/logger.ts
  services/spotter/src/domains/search/components/DocumentResultRow.vue
Labels: github, wip, spotter

feat(112): add rename document file option
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/coral/business/applications/usecases/documentInFolder/userRenameInDocumentFolder.ts
  services/coral/interfaces/http/routes/documentInFolder/rename.ts
  services/coral/interfaces/http/routes/index.ts
  services/coral/interfaces/usecase/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/rename.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, coral

feat(112): add default rename value
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
Labels: wip, spotter

feat(112): refacto rename routes
  services/coral/interfaces/http/routes/documentFolder/rename.ts
  services/coral/interfaces/http/routes/documentInFolder/rename.ts
Labels: wip, coral

feat(112): refacto rename forms
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  package-lock.json
  services/spotter/src/domains/user/composables/useRenameForm.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
Labels: wip, spotter

fix(hf): update obsolete dependencies
  libs/design-system/package.json
  package-lock.json
  services/spotter/package.json
Labels: wip, spotter, design-system

fix(hf): update obsolete dependencies
  libs/design-system/package.json
  package-lock.json
  services/spotter/package.json
Labels: wip, spotter, design-system

fix(110): marine snow schema
  docs/services/abys/schema.md
  docs/services/index.md
Labels: wip

fix(hf): bad css link
  services/lighthouse/index.html
  services/spotter/index.html
Labels: wip, spotter, lighthouse

fix(hf): add correct loading logo to BO
  services/lighthouse/src/components/TheLoader.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
Labels: wip, lighthouse

feat(109): split tutorial trad
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/tutorial/Fr-fr.ts
Labels: wip, spotter

fix(110): rework auth e2e test
  .github/workflows/e2e.yml
  e2e/.env
  e2e/envs.ts
  e2e/playwright.config.ts
  e2e/playwright/webSiteEngine.ts
  e2e/tests/auth.spec.ts
Labels: github, wip

feat(115): add libre translate api key
  services/lighthouse/src/libs/bridge/index.ts
  services/rosetta/.env
  services/rosetta/interfaces/envs.ts
  services/rosetta/interfaces/providers/libretranslate/index.ts
  services/spotter/src/lib/horizon/index.ts
Labels: wip, rosetta, spotter, lighthouse

fix:marineSnow(117): remove wrong relation
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/providers/prisma/schema/migrations/20250725130501_remove_send_one_link_search_result/migration.sql
  services/marine-snow/interfaces/providers/prisma/schema/migrations/migration_lock.toml
Labels: wip, marine-snow

fix:marineSnow(117): add support new pubmed code type article
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/utils.ts
Labels: wip, marine-snow
