Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

add: base config snippet
  .vscode/snippets.code-snippets
Labels: wip

add: readme.md
  README.md
Labels: wip, md

udpate; readme.md
  README.md
Labels: wip, md

init horizon base service
  services/horizon/.env
  services/horizon/.env.local.exemple
  services/horizon/.gitignore
  services/horizon/eslint.config.ts
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/main.ts
  services/horizon/interfaces/routes/index.ts
  services/horizon/package.json
  services/horizon/tsconfig.json
Labels: wip, horizon

add business folder
  services/horizon/business/.gitkeep
Labels: wip, horizon

add: docker config dev
  .docker/node-installer.compose.yml
  .docker/template-mongo.compose.yml
  .docker/template-node.compose.yml
  .env
  compose.prod.yml
  compose.yml
  services/abys/.env.exemple
  services/abys/compose.yml
  services/bottle/.env.exemple
  services/bottle/compose.yml
  services/colossal/compose.yml
  services/harbor/.env.exemple
  services/harbor/compose.yml
  services/horizon/compose.yml
  services/marine-snow/compose.yml
  services/pilot/compose.yml
  services/rosetta/Dockerfile
  services/rosetta/compose.yml
  services/school/compose.yml
  services/sea/.gitkeep
  services/sea/compose.yml
  services/spotter/compose.prod.yml
  services/spotter/compose.yml
  services/tide/compose.yml
Labels: wip, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, docker

finish front
  libs/clients-type/types/.gitkeep
  libs/design-system/components.json
  libs/design-system/config/index.d.ts
  libs/design-system/config/index.mjs
  libs/design-system/eslint.config.ts
  libs/design-system/package.json
  libs/design-system/src/components/ui/button/DSButton.vue
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/input/DSInput.vue
  libs/design-system/src/components/ui/input/index.ts
  libs/design-system/src/index.css
  libs/design-system/src/index.ts
  libs/design-system/vendors/eslint
  libs/eslint/index.ts
  package-lock.json
  services/horizon/.env.exemple
  services/spotter/components.d.ts
  services/spotter/eslint.config.ts
  services/spotter/package.json
  services/spotter/src/App.vue
  services/spotter/src/style.css
  services/spotter/tsconfig.app.json
  services/spotter/tsconfig.node.json
  services/spotter/vendors/clients-type
  services/spotter/vendors/design-system
  services/spotter/vendors/eslint
  services/spotter/vite.config.ts
Labels: wip, horizon, spotter, design-system

add dependency dotenv + dotenv-expand for horizon service
  package-lock.json
  services/horizon/package.json
Labels: wip, horizon

edit horizon
  services/horizon/eslint.config.ts
  services/horizon/interfaces/main.ts
  services/horizon/tsconfig.json
  services/horizon/vendors/clients-type
  services/horizon/vendors/eslint
Labels: wip, horizon

add: rosetta config
  services/rosetta/package.json
Labels: wip, rosetta

add: abys config
  package-lock.json
  services/abys/.env
  services/abys/.env.local.exemple
  services/abys/.gitignore
  services/abys/business/.gitkeep
  services/abys/eslint.config.ts
  services/abys/interfaces/envs.ts
  services/abys/interfaces/main.ts
  services/abys/interfaces/routes/index.ts
  services/abys/package.json
  services/abys/tsconfig.json
  services/abys/vendors/clients-type
  services/abys/vendors/eslint
Labels: wip, abys

init school base service
  services/horizon/package.json
  services/school/.env
  services/school/.gitignore
  services/school/business/.gitkeep
  services/school/eslint.config.ts
  services/school/interfaces/envs.ts
  services/school/interfaces/main.ts
  services/school/interfaces/routes/index.ts
  services/school/package.json
  services/school/tsconfig.json
  services/school/vendors/clients-type
  services/school/vendors/eslint
Labels: wip, horizon, school

add: bottle config
  services/bottle/.env
  services/bottle/.env.local.exemple
  services/bottle/.gitignore
  services/bottle/business/.gitkeep
  services/bottle/eslint.config.ts
  services/bottle/interfaces/envs.ts
  services/bottle/interfaces/main.ts
  services/bottle/interfaces/routes/index.ts
  services/bottle/package.json
  services/bottle/tsconfig.json
  services/bottle/vendors/clients-type
  services/bottle/vendors/eslint
Labels: wip, bottle

fix eslint
  libs/clean/eslint.config.ts
  libs/clean/package.json
  libs/clean/tsconfig.json
  libs/clean/vendors/eslint
  libs/eslint/scripts/vue.ts
  services/spotter/eslint.config.ts
Labels: wip, spotter

add: harbor config
  services/harbor/.env
  services/harbor/.env.local.exemple
  services/harbor/.gitignore
  services/harbor/business/.gitkeep
  services/harbor/eslint.config.ts
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/main.ts
  services/harbor/interfaces/routes/index.ts
  services/harbor/package.json
  services/harbor/tsconfig.json
  services/harbor/vendors/clients-type
  services/harbor/vendors/eslint
Labels: wip, harbor

add: marine-snow config
  services/marine-snow/.env
  services/marine-snow/.env.local.exemple
  services/marine-snow/.gitignore
  services/marine-snow/business/.gitkeep
  services/marine-snow/eslint.config.ts
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/main.ts
  services/marine-snow/interfaces/routes/index.ts
  services/marine-snow/tsconfig.json
  services/marine-snow/vendors/clients-type
  services/marine-snow/vendors/eslint
Labels: wip, marine-snow

init pilot vue app
  package-lock.json
  services/pilot/.gitignore
  services/pilot/auto-imports.d.ts
  services/pilot/components.d.ts
  services/pilot/eslint.config.ts
  services/pilot/index.html
  services/pilot/package.json
  services/pilot/public/vite.svg
  services/pilot/src/App.vue
  services/pilot/src/assets/.gitkeep
  services/pilot/src/components/.gitkeep
  services/pilot/src/composables/.gitkeep
  services/pilot/src/domains/.gitkeep
  services/pilot/src/i18n/index.ts
  services/pilot/src/i18n/languages/FR-fr.ts
  services/pilot/src/main.ts
  services/pilot/src/router/index.ts
  services/pilot/src/style.css
  services/pilot/src/vite-env.d.ts
  services/pilot/tsconfig.app.json
  services/pilot/tsconfig.json
  services/pilot/tsconfig.node.json
  services/pilot/vendors/clients-type
  services/pilot/vendors/design-system
  services/pilot/vendors/eslint
  services/pilot/vite.config.ts
Labels: wip, pilot

add: tide config
  package-lock.json
  services/tide/.gitignore
  services/tide/auto-imports.d.ts
  services/tide/components.d.ts
  services/tide/eslint.config.ts
  services/tide/index.html
  services/tide/package.json
  services/tide/public/vite.svg
  services/tide/src/App.vue
  services/tide/src/assets/.gitkeep
  services/tide/src/components/.gitkeep
  services/tide/src/composables/.gitkeep
  services/tide/src/domains/.gitkeep
  services/tide/src/i18n/index.ts
  services/tide/src/i18n/languages/FR-fr.ts
  services/tide/src/main.ts
  services/tide/src/router/index.ts
  services/tide/src/style.css
  services/tide/src/vite-env.d.ts
  services/tide/tsconfig.app.json
  services/tide/tsconfig.json
  services/tide/tsconfig.node.json
  services/tide/vendors/clients-type
  services/tide/vendors/design-system
  services/tide/vendors/eslint
  services/tide/vite.config.ts
Labels: wip, tide

edit: config vite pilot
  services/pilot/vite.config.ts
Labels: wip, pilot

add: colossal config
  package-lock.json
  services/colossal/.gitignore
  services/colossal/auto-imports.d.ts
  services/colossal/components.d.ts
  services/colossal/eslint.config.ts
  services/colossal/index.html
  services/colossal/public/vite.svg
  services/colossal/src/App.vue
  services/colossal/src/assets/.gitkeep
  services/colossal/src/components/.gitkeep
  services/colossal/src/composables/.gitkeep
  services/colossal/src/domains/.gitkeep
  services/colossal/src/i18n/index.ts
  services/colossal/src/i18n/languages/FR-fr.ts
  services/colossal/src/main.ts
  services/colossal/src/router/index.ts
  services/colossal/src/style.css
  services/colossal/src/vite-env.d.ts
  services/colossal/tsconfig.app.json
  services/colossal/tsconfig.json
  services/colossal/tsconfig.node.json
  services/colossal/vendors/clients-type
  services/colossal/vendors/design-system
  services/colossal/vendors/eslint
  services/colossal/vite.config.ts
  services/tide/tsconfig.app.json
Labels: wip, colossal, tide

add: sea config
  .docker/node-installer.compose.yml
  .docker/template-node.compose.yml
  package-lock.json
  package.json
  services/abys/.env
  services/abys/compose.yml
  services/bottle/.env
  services/bottle/.env.local.exemple
  services/bottle/compose.yml
  services/colossal/compose.yml
  services/colossal/package.json
  services/harbor/.env
  services/harbor/.env.local.exemple
  services/harbor/compose.yml
  services/horizon/compose.yml
  services/marine-snow/.env.local.exemple
  services/marine-snow/compose.yml
  services/marine-snow/package.json
  services/pilot/compose.yml
  services/school/compose.yml
  services/sea/.env
  services/sea/.env.local.exemple
  services/sea/.gitignore
  services/sea/business/.gitkeep
  services/sea/compose.yml
  services/sea/interfaces/envs.ts
  services/sea/interfaces/main.ts
  services/sea/interfaces/routes/index.ts
  services/sea/package.json
  services/sea/tsconfig.json
  services/sea/vendors/clients-type
  services/sea/vendors/eslint
  services/spotter/compose.yml
  services/tide/compose.yml
Labels: package, wip, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, school, sea, spotter, tide, docker

init spotter
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/App.vue
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/composables/useLoader.ts
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/edito/router.ts
  services/spotter/src/layouts/BaseLayout.vue
  services/spotter/src/router/index.ts
  services/spotter/src/router/routerPageName/index.ts
  services/spotter/tsconfig.app.json
Labels: wip, spotter

update: readme
  README.md
Labels: wip, md

add: eslasticsearch config
  services/sea/compose.yml
Labels: wip, sea

add clean libs
  .vscode/settings.json
  libs/clean/eslint.config.ts
  libs/clean/package.json
  libs/clean/scripts/entity.ts
  libs/clean/scripts/index.ts
  libs/clean/scripts/repository.ts
  libs/clean/scripts/usecase.ts
  libs/clean/scripts/valueObject.ts
  libs/eslint/scripts/index.ts
  libs/eslint/scripts/vue.ts
  package-lock.json
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/business/domains/common/createdAt.ts
  services/marine-snow/business/domains/common/provider.ts
  services/marine-snow/business/domains/common/url.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/vendors/clean
Labels: wip, marine-snow

clean add usecase
  libs/clean/scripts/index.ts
  libs/clean/scripts/repository.ts
  libs/clean/scripts/usecase.ts
  services/marine-snow/business/applications/usecases/findSearchResultForOneDay.ts
Labels: wip, marine-snow

add applications and domains layer for horizon and school service
  services/horizon/business/applications/repositories/.gitkeep
  services/horizon/business/applications/usecases/.gitkeep
  services/horizon/business/domains/entities/.gitkeep
  services/horizon/business/domains/value-objects/.gitkeep
  services/school/business/applications/repositories/.gitkeep
  services/school/business/applications/usecases/.gitkeep
  services/school/business/domains/entities/.gitkeep
  services/school/business/domains/value-objects/.gitkeep
Labels: wip, horizon, school

TU clean
  .gitignore
  libs/clean/package.json
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/repository.test.ts
  libs/clean/scripts/usecase.test.ts
  libs/clean/scripts/usecase.ts
  libs/clean/scripts/valueObject.test.ts
  libs/clean/tsconfig.json
  libs/clean/vitest.config.ts
  package-lock.json
Labels: wip

fix: searchResult Entity
  services/marine-snow/business/domains/entities/searchResult.ts
Labels: wip, marine-snow

feat: business import one day search results from provider
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/searchResultProvider.ts
  services/marine-snow/business/applications/usecases/findSearchResultForOneDay.ts
  services/marine-snow/business/applications/usecases/importOneDaySearchResultsFromProvider.ts
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/business/domains/common/createdAt.ts
  services/marine-snow/business/domains/common/provider.ts
  services/marine-snow/business/domains/common/url.ts
  services/marine-snow/business/domains/entities/searchResult.ts
Labels: wip, marine-snow

fix routerPageName auto import
  services/spotter/auto-imports.d.ts
  services/spotter/vite.config.ts
Labels: wip, spotter

fix: clean entity
  .gitignore
  .vscode/settings.json
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  package-lock.json
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/interfaces/providers/prisma/dev.db
  services/marine-snow/interfaces/providers/prisma/dev.db-journal
  services/marine-snow/interfaces/providers/prisma/index.ts
  services/marine-snow/interfaces/providers/prisma/migrations/20250318150339_/migration.sql
  services/marine-snow/interfaces/providers/prisma/migrations/20250318171608_/migration.sql
  services/marine-snow/interfaces/providers/prisma/migrations/migration_lock.toml
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/package.json
  services/marine-snow/tsconfig.json
Labels: wip, marine-snow

feat: add class to handler cluster of worker
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed.ts
  services/marine-snow/interfaces/repositories/searchResultProvider.ts
  services/marine-snow/interfaces/worker/index.ts
  services/marine-snow/interfaces/worker/main.ts
  services/marine-snow/interfaces/worker/missions/searchResult.ts
Labels: wip, marine-snow

refacto(01): exclude tunit vendors tsconfig
  commitlint.config.js
  libs/design-system/tsconfig.json
  libs/design-system/tsconfig.tsbuildinfo
  services/abys/tsconfig.json
  services/bottle/tsconfig.json
  services/harbor/tsconfig.json
  services/horizon/tsconfig.json
  services/marine-snow/tsconfig.json
  services/school/tsconfig.json
  services/sea/tsconfig.json
Labels: wip, abys, bottle, harbor, horizon, marine-snow, school, sea, design-system

refacto(01): update commit config
  .husky/pre-push
  commitlint.config.js
Labels: wip

fix(01): fix action test
  .github/workflows/test.yml
  .husky/pre-push
  libs/clean/scripts/entity.ts
Labels: github, wip

fix(01): fix ts error and lint error
  README.md
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/providers/prisma/.gitignore
  services/marine-snow/interfaces/repositories/searchResultProvider.ts
  services/marine-snow/interfaces/worker/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, md, marine-snow

refacto(01): with concurently
  .husky/pre-push
Labels: wip

fix(01): action test prisma generate
  .github/check-title.json
  .github/workflows/check-title.yml
  .github/workflows/test.yml
Labels: github, wip

fix(01): fix command
  .husky/pre-push
  libs/design-system/package.json
  libs/design-system/tsconfig.tsbuildinfo
  libs/eslint/scripts/index.ts
  package.json
  scripts/lint.sh
  scripts/tu.sh
  scripts/types.sh
  services/abys/package.json
  services/abys/tsconfig.json
  services/bottle/package.json
  services/bottle/tsconfig.json
  services/colossal/package.json
  services/harbor/package.json
  services/harbor/tsconfig.json
  services/horizon/package.json
  services/horizon/tsconfig.json
  services/marine-snow/interfaces/worker/missions/searchResult.ts
  services/marine-snow/package.json
  services/marine-snow/tsconfig.json
  services/pilot/package.json
  services/school/package.json
  services/school/tsconfig.json
  services/sea/package.json
  services/sea/tsconfig.json
  services/spotter/package.json
  services/tide/package.json
Labels: package, wip, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, school, sea, spotter, tide, design-system
