Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse, coral, beacon, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

design-system:
  - "libs/design-system/**/*"

bridge:
  - "services/bridge/**/*"

lighthouse:
  - "services/lighthouse/**/*"

coral:
  - "services/coral/**/*"
  
beacon:
  - "services/beacon/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

feat(60): refacto business + technical
  services/bottle/business/applications/usecases/createAndSendUserPostWarning.ts
  services/bottle/business/domains/entities/notification/userPostBan.ts
  services/bottle/business/domains/entities/notification/userPostWarning.ts
  services/harbor/business/applications/repositories/warning.ts
  services/harbor/business/applications/usecases/createBanNotification.ts
  services/harbor/business/applications/usecases/createPostUserWarning.ts
  services/harbor/business/applications/usecases/createPostWarning.ts
  services/harbor/business/applications/usecases/makeUserBan.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/business/domains/entities/warning/base.ts
  services/harbor/business/domains/entities/warning/index.ts
  services/harbor/business/domains/entities/warning/post.ts
  services/harbor/business/domains/entities/warning/postWarning.ts
  services/harbor/interfaces/http/routes/warning.ts
  services/harbor/interfaces/http/schemas/warning.ts
  services/harbor/interfaces/providers/prisma/index.ts
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/warning.ts
  services/harbor/interfaces/usecases/index.ts
  services/school/business/applications/repositories/userBanned.ts
  services/school/business/applications/usecases/findOldestUnprocessedPost.ts
  services/school/business/applications/usecases/indicatePostIsCompliant.ts
  services/school/business/applications/usecases/indicatePostIsNotCompliant.ts
  services/school/business/domains/entities/post.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/http/schemas/post.ts
  services/school/interfaces/providers/bottle/index.ts
  services/school/interfaces/repositories/post.ts
  services/school/interfaces/usecase/index.ts
Labels: wip, bottle, harbor, school

feat(60): refacto moderation page on lighthouse
  services/lighthouse/src/domains/post/postModeration/ThePage.vue
  services/lighthouse/src/domains/post/postModeration/components/PostModeration.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
Labels: wip, lighthouse

feat(60): correct notification schema
  services/horizon/business/entities/notification.ts
Labels: wip, horizon

feat(60): delete school provider on harbor
  services/harbor/.env
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/providers/school/index.ts
Labels: wip, harbor

feat(60): correct type error
  services/school/interfaces/http/routes/post.ts
Labels: wip, school

feat(60): correct type error after push
  services/school/business/applications/usecases/createPost.ts
Labels: wip, school

feat(60): add namespace organization for bridge
  services/bridge/interfaces/http/routes/index.ts
  services/bridge/interfaces/http/routes/post/findOldestUnprocessed.ts
  services/bridge/interfaces/http/routes/warning/create.ts
Labels: wip, bridge

feat(60): add trad report page
  libs/design-system/package.json
  libs/design-system/src/components/ui/badge/index.ts
  libs/design-system/src/components/ui/card/DSCard.vue
  libs/design-system/src/components/ui/dialog/DSDialog.vue
  libs/design-system/src/components/ui/icon/index.ts
  libs/design-system/src/components/ui/separator/DSSeparator.vue
  package-lock.json
  services/lighthouse/components.d.ts
  services/lighthouse/src/domains/post/postModeration/components/PostContent.vue
  services/lighthouse/src/domains/post/postModeration/components/PostModeration.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/components/PreviewDocument.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/components/PreviewTranslationDialog.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/spotter/components.d.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

feat(78): add truncation
  docs/features/search/advenced/comparator.md
  docs/features/search/advenced/index.md
  docs/features/search/advenced/operator.md
Labels: wip

feat(60): add type on json prisma
  package-lock.json
  services/harbor/interfaces/providers/prisma/index.ts
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/warning.ts
  services/harbor/package.json
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/package.json
Labels: wip, harbor, marine-snow

fix(hf): rename doc folder
  docs/features/reportingBakedDocumentTranslation/create.md
  docs/features/reportingBakedDocumentTranslation/manage.md
Labels: wip

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  services/horizon/.env
  services/horizon/business/entities/documentFolder.ts
  services/horizon/interfaces/configs/documentFolder.ts
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/documentFolder/create.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentFolder/list.ts
  services/horizon/interfaces/http/routes/documentFolder/page.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/rosetta/compose.yml
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/components/DialogCreateDocumentFolder.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/composables/useCreateDocumentFolderDialog.ts
  services/spotter/src/domains/user/composables/useCreateDocumentFolderForm.ts
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/documentFolder.ts
  services/spotter/src/router/index.ts
Labels: wip, horizon, rosetta, spotter, design-system

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/coral/interfaces/repositories/documentFolder.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentFolder/list.ts
  services/horizon/interfaces/http/routes/documentFolder/remove.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/components/DialogCreateDocumentFolder.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/composables/useCreateDocumentFolderForm.ts
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/composables/useRemoveDocumentFolderDialog.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolderList.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, horizon, spotter, coral

fix(hf): remove the view/max-lens setting on translations
  libs/eslint/scripts/vue.ts
Labels: wip

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/harbor/.env
  services/horizon/business/entities/documentInFolder.ts
  services/horizon/interfaces/configs/documentInFolder.ts
  services/horizon/interfaces/http/checkers/documentFolder.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/documentInFolder/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/list.ts
  services/horizon/interfaces/http/routes/documentInFolder/page.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/domains/user/components/DocumentInFolderSeparatorItem.vue
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolderList.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/router/index.ts
Labels: wip, harbor, horizon, spotter

feat(60): correct trad form postModeration
  services/lighthouse/src/i18n/languages/FR-fr.ts
Labels: wip, lighthouse

feat(60): update form
  libs/design-system/src/components/form/CheckboxTemplate.vue
  libs/design-system/src/components/form/MultiLayoutTemplate.vue
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
  services/lighthouse/src/domains/forum/postModeration/ThePage.vue
Labels: wip, design-system, lighthouse

feat(60): template add params
  libs/design-system/src/components/form/MultiLayoutTemplate.vue
  services/lighthouse/src/domains/forum/postModeration/composables/usePostModerationForm.ts
Labels: wip, design-system, lighthouse

feat(60): update translate
  services/lighthouse/src/domains/forum/postModeration/ThePage.vue
  services/lighthouse/src/domains/forum/postModeration/composables/usePostModerationForm.ts
  services/lighthouse/src/i18n/languages/FR-fr.ts
Labels: wip, lighthouse

feat(81): add replace validation
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/DSValidationDialog.vue
  libs/design-system/src/components/form/FormTemplate.vue
  libs/design-system/src/composables/useValidationDialog.ts
  services/coral/interfaces/http/routes/favoriteEquation/findMany.ts
  services/coral/interfaces/http/routes/favoriteEquation/findOne.ts
  services/coral/interfaces/http/routes/favoriteEquation/remove.ts
  services/coral/interfaces/http/schemas/favoriteEquation.ts
  services/horizon/business/entities/favoriteEquation.ts
  services/horizon/interfaces/http/routes/favoriteEquation/list.ts
  services/horizon/interfaces/http/routes/favoriteEquation/remove.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/lighthouse/auto-imports.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
  services/spotter/src/domains/user/components/AddToFavoriteEquation.vue
  services/spotter/src/domains/user/composables/useFavoritEquationNameList.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, design-system, lighthouse, coral

fix(hf): rework autentification && handle banned user
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/harbor/interfaces/http/schemas/user.ts
  services/horizon/interfaces/http/routes/answer.ts
  services/horizon/interfaces/http/routes/favoriteEquation/findOne.ts
  services/horizon/interfaces/http/routes/favoriteEquation/list.ts
  services/horizon/interfaces/http/routes/favoriteEquation/remove.ts
  services/horizon/interfaces/http/routes/favoriteEquation/upsert.ts
  services/horizon/interfaces/http/routes/notification/notificationList.ts
  services/horizon/interfaces/http/routes/notification/notificationListPage.ts
  services/horizon/interfaces/http/routes/notification/togglePostNotitifcation.ts
  services/horizon/interfaces/http/routes/post/createPost.ts
  services/horizon/interfaces/http/routes/post/postPage.ts
  services/horizon/interfaces/http/routes/reporting.ts
  services/horizon/interfaces/http/routes/user.ts
  services/horizon/interfaces/http/security/authentication.ts
  services/horizon/interfaces/http/security/mustBeConnected.ts
  services/horizon/interfaces/http/security/optionalAuthentication.ts
  services/spotter/src/domains/user/composables/useUserInformation.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/index.ts
Labels: wip, harbor, horizon, spotter

feat(73): add document in folder page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/business/entities/documentInFolder.ts
  services/horizon/interfaces/http/routes/documentFolder/findMany.ts
  services/horizon/interfaces/http/routes/documentFolder/findOne.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/findMany.ts
  services/horizon/interfaces/http/routes/documentInFolder/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/page.ts
  services/horizon/interfaces/http/routes/documentInFolder/remove.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/src/domains/user/components/DialogCreateDocumentFolder.vue
  services/spotter/src/domains/user/components/DocumentFolderHeader.vue
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/composables/useDocumentInFolderPage.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/documentInFolder.ts
Labels: wip, horizon, spotter

fix(hf): pagination
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/ui/pagination/DSPagination.vue
  services/horizon/interfaces/configs/favoritEquation.ts
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/user/components/AddToFavoriteEquation.vue
Labels: wip, horizon, spotter, design-system

feat(84): UX improvements + trad fix
  libs/design-system/src/components/DSClickableText.vue
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  libs/design-system/src/components/ui/dialog/DSDialogHeader.vue
  services/lighthouse/components.d.ts
  services/lighthouse/src/components/BackButton.vue
  services/lighthouse/src/domains/forum/postModeration/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/spotter/components.d.ts
  services/spotter/src/components/BackButton.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/scratch/partials/BoostButton.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/components/AddToFavoriteEquation.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

feat(84): add cgu page
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/edito/pages/CguPage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/edito/router.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/cgu/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter

feat(84): fix module card
  services/lighthouse/src/domains/dashboard/dashboardPage/components/ModuleCard.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, lighthouse

fix(hf): update user feature
  docs/features/user/rename.md
  docs/features/user/update.md
Labels: wip

fix(hf): register user feature
  docs/features/user/register.md
Labels: wip

fix(hf): fix some buttons
  services/spotter/src/domains/notification/components/BellButton.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
Labels: wip, spotter

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/DSComboBox.vue
  libs/design-system/src/components/form/MultiComboboxTemplate.vue
  libs/design-system/src/components/ui/icon/index.ts
  libs/design-system/src/utils/formFields.ts
  services/horizon/interfaces/http/routes/documentInFolder/add.ts
  services/horizon/interfaces/http/routes/documentInFolder/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/lighthouse/auto-imports.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/user/components/AddDocumentInFolderDialog.vue
  services/spotter/src/domains/user/composables/useAddDocumentInFolderDialog.ts
  services/spotter/src/domains/user/composables/useCreateDocumentFolderDialog.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, design-system, lighthouse

fix(hf): rename doc folder
  docs/features/reportingBakedDocumentTranslation/create.md
  docs/features/reportingBakedDocumentTranslation/manage.md
Labels: wip

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  services/horizon/business/entities/documentFolder.ts
  services/horizon/interfaces/configs/documentFolder.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/documentFolder/create.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentFolder/list.ts
  services/horizon/interfaces/http/routes/documentFolder/page.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/lighthouse/auto-imports.d.ts
  services/rosetta/compose.yml
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/components/DialogCreateDocumentFolder.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/composables/useCreateDocumentFolderDialog.ts
  services/spotter/src/domains/user/composables/useCreateDocumentFolderForm.ts
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/documentFolder.ts
  services/spotter/src/router/index.ts
Labels: wip, horizon, rosetta, spotter, design-system, lighthouse

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/coral/interfaces/repositories/documentFolder.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentFolder/list.ts
  services/horizon/interfaces/http/routes/documentFolder/remove.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/components/DialogCreateDocumentFolder.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/composables/useCreateDocumentFolderForm.ts
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/composables/useRemoveDocumentFolderDialog.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolderList.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, horizon, spotter, coral

fix(hf): remove the view/max-lens setting on translations
  libs/eslint/scripts/vue.ts
Labels: wip

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/harbor/.env
  services/horizon/business/entities/documentInFolder.ts
  services/horizon/interfaces/configs/documentInFolder.ts
  services/horizon/interfaces/http/checkers/documentFolder.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/documentInFolder/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/list.ts
  services/horizon/interfaces/http/routes/documentInFolder/page.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/domains/user/components/DocumentInFolderSeparatorItem.vue
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolderList.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/router/index.ts
Labels: wip, harbor, horizon, spotter

feat(73): add document in folder page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/business/entities/documentInFolder.ts
  services/horizon/interfaces/http/routes/documentFolder/findMany.ts
  services/horizon/interfaces/http/routes/documentFolder/findOne.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/findMany.ts
  services/horizon/interfaces/http/routes/documentInFolder/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/page.ts
  services/horizon/interfaces/http/routes/documentInFolder/remove.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/src/domains/user/components/DialogCreateDocumentFolder.vue
  services/spotter/src/domains/user/components/DocumentFolderHeader.vue
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/composables/useDocumentInFolderPage.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/documentInFolder.ts
Labels: wip, horizon, spotter

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/DSComboBox.vue
  libs/design-system/src/components/form/MultiComboboxTemplate.vue
  libs/design-system/src/components/ui/icon/index.ts
  libs/design-system/src/utils/formFields.ts
  services/horizon/interfaces/http/routes/documentInFolder/add.ts
  services/horizon/interfaces/http/routes/documentInFolder/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/lighthouse/auto-imports.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/user/components/AddDocumentInFolderDialog.vue
  services/spotter/src/domains/user/composables/useAddDocumentInFolderDialog.ts
  services/spotter/src/domains/user/composables/useCreateDocumentFolderDialog.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, design-system, lighthouse

feat(73): fix dialog
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/interfaces/http/routes/documentFolder/findMany.ts
  services/spotter/src/domains/user/components/CreateManyDocumentInFolderDialog.vue
  services/spotter/src/domains/user/composables/useCreateManyDocumentInFolderDialog.ts
Labels: wip, horizon, spotter

feat(73): fix rebase main
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/interfaces/http/routes/documentFolder/create.ts
  services/horizon/interfaces/http/routes/documentFolder/dialog.ts
  services/horizon/interfaces/http/routes/documentFolder/findMany.ts
  services/horizon/interfaces/http/routes/documentFolder/findOne.ts
  services/horizon/interfaces/http/routes/documentFolder/page.ts
  services/horizon/interfaces/http/routes/documentFolder/remove.ts
  services/horizon/interfaces/http/routes/documentInFolder/createMany.ts
  services/horizon/interfaces/http/routes/documentInFolder/findMany.ts
  services/horizon/interfaces/http/routes/documentInFolder/page.ts
  services/horizon/interfaces/http/routes/documentInFolder/remove.ts
Labels: wip, horizon

fix(hf): node version nvmrc + package
  .nvmrc
  package-lock.json
  package.json
Labels: package, wip
