Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

fix(hf): change loader
  libs/design-system/src/index.css
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system

fix(hf): images
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
Labels: wip, spotter

feat(13): add result pagination
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/pagination/DSPaginationEllipsis.vue
  libs/design-system/src/components/ui/pagination/DSPaginationFirst.vue
  libs/design-system/src/components/ui/pagination/DSPaginationLast.vue
  libs/design-system/src/components/ui/pagination/DSPaginationNext.vue
  libs/design-system/src/components/ui/pagination/DSPaginationPrev.vue
  libs/design-system/src/components/ui/pagination/index.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/SearchResutPagination.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter, design-system

feat(13): add search result page
  libs/design-system/src/components/ui/card/DSCard.vue
  libs/design-system/src/components/ui/card/DSCardContent.vue
  libs/design-system/src/components/ui/card/DSCardDescription.vue
  libs/design-system/src/components/ui/card/DSCardFooter.vue
  libs/design-system/src/components/ui/card/DSCardHeader.vue
  libs/design-system/src/components/ui/card/DSCardTitle.vue
  libs/design-system/src/components/ui/card/index.ts
  libs/design-system/src/components/ui/tabs/DSTabsTrigger.vue
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/router.ts
Labels: wip, spotter, design-system

feat(13): add result display pref to localstorage
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/vite.config.ts
Labels: wip, spotter

feat(13): rebase
  libs/design-system/src/components/DSImage.vue
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter, design-system

feat(13): fixes
  libs/design-system/src/components/TheSea.vue
  services/spotter/components.d.ts
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/tsconfig.app.json
Labels: wip, spotter, design-system

fix(hf): lint
  libs/design-system/src/components/ui/pagination/DSPaginationEllipsis.vue
  libs/design-system/src/components/ui/pagination/DSPaginationFirst.vue
  libs/design-system/src/components/ui/pagination/DSPaginationLast.vue
  libs/design-system/src/components/ui/pagination/DSPaginationNext.vue
  libs/design-system/src/components/ui/pagination/DSPaginationPrev.vue
  libs/design-system/src/components/ui/tabs/DSTabsContent.vue
  libs/design-system/src/components/ui/tabs/DSTabsList.vue
  libs/design-system/src/components/ui/tabs/DSTabsTrigger.vue
Labels: wip, design-system

feat(13): add search page
  libs/design-system/src/components/DSInputSearch.vue
  libs/design-system/src/components/ui/tabs/DSTabs.vue
  libs/design-system/src/components/ui/tabs/DSTabsContent.vue
  libs/design-system/src/components/ui/tabs/DSTabsList.vue
  libs/design-system/src/components/ui/tabs/DSTabsTrigger.vue
  libs/design-system/src/components/ui/tabs/index.ts
  services/spotter/components.d.ts
  services/spotter/public/images/search/magnifier.png
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/domains/search/components/AdvancedSearch.vue
  services/spotter/src/domains/search/components/SimpleSearch.vue
  services/spotter/src/domains/search/pages/SearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(13): add search overlay
  libs/design-system/src/components/DSInputSearch.vue
  libs/design-system/src/components/ui/combobox/DSCombobox.vue
  libs/design-system/src/components/ui/combobox/DSComboboxAnchor.vue
  libs/design-system/src/components/ui/combobox/DSComboboxEmpty.vue
  libs/design-system/src/components/ui/combobox/DSComboboxGroup.vue
  libs/design-system/src/components/ui/combobox/DSComboboxInput.vue
  libs/design-system/src/components/ui/combobox/DSComboboxItem.vue
  libs/design-system/src/components/ui/combobox/DSComboboxList.vue
  libs/design-system/src/components/ui/combobox/DSComboboxSeparator.vue
  libs/design-system/src/components/ui/combobox/DSComboboxTrigger.vue
  libs/design-system/src/components/ui/combobox/index.ts
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  services/spotter/components.d.ts
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheSea.vue
  services/spotter/src/domains/search/components/AdvancedSearch.vue
  services/spotter/src/domains/search/components/SimpleSearch.vue
  services/spotter/src/domains/search/pages/SearchPage.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(13): fix mobile pagination
  services/spotter/src/domains/search/components/SearchResutPagination.vue
Labels: wip, spotter

fix(hf): add skeleton while image loading
  libs/design-system/src/components/DSImage.vue
  libs/design-system/src/components/ui/skeleton/DSSkeleton.vue
  libs/design-system/src/components/ui/skeleton/index.ts
  services/spotter/components.d.ts
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheSea.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
Labels: wip, spotter, design-system

feat(13): refacto
  services/spotter/src/components/TheSea.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(13): fix @types/web
  libs/design-system/package.json
  libs/design-system/src/components/TheSea.vue
  libs/design-system/tsconfig.json
  package-lock.json
Labels: wip, design-system

feat(13): fix tsconfig
  services/spotter/tsconfig.app.json
Labels: wip, spotter

fix(hf): command docker spotter
  package.json
  services/spotter/compose.prod.yml
  services/spotter/compose.yml
Labels: package, wip, spotter

feat(19): refacto search result
  libs/clean/scripts/repository.ts
  libs/clean/scripts/valueObject/date.ts
  package-lock.json
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createSearchResultPubMedMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/sendSearchResultMission.ts
  services/marine-snow/business/domains/common/dateInterval.ts
  services/marine-snow/business/domains/common/dateYYYYMMDD.ts
  services/marine-snow/business/domains/common/int.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMed.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMedStep.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/interfaces/commands/launchMission.ts
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/missionStep.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/workers/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, marine-snow

feat(19): export searchResult to abys business
  .vscode/settings.json
  libs/clean/scripts/entity.ts
  libs/clean/scripts/error.ts
  services/marine-snow/.env
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/missionStep.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/searchResultMissionStep.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/sendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/startMission.ts
  services/marine-snow/business/domains/common/int.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMedStep.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/business/domains/entities/mission/step.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/commands/launchMission.ts
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/http/main.ts
  services/marine-snow/interfaces/http/routes/index.ts
  services/marine-snow/interfaces/providers/prisma/index.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/missionStep.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
Labels: wip, marine-snow

feat(12): refacto post message
  docs/marine-snow/commands.md
  services/marine-snow/.env
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/XML.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/workers/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/interfaces/workers/postMessage.ts
  services/marine-snow/test.ts
Labels: wip, marine-snow

feat(19): refacto worker
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/missionStep.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendSearchResultMission.ts
  services/marine-snow/interfaces/providers/prisma/index.ts
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
Labels: wip, marine-snow

feat(19): refacto send search result mission
  libs/clean/scripts/entity.ts
  libs/clean/scripts/error.ts
  libs/clean/scripts/valueObject.ts
  libs/clients-type/types/marine-snow/duplojsTypesCodegen.d.ts
  package-lock.json
  package.json
  services/marine-snow/.env
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/missionStep.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendSearchResultMission.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/step.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/compose.yml
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/providers/abys/index.ts
  services/marine-snow/interfaces/providers/prisma/index.ts
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/providers/scienceDatabase/.gitkeep
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/Route.d.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/XML.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/searchResult.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmedType.d.ts
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/missionStep.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/utils/stringCanBe.ts
  services/marine-snow/interfaces/workers/WorkerMissionError.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/package.json
Labels: package, wip, marine-snow

feat:abys(32): add methods repo rawDocument
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/bakedDocument/createBakedDocument.ts
  services/abys/interfaces/repositories/rawDocument.ts
Labels: wip, abys

fix:abys(32): fix type ressource url checker rawDocument
  package-lock.json
  services/abys/interfaces/http/checkers/rawDocument.ts
Labels: wip, abys

feat:abys(32): init repo nodeSameRawDocument
  services/abys/interfaces/providers/mongo/entities/nodeSameRawDocument.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/repositories/index.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
Labels: wip, abys

feat:abys(23): add buissness
  package-lock.json
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/business/applications/repositories/nodeSameRawDocument.ts
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/bakedDocument/createBakedDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/upsertNodeSameRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/createPubmedRawDocument.ts
  services/abys/business/domains/common/provider.ts
  services/abys/business/domains/common/rawDocument.ts
  services/abys/business/domains/common/uniqueField.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/business/domains/entities/nodeSameRawDocument/index.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/package.json
Labels: wip, abys

feat:abys(32): init rosetta client http
  package-lock.json
  services/abys/.env
  services/abys/interfaces/envs.ts
  services/abys/interfaces/providers/rosetta/client.ts
  services/abys/interfaces/providers/rosetta/types/api.d.ts
  services/abys/package.json
Labels: wip, abys

fix:abys(32): fix business
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/upsertNodeSameRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/createPubmedRawDocument.ts
Labels: wip, abys

feat:abys(32): add repo bakedDocument
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/upsertNodeSameRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/createPubmedRawDocument.ts
  services/abys/business/domains/common/abtrasctSection.ts
  services/abys/business/domains/common/rawDocument.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/interfaces/providers/mongo/entities/bakedDocument.ts
  services/abys/interfaces/providers/mongo/entities/nodeSameRawDocument.ts
  services/abys/interfaces/providers/mongo/entities/rawDocument.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/providers/rosetta/client.ts
  services/abys/interfaces/providers/rosetta/index.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/index.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
  services/abys/interfaces/repositories/rawDocument.ts
Labels: wip, abys

fix(hf): add has function to createEnum
  libs/clean/scripts/utils.ts
Labels: wip

feat:abys(32): add command cookDocument
  package-lock.json
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/business/applications/repositories/nodeSameRawDocument.ts
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/getNodeSameRawDocuments.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/upsertNodeSameRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/createPubmedRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/upsertPubmedRawDocument.ts
  services/abys/business/domains/common/rawDocument.ts
  services/abys/business/domains/common/uniqueField.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/interfaces/commands/.gitKeep
  services/abys/interfaces/commands/cookRawDocument.ts
  services/abys/interfaces/http/routes/rawDocument.ts
  services/abys/interfaces/http/schemas/rawDocument/pubmed.ts
  services/abys/interfaces/providers/mongo/entities/bakedDocument.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
  services/abys/interfaces/repositories/rawDocument.ts
  services/abys/interfaces/usecase/index.ts
  services/abys/package.json
Labels: wip, abys

feat(32): fix envs
  services/abys/.env
  services/abys/interfaces/envs.ts
  services/abys/interfaces/providers/mongo/entities/bakedDocument.ts
  services/abys/interfaces/providers/rosetta/index.ts
Labels: wip, abys

feat(23): Integration baked document (#25)
  libs/clean/scripts/utils.ts
  package-lock.json
  services/abys/.env
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/business/applications/repositories/nodeSameRawDocument.ts
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/getNodeSameRawDocuments.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/upsertNodeSameRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/createPubmedRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/upsertPubmedRawDocument.ts
  services/abys/business/domains/common/abtrasctSection.ts
  services/abys/business/domains/common/provider.ts
  services/abys/business/domains/common/rawDocument.ts
  services/abys/business/domains/common/uniqueField.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/business/domains/entities/nodeSameRawDocument/index.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/interfaces/commands/.gitKeep
  services/abys/interfaces/commands/cookRawDocument.ts
  services/abys/interfaces/envs.ts
  services/abys/interfaces/http/checkers/rawDocument.ts
  services/abys/interfaces/http/routes/rawDocument.ts
  services/abys/interfaces/http/schemas/rawDocument/pubmed.ts
  services/abys/interfaces/providers/mongo/entities/bakedDocument.ts
  services/abys/interfaces/providers/mongo/entities/nodeSameRawDocument.ts
  services/abys/interfaces/providers/mongo/entities/rawDocument.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/providers/rosetta/index.ts
  services/abys/interfaces/providers/rosetta/types/api.d.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/index.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
  services/abys/interfaces/repositories/rawDocument.ts
  services/abys/interfaces/usecase/index.ts
  services/abys/package.json
Labels: wip, abys

feat(19): refacto worker
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/missionStep.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendSearchResultMission.ts
  services/marine-snow/interfaces/providers/prisma/index.ts
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
Labels: wip, marine-snow

feat(19): refacto search result
  libs/clean/scripts/repository.ts
  libs/clean/scripts/valueObject/date.ts
  package-lock.json
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createSearchResultPubMedMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/sendSearchResultMission.ts
  services/marine-snow/business/domains/common/dateInterval.ts
  services/marine-snow/business/domains/common/dateYYYYMMDD.ts
  services/marine-snow/business/domains/common/int.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMed.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMedStep.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/interfaces/commands/launchMission.ts
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/missionStep.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/workers/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, marine-snow

feat(19): export searchResult to abys business
  .vscode/settings.json
  libs/clean/scripts/entity.ts
  libs/clean/scripts/error.ts
  services/marine-snow/.env
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/missionStep.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/searchResultMissionStep.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/sendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/startMission.ts
  services/marine-snow/business/domains/common/int.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMedStep.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/business/domains/entities/mission/step.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/commands/launchMission.ts
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/http/main.ts
  services/marine-snow/interfaces/http/routes/index.ts
  services/marine-snow/interfaces/providers/prisma/index.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/missionStep.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
Labels: wip, marine-snow

feat(12): refacto post message
  docs/marine-snow/commands.md
  services/marine-snow/.env
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/XML.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/workers/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/interfaces/workers/postMessage.ts
  services/marine-snow/test.ts
Labels: wip, marine-snow

feat(19): refacto send search result mission
  libs/clean/scripts/entity.ts
  libs/clean/scripts/error.ts
  libs/clean/scripts/valueObject.ts
  libs/clients-type/types/marine-snow/duplojsTypesCodegen.d.ts
  package-lock.json
  package.json
  services/marine-snow/.env
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/missionStep.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendSearchResultMission.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/step.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/compose.yml
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/providers/abys/index.ts
  services/marine-snow/interfaces/providers/prisma/index.ts
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/providers/scienceDatabase/.gitkeep
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/Route.d.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/XML.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/searchResult.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmedType.d.ts
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/missionStep.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/utils/stringCanBe.ts
  services/marine-snow/interfaces/workers/WorkerMissionError.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/package.json
Labels: package, wip, marine-snow

feat(19): finish mapping pubmed
  docs/abys/commands.md
  docs/harbor/commands.md
  docs/harbor/firebase-credential.md
  docs/marine-snow/commands.md
  docs/school/commands.md
  docs/spotter/commands.md
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  package-lock.json
  package.json
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/domains/common/abtrasctSection.ts
  services/abys/business/domains/common/rawDocument.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/compose.yml
  services/abys/interfaces/http/plugins/generate.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/package.json
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/interfaces/providers/abys/index.ts
  services/marine-snow/interfaces/providers/prisma/schema/articleType.prisma
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/XML.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/searchResult.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/utils.ts
  services/marine-snow/interfaces/utils/stringCanBe.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/package.json
  services/marine-snow/test.ts
Labels: package, wip, abys, marine-snow

feat(19): add cli
  docs/marine-snow/commands.md
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  package.json
  services/abys/business/applications/usecases/rawDocument/pubmed/upsertPubmedRawDocument.ts
  services/abys/business/domains/common/abtrasctSection.ts
  services/abys/business/domains/common/articleType.ts
  services/abys/business/domains/common/uniqueField.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/interfaces/http/routes/rawDocument.ts
  services/marine-snow/business/.gitkeep
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendSearchResultMission.ts
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/compose.yml
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/marine-snow/interfaces/commands/missionSendSearchResult.ts
  services/marine-snow/interfaces/providers/abys/index.ts
  services/marine-snow/interfaces/providers/prisma/schema/articleType.prisma
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/utils.ts
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/utils/deepLog.ts
  services/marine-snow/interfaces/workers/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/package.json
Labels: package, wip, abys, marine-snow

feat(19): fix naming
  services/marine-snow/business/applications/repositories/scienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/domains/common/provider.ts
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/scienceDatabase.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/workerMissionError.ts
Labels: wip, marine-snow

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"
