Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
  package.json
  services/harbor/.gitignore
  services/harbor/interfaces/providers/prisma/migrations/20250425081201_first/migration.sql
  services/harbor/interfaces/providers/prisma/migrations/migration_lock.toml
  services/harbor/package.json
  services/marine-snow/.gitignore
  services/marine-snow/interfaces/providers/prisma/migrations/20250425081823_first/migration.sql
  services/marine-snow/interfaces/providers/prisma/migrations/migration_lock.toml
  services/marine-snow/package.json
Labels: package, github, wip, harbor, marine-snow

fix(hf): deploy
  .github/workflows/deploy.yml
  docs/harbor/commands.md
  docs/marine-snow/commands.md
  docs/schema-es.json
  package.json
  services/harbor/package.json
  services/marine-snow/package.json
Labels: package, github, wip, harbor, marine-snow

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
  docs/deploy/exemple.nginx.conf
  libs/duplo-plugins/plugins/debug.ts
Labels: github, wip

fix(hf): update http-client
  package-lock.json
  services/abys/package.json
  services/horizon/interfaces/providers/harbor/index.ts
  services/horizon/package.json
  services/marine-snow/package.json
  services/spotter/package.json
Labels: wip, abys, horizon, marine-snow, spotter

fix(hf): add school deploy
  .github/workflows/deploy.yml
  compose.prod.yml
  docs/deploy/duplo-back.md
  services/school/package.json
Labels: github, wip, school, docker

fix(hf): doc deploy front
  docs/deploy/exemple.nginx.conf
  docs/deploy/vue-front.md
Labels: wip

fix(hf): deploy marine snow
  .github/workflows/deploy.yml
  compose.prod.yml
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/package.json
Labels: github, wip, marine-snow, docker

feat(29): update simple search
  libs/design-system/src/components/DSSea.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
Labels: wip, spotter, design-system

feat(29): fix DSSea animation
  libs/design-system/src/components/DSSea.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
Labels: wip, spotter, design-system

feat(29): add simple search
  libs/design-system/src/components/DSInputSearch.vue
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter, design-system

fix(hf): rename Firebase credentials file like in doc
  compose.prod.yml
  services/harbor/.env
  services/harbor/.gitignore
Labels: wip, harbor, docker

feat(35): add profile page
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenu.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuCheckboxItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuContent.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuGroup.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuLabel.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuRadioGroup.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuRadioItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSeparator.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuShortcut.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSub.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSubContent.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSubTrigger.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuTrigger.vue
  libs/design-system/src/components/ui/icon/DSIcon.vue
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/layouts/BaseLayout.vue
  services/spotter/src/router/index.ts
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system

fix(hf): firebase creditentials
  docs/harbor/firebase-credential.md
  services/harbor/.env
  services/harbor/.gitignore
Labels: wip, harbor

feat(37): marine snow resume mission
  docs/marine-snow/commands.md
  libs/clean/scripts/error.ts
  package.json
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/scienceDatabase.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createPubMedSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/findPubMedSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/resumeSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSingleSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSingleSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/startMission.ts
  services/marine-snow/business/applications/usecases/searchResult/findOneSearchResult.ts
  services/marine-snow/business/domains/common/searchResult.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/single.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/marine-snow/interfaces/commands/resumeMissionSearchResult.ts
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/scienceDatabase.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/single.ts
  services/marine-snow/interfaces/workers/workerMissionError.ts
  services/marine-snow/package.json
Labels: package, wip, abys, marine-snow

feat(37): send one search result
  package-lock.json
  package.json
  services/harbor/package.json
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSendOneSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendOneSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendSearchResultMission.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/one.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/step.ts
  services/marine-snow/interfaces/commands/missionSendOneSearchResult.ts
  services/marine-snow/interfaces/providers/prisma/migrations/20250428170259_/migration.sql
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/one.ts
  services/marine-snow/package.json
Labels: package, wip, harbor, marine-snow

fix:sea(26): fix bug package
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  package-lock.json
  services/spotter/auto-imports.d.ts
Labels: wip, spotter

fix(hf): add lib
  services/sea/vendors/clean
Labels: wip, sea

feat(26): init sea
  docs/services/abys/commands.md
  libs/clean/scripts/valueObject/date.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/upsertPubmedRawDocument.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/package.json
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/utils.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/sea/.env
  services/sea/compose.mac.yml
  services/sea/compose.template.yml
  services/sea/compose.yml
  services/sea/interfaces/envs.ts
  services/sea/interfaces/http/main.ts
  services/sea/interfaces/http/plugins/generate.ts
  services/sea/interfaces/http/routes/document/upsert.ts
  services/sea/interfaces/http/routes/index.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/providers/.gitKeep
  services/sea/interfaces/providers/elastic/entities/document.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/interfaces/routes/index.ts
  services/sea/package.json
  services/sea/tsconfig.json
  services/sea/vitest.config.ts
Labels: wip, abys, marine-snow, sea

refacto:sea(26): stop you are abusing
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  services/sea/interfaces/http/routes/document/upsert.ts
Labels: wip, sea

fix:abys(hf): fix upsert baked document
  services/abys/interfaces/repositories/bakedDocument.ts
  services/sea/package.json
  services/sea/vendors/clients-type
Labels: wip, abys, sea

feat(26): rework sea
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/sea/interfaces/http/plugins/generate.ts
  services/sea/interfaces/http/routes/document/upsert.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/providers/elastic/common/abstractSection.ts
  services/sea/interfaces/providers/elastic/common/language.ts
  services/sea/interfaces/providers/elastic/common/provider.ts
  services/sea/interfaces/providers/elastic/entities/document.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/providers/elastic/indexes/index.ts
Labels: wip, abys, sea

feat(26): cook node sam raw document
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  package.json
  services/abys/business/applications/repositories/nodeSameRawDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/cookNodeSameRawDocuments.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/upsertNodeSameRawDocument.ts
  services/abys/business/domains/entities/nodeSameRawDocument/index.ts
  services/abys/interfaces/commands/cookNodeSameRawDocument.ts
  services/abys/interfaces/commands/cookRawDocument.ts
  services/abys/interfaces/providers/datetime/.gitignore
  services/abys/interfaces/providers/datetime/index.ts
  services/abys/interfaces/providers/mongo/entities/nodeSameRawDocument.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
  services/abys/interfaces/usecase/index.ts
  services/abys/package.json
Labels: package, wip, abys
