Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

feat(19): renameing mission
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/scienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createSearchResultPubMedMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMed.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/scienceDatabase.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
Labels: wip, marine-snow

fix(hf): spotter images
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
Labels: wip, spotter

feat:spotter(22): add google auth
  package-lock.json
  services/spotter/package.json
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/lib/firebase/index.ts
Labels: wip, spotter

feat:horizon(22): add harbor provider and routes
  libs/clients-type/types/.gitkeep
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  package-lock.json
  services/harbor/interfaces/http/routes/auth.ts
  services/harbor/package.json
  services/horizon/.env
  services/horizon/.env.local.exemple
  services/horizon/business/.gitkeep
  services/horizon/business/domains/value-objects/.gitkeep
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/main.ts
  services/horizon/interfaces/http/routes/auth.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/http/schemas/auth.ts
  services/horizon/interfaces/providers/harbor/index.ts
  services/horizon/interfaces/routes/index.ts
  services/horizon/package.json
Labels: wip, harbor, horizon

feat:spotter(22): add horizon http client for spotter
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  package-lock.json
  services/horizon/.env
  services/horizon/compose.yml
  services/spotter/.env
  services/spotter/.env.example
  services/spotter/package.json
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/envs.ts
  services/spotter/src/lib/firebase/index.ts
  services/spotter/src/lib/horizon/index.ts
  services/spotter/src/main.ts
Labels: wip, horizon, spotter

feat(22): fix http client
  services/abys/interfaces/providers/rosetta/index.ts
  services/horizon/interfaces/http/plugins/cors.ts
  services/horizon/interfaces/providers/harbor/index.ts
Labels: wip, abys, horizon

feat(22): fix cors error
  libs/duplo-plugins/package.json
  libs/duplo-plugins/plugins/debug.ts
  libs/duplo-plugins/tsconfig.json
  package-lock.json
  services/abys/package.json
  services/harbor/.env
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/http/main.ts
  services/harbor/vendors/duplo-plugins
  services/horizon/.env
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/main.ts
  services/horizon/interfaces/http/plugins/cors.ts
  services/horizon/interfaces/providers/harbor/index.ts
  services/horizon/package.json
  services/horizon/vendors/duplo-plugins
  services/marine-snow/package.json
  services/spotter/package.json
  services/spotter/src/lib/horizon/index.ts
Labels: wip, abys, harbor, horizon, marine-snow, spotter

feat(22): add lots of composable
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/package.json
  libs/design-system/src/components/ui/sonner/TheSonner.vue
  libs/design-system/src/components/ui/sonner/index.ts
  libs/design-system/src/composables/useLocalStorageItem.ts
  libs/design-system/src/composables/useSmoothEnabled.ts
  libs/design-system/src/composables/useSonner.ts
  libs/design-system/src/utils/createPage.ts
  package-lock.json
  services/abys/package.json
  services/colossal/components.d.ts
  services/harbor/.env
  services/horizon/interfaces/http/plugins/cors.ts
  services/horizon/interfaces/http/routes/auth.ts
  services/horizon/interfaces/providers/harbor/index.ts
  services/horizon/package.json
  services/marine-snow/package.json
  services/pilot/components.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/package.json
  services/spotter/src/App.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/composables/useLoader.ts
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/user/composables/useUserInformation.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/index.ts
  services/spotter/src/router/index.ts
  services/tide/components.d.ts
Labels: wip, abys, colossal, harbor, horizon, marine-snow, pilot, spotter, tide, design-system

feat:sea(26): elasticsearch provider
  package-lock.json
  services/sea/.env
  services/sea/interfaces/envs.ts
  services/sea/interfaces/providers/.gitKeep
  services/sea/interfaces/providers/elastic/entities/document.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/package.json
Labels: wip, sea

refacto:sea(26): refacto elasticsearch provider with ts-pattern
  package-lock.json
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/package.json
Labels: wip, sea

fix(hf): add doc abys bakedDocument
  docs/services/abys/bakedDocument.md
  docs/services/abys/commands.md
  package-lock.json
  package.json
  services/abys/package.json
Labels: package, wip, abys

feat:sea(26): continue
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/sea/interfaces/providers/elastic/entities/document.ts
Labels: wip, abys, sea

fix(hf): add new default objecter - flexibleDateObjecter
  libs/clean/scripts/valueObject/date.ts
Labels: wip

fix(hf): add web and journal publish date at bakedDocument
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/upsertPubmedRawDocument.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
Labels: wip, abys

fix(hf): correction of mounth in month
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/utils.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/sea/interfaces/providers/elastic/entities/document.ts
Labels: wip, marine-snow, sea

feat:sea(26): add document schema elasticsearch
  services/sea/interfaces/providers/elastic/entities/document.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/vendors/clean
  services/sea/vitest.config.ts
Labels: wip, sea

feat:spotter(22): add spotter sequence diagrame in doc
  docs/spotter/commands.md
  docs/spotter/sequence-diagram.md
Labels: wip

feat:sea(26): add route http
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  package-lock.json
  package.json
  services/marine-snow/package.json
  services/sea/.env
  services/sea/.env.local.exemple
  services/sea/business/.gitkeep
  services/sea/compose.mac.yml
  services/sea/compose.template.yml
  services/sea/compose.yml
  services/sea/interfaces/envs.ts
  services/sea/interfaces/http/main.ts
  services/sea/interfaces/http/plugins/generate.ts
  services/sea/interfaces/http/routes/document/upsert.ts
  services/sea/interfaces/http/routes/index.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/interfaces/routes/index.ts
  services/sea/package.json
  services/sea/tsconfig.json
Labels: package, wip, marine-snow, sea

feat:login(22): fix package version
  services/harbor/package.json
  services/horizon/.env.local.exemple
  services/horizon/package.json
  services/spotter/.env.example
  services/spotter/package.json
Labels: wip, harbor, horizon, spotter

feat(22): remose .env.exemple + fix
  package-lock.json
  services/abys/.env.local.exemple
  services/bottle/.env.local.exemple
  services/harbor/.env.local.exemple
  services/horizon/.env.local.exemple
  services/marine-snow/.env.local.exemple
  services/school/.env.exemple
  services/sea/.env.local.exemple
  services/spotter/package.json
Labels: wip, abys, bottle, harbor, horizon, marine-snow, school, sea, spotter

fix(hf): select and dialog
  libs/design-system/src/components/ui/dialog/DSDialog.vue
  libs/design-system/src/components/ui/dialog/DSDialogClose.vue
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  libs/design-system/src/components/ui/dialog/DSDialogDescription.vue
  libs/design-system/src/components/ui/dialog/DSDialogFooter.vue
  libs/design-system/src/components/ui/dialog/DSDialogHeader.vue
  libs/design-system/src/components/ui/dialog/DSDialogOverlay.vue
  libs/design-system/src/components/ui/dialog/DSDialogScrollContent.vue
  libs/design-system/src/components/ui/dialog/DSDialogTitle.vue
  libs/design-system/src/components/ui/dialog/DSDialogTrigger.vue
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/select/DSSelect.vue
  libs/scratch-type/vitest.config.ts
Labels: wip, design-system

feat(28): fix package loke
  libs/design-system/package.json
  libs/eslint/package.json
  package-lock.json
  package.json
  scripts/rm-node-modules.sh
  services/abys/package.json
  services/colossal/package.json
  services/marine-snow/package.json
  services/pilot/package.json
  services/school/package.json
  services/tide/package.json
Labels: package, wip, abys, colossal, marine-snow, pilot, school, tide, design-system

feat(28): hint message
  libs/design-system/src/components/ui/select/DSSelect.vue
  libs/design-system/src/composables/useProvide.ts
  libs/scratch-type/scripts/comparator.ts
  package-lock.json
  services/spotter/auto-imports.d.ts
  services/spotter/package.json
  services/spotter/src/domains/search/components/scratch/TheScratch.vue
  services/spotter/src/domains/search/components/scratch/composables/useHintMessage.ts
  services/spotter/src/domains/search/components/scratch/partials/ScratchHint.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorAndOr.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/SelectOperator.vue
  services/spotter/src/domains/search/components/scratch/provides/checkFields.ts
  services/spotter/src/domains/search/pages/TestPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/zod/index.ts
  services/spotter/src/router/index.ts
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system

fix(hf): version pacakge lock
  .npm-packages/package.json
  package-lock.json
  package.json
  scripts/rm-node-modules.sh
  services/marine-snow/package.json
Labels: package, wip, marine-snow

feat(hf): deploy
  .docker/node-prod.dockerfile
  .github/workflows/deploy.yml
  compose.prod.yml
  compose.yml
  package.json
  scripts/build.sh
  scripts/clear.sh
  scripts/lint.sh
  scripts/types.sh
  services/colossal/components.d.ts
  services/colossal/package.json
  services/pilot/components.d.ts
  services/pilot/package.json
  services/spotter/Dockerfile
  services/spotter/components.d.ts
  services/spotter/compose.prod.yml
  services/spotter/nginx.conf
  services/spotter/package.json
  services/tide/components.d.ts
  services/tide/package.json
Labels: package, github, wip, colossal, pilot, spotter, tide, docker

feat(hf): deploy 1
  .github/workflows/deploy.yml
Labels: github, wip

feat(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

feat(hf): deploy
  services/spotter/Dockerfile
Labels: wip, spotter

feat(hf): deploy
  services/spotter/Dockerfile
Labels: wip, spotter

feat(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

fix(hf): deploy
  .github/workflows/deploy.yml
Labels: github, wip

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"
