Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

doc(01): init project rules
  docs/rules.md
Labels: wip

change generate-types command in package.json for abys, bottle, harbor, marine-snow and sea
  services/abys/package.json
  services/bottle/package.json
  services/harbor/package.json
  services/marine-snow/package.json
  services/sea/package.json
Labels: wip, abys, bottle, harbor, marine-snow, sea

fix(hf): new entity class
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/repository.ts
  package-lock.json
  package.json
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/worker/index.ts
  services/marine-snow/interfaces/worker/main.ts
  services/marine-snow/interfaces/worker/missions/searchResult.ts
Labels: package, wip, marine-snow

doc(07): pubmed doc base
  docs/pubmed.md
Labels: wip

add business layer in school service
  services/school/business/applications/repositories/answer.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getAnswersFromPost.ts
  services/school/business/applications/usecases/getPostsFromArticle.ts
  services/school/business/applications/usecases/replyToPost.ts
  services/school/business/domains/entities/.gitkeep
  services/school/business/domains/entities/answer.ts
  services/school/business/domains/entities/article.ts
  services/school/business/domains/entities/post.ts
  services/school/business/domains/entities/user.ts
  services/school/business/domains/value-objects/.gitkeep
  services/school/tsconfig.json
  services/school/vendors/clean
Labels: wip, school

feat(5): add worker and mission handler
  .vscode/snippets.code-snippets
  libs/clean/scripts/entity.ts
  libs/clean/scripts/index.ts
  libs/clean/scripts/usecase.test.ts
  libs/clean/scripts/usecase.ts
  services/marine-snow/business/applications/repositories/missions.ts
  services/marine-snow/business/applications/repositories/worker.ts
  services/marine-snow/business/applications/usecases/missinon/findSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missinon/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/worker/closeWorkers.ts
  services/marine-snow/business/applications/usecases/worker/countWorker.ts
  services/marine-snow/business/applications/usecases/worker/upWorkers.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResultMission.ts
  services/marine-snow/business/domains/entities/worker.ts
Labels: wip, marine-snow

simplify usecases for school service
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getAnswersFromPost.ts
  services/school/business/applications/usecases/getPostsFromArticle.ts
  services/school/business/applications/usecases/replyToPost.ts
Labels: wip, school

feat(5): finish business party
  services/marine-snow/business/applications/repositories/missions.ts
  services/marine-snow/business/applications/repositories/queue.ts
  services/marine-snow/business/applications/usecases/missinon/createSearchResultMissionAndToQueue.ts
  services/marine-snow/business/applications/usecases/missinon/findSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missinon/searchResultMissionFailed.ts
  services/marine-snow/business/applications/usecases/missinon/searchResultMissionSuccess.ts
  services/marine-snow/business/applications/usecases/queue/getFirstMissionOfTheQueue.ts
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/business/domains/common/createdAt.ts
  services/marine-snow/business/domains/common/provider.ts
  services/marine-snow/business/domains/common/url.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResultMission.ts
  services/marine-snow/business/domains/entities/worker.ts
  services/marine-snow/business/tsconfig.json
Labels: wip, marine-snow

feat(5): implémentation
  libs/clean/package.json
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/toJSON.ts
  libs/clean/scripts/usecase.ts
  package-lock.json
  services/marine-snow/.gitignore
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/queue.ts
  services/marine-snow/business/applications/repositories/searchResultProvider.ts
  services/marine-snow/business/applications/repositories/worker.ts
  services/marine-snow/business/applications/usecases/importOneDaySearchResultsFromProvider.ts
  services/marine-snow/business/applications/usecases/missinon/createSearchResultMissionAndToQueue.ts
  services/marine-snow/business/applications/usecases/missinon/findSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missinon/searchResultMissionFailed.ts
  services/marine-snow/business/applications/usecases/missinon/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/searchResult/createSearchResult.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResultMission.ts
  services/marine-snow/interfaces/main.ts
  services/marine-snow/interfaces/providers/prisma/.gitignore
  services/marine-snow/interfaces/providers/prisma/dev.db
  services/marine-snow/interfaces/providers/prisma/dev.db-journal
  services/marine-snow/interfaces/providers/prisma/migrations/20250318150339_/migration.sql
  services/marine-snow/interfaces/providers/prisma/migrations/20250318171608_/migration.sql
  services/marine-snow/interfaces/providers/prisma/migrations/migration_lock.toml
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/providers/queue/index.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/queue.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/searchResultProvider.ts
  services/marine-snow/interfaces/repositories/worker.ts
  services/marine-snow/interfaces/routes/searchResultMission/index.ts
  services/marine-snow/interfaces/worker/index.ts
  services/marine-snow/interfaces/worker/main.ts
  services/marine-snow/interfaces/worker/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, marine-snow

refacto after review
  services/school/business/.gitkeep
  services/school/business/applications/repositories/.gitkeep
  services/school/business/applications/repositories/answer.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/usecases/.gitkeep
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getAnswersFromPost.ts
  services/school/business/applications/usecases/getPostsFromArticle.ts
  services/school/business/applications/usecases/replyToPost.ts
  services/school/business/domains/entities/answer.ts
  services/school/business/domains/entities/article.ts
  services/school/business/domains/entities/post.ts
  services/school/business/domains/entities/user.ts
Labels: wip, school

feat(5): finish implémentation
  libs/clean/scripts/entity.ts
  libs/clean/scripts/index.ts
  libs/clean/scripts/utils.ts
  libs/clean/scripts/valueObject.ts
  package-lock.json
  services/marine-snow/interfaces/main.ts
  services/marine-snow/interfaces/providers/queue/index.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/worker.ts
  services/marine-snow/interfaces/worker/index.ts
  services/marine-snow/interfaces/worker/missions/index.ts
  services/marine-snow/interfaces/worker/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, marine-snow

feat(5): OptionalValueObjecter
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/valueObject.ts
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/queue.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/worker.ts
  services/marine-snow/business/applications/usecases/.gitkeep
  services/marine-snow/business/applications/usecases/missinon/createSearchResultMissionAndToQueue.ts
  services/marine-snow/business/applications/usecases/missinon/findSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missinon/searchResultMissionFailed.ts
  services/marine-snow/business/applications/usecases/missinon/searchResultMissionSuccess.ts
  services/marine-snow/business/applications/usecases/missinon/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/queue/getFirstMissionOfTheQueue.ts
  services/marine-snow/business/applications/usecases/searchResult/createSearchResult.ts
  services/marine-snow/business/applications/usecases/worker/closeWorkers.ts
  services/marine-snow/business/applications/usecases/worker/countWorker.ts
  services/marine-snow/business/applications/usecases/worker/upWorkers.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/index.ts
  services/marine-snow/business/domains/entities/mission/searchResultMission.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/providers/queue/index.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/queue.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/worker.ts
  services/marine-snow/interfaces/routes/searchResultMission/index.ts
  services/marine-snow/interfaces/worker/index.ts
  services/marine-snow/interfaces/worker/missions/index.ts
  services/marine-snow/interfaces/worker/missions/searchResult.ts
Labels: wip, marine-snow

feat(12): add theme
  libs/design-system/src/index.css
  services/spotter/index.html
  services/spotter/public/images/logos/logo-text.svg
  services/spotter/public/images/logos/logo.svg
  services/spotter/public/vite.svg
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system

feat(12): add default layout
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/DSButtonPrimary.vue
  services/spotter/components.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/layouts/BaseLayout.vue
Labels: wip, spotter, design-system

feat(12): add home page + 404
  libs/design-system/src/components/ui/accordion/DSAccordion.vue
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/accordion/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/public/images/edito/404.png
  services/spotter/public/images/edito/hero.png
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
Labels: wip, spotter, design-system

fix(12): clean
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
Labels: wip, spotter

feat: add auth pages
  libs/design-system/src/components/ui/label/DSLabel.vue
  libs/design-system/src/components/ui/label/index.ts
  services/spotter/components.d.ts
  services/spotter/public/images/auth/login.png
  services/spotter/public/images/auth/register.png
  services/spotter/src/domains/auth/components/LoginForm.vue
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/domains/auth/pages/ForgotPasswordPage.vue
  services/spotter/src/domains/auth/pages/LoginPage.vue
  services/spotter/src/domains/auth/pages/RegisterPage.vue
  services/spotter/src/domains/auth/router.ts
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/router/index.ts
  services/spotter/src/router/routerPageName/index.ts
Labels: wip, spotter, design-system

feat(12): i18n
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

fix(12): add terms
  libs/design-system/package.json
  libs/design-system/src/components/ui/checkbox/DSCheckbox.vue
  libs/design-system/src/components/ui/checkbox/index.ts
  package-lock.json
  services/spotter/components.d.ts
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(5): rework business
  libs/clean/scripts/entity.ts
  libs/clean/scripts/repository.ts
  libs/clean/scripts/usecase.test.ts
  libs/clean/scripts/usecase.ts
  libs/clean/scripts/utils.ts
  libs/eslint/scripts/index.ts
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/searchResultMissionStep.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createSearchResultPubMedMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/domains/common/createdAt.ts
  services/marine-snow/business/domains/common/dateInterval.ts
  services/marine-snow/business/domains/common/dateYYYYMMDD.ts
  services/marine-snow/business/domains/common/int.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMed.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/pubMed.ts
  services/marine-snow/business/domains/entities/mission/searchResultMission.ts
Labels: wip, marine-snow

feat(12): add pageTranslate
  services/spotter/auto-imports.d.ts
  services/spotter/src/composables/usePageTranslate.ts
  services/spotter/src/domains/auth/components/LoginForm.vue
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/domains/auth/pages/ForgotPasswordPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/vite.config.ts
Labels: wip, spotter

fix(12): fix theme
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/ui/accordion/DSAccordion.vue
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/accordion/index.ts
  libs/design-system/src/index.css
  services/spotter/components.d.ts
  services/spotter/package.json
Labels: wip, spotter, design-system

feat(12): add mobile sidebar
  libs/design-system/src/components/DSButtonIcon.vue
  libs/design-system/src/components/ui/sheet/DSSheet.vue
  libs/design-system/src/components/ui/sheet/DSSheetClose.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetDescription.vue
  libs/design-system/src/components/ui/sheet/DSSheetFooter.vue
  libs/design-system/src/components/ui/sheet/DSSheetHeader.vue
  libs/design-system/src/components/ui/sheet/DSSheetTitle.vue
  libs/design-system/src/components/ui/sheet/DSSheetTrigger.vue
  libs/design-system/src/components/ui/sheet/index.ts
  libs/design-system/src/index.css
  package-lock.json
  services/spotter/components.d.ts
  services/spotter/package.json
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheIcon.vue
  services/spotter/src/style.css
Labels: wip, spotter, design-system

feat(5): add array clean
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/repository.ts
  libs/clean/scripts/utils.ts
  libs/clean/scripts/valueObject.test.ts
  libs/clean/scripts/valueObject.ts
  libs/eslint/package.json
  libs/eslint/scripts/index.ts
  package-lock.json
  services/pilot/package.json
Labels: wip, pilot

fix(hf): fix buttons cursor
  libs/design-system/src/components/DSButtonIcon.vue
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/DSButtonPrimary.vue
Labels: wip, design-system

feat(13): add search page
  libs/design-system/src/components/DSInputSearch.vue
  libs/design-system/src/components/ui/tabs/DSTabs.vue
  libs/design-system/src/components/ui/tabs/DSTabsContent.vue
  libs/design-system/src/components/ui/tabs/DSTabsList.vue
  libs/design-system/src/components/ui/tabs/DSTabsTrigger.vue
  libs/design-system/src/components/ui/tabs/index.ts
  services/spotter/components.d.ts
  services/spotter/public/images/search/magnifier.png
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/search/components/AdvancedSearch.vue
  services/spotter/src/domains/search/components/SimpleSearch.vue
  services/spotter/src/domains/search/pages/SearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
  services/spotter/src/router/routerPageName/index.ts
Labels: wip, spotter, design-system

feat(13): add search result page
  libs/design-system/src/components/ui/card/DSCard.vue
  libs/design-system/src/components/ui/card/DSCardContent.vue
  libs/design-system/src/components/ui/card/DSCardDescription.vue
  libs/design-system/src/components/ui/card/DSCardFooter.vue
  libs/design-system/src/components/ui/card/DSCardHeader.vue
  libs/design-system/src/components/ui/card/DSCardTitle.vue
  libs/design-system/src/components/ui/card/index.ts
  libs/design-system/src/components/ui/tabs/DSTabsTrigger.vue
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/router.ts
Labels: wip, spotter, design-system

feat(13): add result pagination
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/pagination/DSPaginationEllipsis.vue
  libs/design-system/src/components/ui/pagination/DSPaginationFirst.vue
  libs/design-system/src/components/ui/pagination/DSPaginationLast.vue
  libs/design-system/src/components/ui/pagination/DSPaginationNext.vue
  libs/design-system/src/components/ui/pagination/DSPaginationPrev.vue
  libs/design-system/src/components/ui/pagination/index.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/SearchResutPagination.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter, design-system

fix(hf): little style fixes
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter, design-system

feat(13): fix pagination
  services/spotter/src/domains/search/components/SearchResutPagination.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter

feat(13): fix mobile pagination
  services/spotter/src/domains/search/components/SearchResutPagination.vue
Labels: wip, spotter

fix(hf): fix clean
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/utils.ts
  libs/clean/scripts/valueObject.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMed.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/pubMed.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/business/domains/entities/worker.ts
Labels: wip, marine-snow

doc(07): add mini doc elasticserach
  docs/eslasticsearch/base.md
  docs/eslasticsearch/types.md
  docs/pubmed.md
  docs/schema-es.json
Labels: wip

doc(07): pubmed doc base
  docs/pubmed.md
Labels: wip

doc(07): refacto doc pubmed
  docs/scrapper/pubmed/api.md
  docs/scrapper/pubmed/fetchModel.md
Labels: wip

feat(07): add base schema
  services/abys/interfaces/schemas/input.ts
  services/abys/interfaces/schemas/pedro/index.ts
  services/abys/interfaces/schemas/pubmed/articleType/adaptiveClinicalTrial.ts
  services/abys/interfaces/schemas/pubmed/articleType/address.ts
  services/abys/interfaces/schemas/pubmed/articleType/autobiography.ts
  services/abys/interfaces/schemas/pubmed/articleType/bibliography.ts
  services/abys/interfaces/schemas/pubmed/articleType/biography.ts
  services/abys/interfaces/schemas/pubmed/articleType/booksAndDocuments.ts
  services/abys/interfaces/schemas/pubmed/articleType/caseReports.ts
  services/abys/interfaces/schemas/pubmed/articleType/classicalArticle.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalConference.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalStudy.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalTrial.ts
  services/abys/interfaces/schemas/pubmed/articleType/index.ts
  services/abys/interfaces/schemas/pubmed/generic.ts
  services/abys/interfaces/schemas/pubmed/index.ts
  services/abys/interfaces/schemas/scienceDirect/index.ts
  services/abys/interfaces/schemas/tmp.ts
Labels: wip, abys

feat(07): add base of raw document buisness
  package-lock.json
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/consultRawDocument.ts
  services/abys/business/applications/usecases/createPedroRawDocument.ts
  services/abys/business/applications/usecases/createPubmedRawDocument.ts
  services/abys/business/applications/usecases/createScienceDirectRawDocument.ts
  services/abys/business/applications/usecases/getRawDocumentWhereDateInterval.ts
  services/abys/business/domains/entities/document/baked.ts
  services/abys/business/domains/entities/document/raw/base.ts
  services/abys/business/domains/entities/document/raw/pedro.ts
  services/abys/business/domains/entities/document/raw/pubmed.ts
  services/abys/business/domains/entities/document/raw/scienceDirect.ts
  services/abys/business/domains/types/baked.ts
  services/abys/business/domains/types/common.ts
  services/abys/business/domains/types/raw/document.ts
  services/abys/business/domains/types/raw/pedro.ts
  services/abys/business/domains/types/raw/pubmed.ts
  services/abys/interfaces/envs.ts
  services/abys/interfaces/providers/mongo/client.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/repositories/rawDocument.ts
  services/abys/package.json
  services/abys/vendors/clean
Labels: wip, abys

feat(14): repository integration
  .vscode/snippets.code-snippets
  libs/clean/scripts/entity.ts
  libs/clean/scripts/repository.ts
  libs/clean/scripts/usecase.ts
  package-lock.json
  services/marine-snow/.env
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/searchResultMissionStep.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/business/domains/common/url.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/searchResultMissionStep.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, marine-snow

feat(14): worker integration
  package-lock.json
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmedType.d.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/searchResultMissionStep.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/utils/WorkerMissionError.ts
  services/marine-snow/interfaces/utils/retrying.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, marine-snow

feat: add auth pages
  libs/design-system/src/components/ui/label/DSLabel.vue
  libs/design-system/src/components/ui/label/index.ts
  services/spotter/components.d.ts
  services/spotter/public/images/auth/login.png
  services/spotter/public/images/auth/register.png
  services/spotter/src/domains/auth/components/LoginForm.vue
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/domains/auth/pages/ForgotPasswordPage.vue
  services/spotter/src/domains/auth/pages/LoginPage.vue
  services/spotter/src/domains/auth/pages/RegisterPage.vue
  services/spotter/src/domains/auth/router.ts
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/router/index.ts
  services/spotter/src/router/routerPageName/index.ts
Labels: wip, spotter, design-system

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"
