Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

feat(07): add base schema
  services/abys/interfaces/schemas/input.ts
  services/abys/interfaces/schemas/pedro/index.ts
  services/abys/interfaces/schemas/pubmed/articleType/adaptiveClinicalTrial.ts
  services/abys/interfaces/schemas/pubmed/articleType/address.ts
  services/abys/interfaces/schemas/pubmed/articleType/autobiography.ts
  services/abys/interfaces/schemas/pubmed/articleType/bibliography.ts
  services/abys/interfaces/schemas/pubmed/articleType/biography.ts
  services/abys/interfaces/schemas/pubmed/articleType/booksAndDocuments.ts
  services/abys/interfaces/schemas/pubmed/articleType/caseReports.ts
  services/abys/interfaces/schemas/pubmed/articleType/classicalArticle.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalConference.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalStudy.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalTrial.ts
  services/abys/interfaces/schemas/pubmed/articleType/index.ts
  services/abys/interfaces/schemas/pubmed/generic.ts
  services/abys/interfaces/schemas/pubmed/index.ts
  services/abys/interfaces/schemas/scienceDirect/index.ts
  services/abys/interfaces/schemas/tmp.ts
Labels: wip, abys

feat:abys(07): add new route post raw-document
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  services/abys/business/applications/usecases/createPedroRawDocument.ts
  services/abys/business/applications/usecases/createPubmedRawDocument.ts
  services/abys/business/applications/usecases/createScienceDirectRawDocument.ts
  services/abys/business/domains/entities/document/raw/base.ts
  services/abys/business/domains/types/common.ts
  services/abys/business/domains/types/raw/document.ts
  services/abys/business/domains/types/raw/pedro.ts
  services/abys/business/domains/types/raw/pubmed.ts
  services/abys/interfaces/checkers/rawDocument.ts
  services/abys/interfaces/envs.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/routes/rawDocument/create.ts
  services/abys/interfaces/schemas/document/raw/base/index.ts
  services/abys/interfaces/schemas/document/raw/input.ts
  services/abys/interfaces/schemas/document/raw/pedro/index.ts
  services/abys/interfaces/schemas/document/raw/pubmed/index.ts
  services/abys/interfaces/schemas/document/raw/scienceDirect/index.ts
  services/abys/interfaces/schemas/input.ts
  services/abys/interfaces/schemas/pedro/index.ts
  services/abys/interfaces/schemas/pubmed/articleType.ts
  services/abys/interfaces/schemas/pubmed/generic.ts
  services/abys/interfaces/schemas/pubmed/index.ts
  services/abys/interfaces/schemas/tmp.ts
  services/abys/package.json
Labels: wip, abys

feat(07): continue
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/createPedroRawDocument.ts
  services/abys/business/applications/usecases/createPubmedRawDocument.ts
  services/abys/business/applications/usecases/createScienceDirectRawDocument.ts
  services/abys/business/domains/entities/document/raw/base.ts
  services/abys/business/domains/entities/document/raw/pedro.ts
  services/abys/business/domains/types/raw/document.ts
  services/abys/business/domains/types/raw/pubmed.ts
  services/abys/interfaces/checkers/rawDocument.ts
  services/abys/interfaces/providers/mongo/client.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/repositories/rawDocument.ts
  services/abys/interfaces/routes/index.ts
  services/abys/interfaces/routes/rawDocument/create.ts
  services/abys/interfaces/schemas/input.ts
  services/abys/interfaces/schemas/pubmed/generic.ts
  services/abys/interfaces/schemas/pubmed/index.ts
Labels: wip, abys

feat(07): continue
  services/abys/business/applications/usecases/createPubmedRawDocument.ts
  services/abys/business/domains/entities/document/raw/pubmed.ts
  services/abys/business/domains/types/raw/pubmed.ts
  services/abys/interfaces/providers/mongo/client.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/repositories/rawDocument.ts
  services/abys/interfaces/schemas/pubmed/articleType.ts
  services/abys/interfaces/schemas/pubmed/articleType/adaptiveClinicalTrial.ts
  services/abys/interfaces/schemas/pubmed/articleType/address.ts
  services/abys/interfaces/schemas/pubmed/articleType/autobiography.ts
  services/abys/interfaces/schemas/pubmed/articleType/bibliography.ts
  services/abys/interfaces/schemas/pubmed/articleType/biography.ts
  services/abys/interfaces/schemas/pubmed/articleType/booksAndDocuments.ts
  services/abys/interfaces/schemas/pubmed/articleType/caseReports.ts
  services/abys/interfaces/schemas/pubmed/articleType/classicalArticle.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalConference.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalStudy.ts
  services/abys/interfaces/schemas/pubmed/articleType/clinicalTrial.ts
  services/abys/interfaces/schemas/pubmed/articleType/index.ts
  services/abys/interfaces/schemas/pubmed/index.ts
  services/abys/interfaces/schemas/tmp.ts
Labels: wip, abys

feat(07): add base of raw document buisness
  package-lock.json
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/consultRawDocument.ts
  services/abys/business/applications/usecases/createPedroRawDocument.ts
  services/abys/business/applications/usecases/createPubmedRawDocument.ts
  services/abys/business/applications/usecases/createScienceDirectRawDocument.ts
  services/abys/business/applications/usecases/getRawDocumentWhereDateInterval.ts
  services/abys/business/domains/entities/document/baked.ts
  services/abys/business/domains/entities/document/raw/base.ts
  services/abys/business/domains/entities/document/raw/pedro.ts
  services/abys/business/domains/entities/document/raw/pubmed.ts
  services/abys/business/domains/entities/document/raw/scienceDirect.ts
  services/abys/business/domains/types/baked.ts
  services/abys/business/domains/types/common.ts
  services/abys/business/domains/types/raw/document.ts
  services/abys/business/domains/types/raw/pedro.ts
  services/abys/business/domains/types/raw/pubmed.ts
  services/abys/interfaces/envs.ts
  services/abys/interfaces/providers/mongo/client.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/repositories/rawDocument.ts
  services/abys/package.json
  services/abys/vendors/clean
Labels: wip, abys

feat(12): add default layout
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/DSButtonPrimary.vue
  services/spotter/components.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/layouts/BaseLayout.vue
Labels: wip, spotter, design-system

feat(12): add theme
  libs/design-system/src/index.css
  services/spotter/index.html
  services/spotter/public/images/logos/logo-text.svg
  services/spotter/public/images/logos/logo.svg
  services/spotter/public/vite.svg
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system

feat(12): i18n
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

fix(12): fix theme
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/ui/accordion/DSAccordion.vue
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/accordion/index.ts
  libs/design-system/src/index.css
  services/spotter/components.d.ts
  services/spotter/package.json
Labels: wip, spotter, design-system

feat: add auth pages
  libs/design-system/src/components/ui/label/DSLabel.vue
  libs/design-system/src/components/ui/label/index.ts
  services/spotter/components.d.ts
  services/spotter/public/images/auth/login.png
  services/spotter/public/images/auth/register.png
  services/spotter/src/domains/auth/components/LoginForm.vue
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/domains/auth/pages/ForgotPasswordPage.vue
  services/spotter/src/domains/auth/pages/LoginPage.vue
  services/spotter/src/domains/auth/pages/RegisterPage.vue
  services/spotter/src/domains/auth/router.ts
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/router/index.ts
  services/spotter/src/router/routerPageName/index.ts
Labels: wip, spotter, design-system

fix(12): clean
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
Labels: wip, spotter

feat(12): add pageTranslate
  services/spotter/auto-imports.d.ts
  services/spotter/src/composables/usePageTranslate.ts
  services/spotter/src/domains/auth/components/LoginForm.vue
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/domains/auth/pages/ForgotPasswordPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/vite.config.ts
Labels: wip, spotter

fix(12): add terms
  libs/design-system/package.json
  libs/design-system/src/components/ui/checkbox/DSCheckbox.vue
  libs/design-system/src/components/ui/checkbox/index.ts
  package-lock.json
  services/spotter/components.d.ts
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(12): add home page + 404
  libs/design-system/src/components/ui/accordion/DSAccordion.vue
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/accordion/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/public/images/edito/404.png
  services/spotter/public/images/edito/hero.png
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
Labels: wip, spotter, design-system

fix(hf): set fixed versions to DS packages
  libs/design-system/package.json
  package-lock.json
Labels: wip, design-system

feat(12): simplify to simple google auth
  services/spotter/public/images/auth/connection.png
  services/spotter/public/images/auth/register.png
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/auth/components/LoginForm.vue
  services/spotter/src/domains/auth/components/RegisterForm.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/auth/pages/ForgotPasswordPage.vue
  services/spotter/src/domains/auth/pages/LoginPage.vue
  services/spotter/src/domains/auth/pages/RegisterPage.vue
  services/spotter/src/domains/auth/router.ts
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(12): fixes
  libs/design-system/src/components/DSButtonGoogle.vue
  libs/design-system/src/components/DSLoadingLogo.vue
  services/spotter/components.d.ts
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
Labels: wip, spotter, design-system

feat(12): add mobile sidebar
  libs/design-system/src/components/DSButtonIcon.vue
  libs/design-system/src/components/ui/sheet/DSSheet.vue
  libs/design-system/src/components/ui/sheet/DSSheetClose.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetDescription.vue
  libs/design-system/src/components/ui/sheet/DSSheetFooter.vue
  libs/design-system/src/components/ui/sheet/DSSheetHeader.vue
  libs/design-system/src/components/ui/sheet/DSSheetTitle.vue
  libs/design-system/src/components/ui/sheet/DSSheetTrigger.vue
  libs/design-system/src/components/ui/sheet/index.ts
  libs/design-system/src/index.css
  package-lock.json
  services/spotter/components.d.ts
  services/spotter/package.json
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheIcon.vue
  services/spotter/src/style.css
Labels: wip, spotter, design-system

fix(hf): lint
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/checkbox/DSCheckbox.vue
  libs/design-system/src/components/ui/label/DSLabel.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetDescription.vue
  libs/design-system/src/components/ui/sheet/DSSheetTitle.vue
  libs/design-system/src/components/ui/sheet/index.ts
Labels: wip, design-system

fix(hf): fix google button
  libs/design-system/src/components/DSButtonGoogle.vue
  libs/design-system/src/components/DSGoogleLogo.vue
  services/spotter/components.d.ts
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
Labels: wip, spotter, design-system

fix(hf): move pageTranslate to DS
  libs/design-system/package.json
  libs/design-system/src/composables/usePageTranslate.ts
  package-lock.json
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/composables/usePageTranslate.ts
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system

fix(hf): add general composables to DS
  libs/design-system/src/composables/useLocalStorageItem.ts
  libs/design-system/src/composables/useRouteParams.ts
  libs/design-system/src/composables/useRouteQuery.ts
  services/spotter/auto-imports.d.ts
Labels: wip, spotter, design-system

fix(hf): fix useRouteParams
  libs/design-system/src/composables/useRouteParams.ts
Labels: wip, design-system

fix(hf): move TheIcon to DS
  libs/design-system/package.json
  libs/design-system/src/components/TheIcon.vue
  package-lock.json
  services/spotter/components.d.ts
  services/spotter/package.json
Labels: wip, spotter, design-system

feat(12): add createPage function
  libs/design-system/package.json
  libs/design-system/src/components/icon/TheIcon.vue
  libs/design-system/src/components/icon/index.d.ts
  libs/design-system/src/composables/usePageTranslate.ts
  libs/design-system/src/composables/useRouteParams.ts
  libs/design-system/src/composables/useRouteQuery.ts
  libs/design-system/src/utils/createPage.ts
  package-lock.json
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheIcon.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/auth/router.ts
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/edito/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
  services/spotter/src/router/routerPageName/index.ts
  services/spotter/vite.config.ts
Labels: wip, spotter, design-system

feat(18): add harbor auth service
  package-lock.json
  package.json
  services/harbor/.env
  services/harbor/.env.local.exemple
  services/harbor/.gitignore
  services/harbor/business/.gitkeep
  services/harbor/business/applications/repositories/token.ts
  services/harbor/business/applications/repositories/user.ts
  services/harbor/business/applications/usecases/createUser.ts
  services/harbor/business/domains/entities/token.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/business/tsconfig.json
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/http/checkers/token.ts
  services/harbor/interfaces/http/checkers/user.ts
  services/harbor/interfaces/http/main.ts
  services/harbor/interfaces/http/routes/auth.ts
  services/harbor/interfaces/http/routes/index.ts
  services/harbor/interfaces/http/schemas/auth.ts
  services/harbor/interfaces/providers/firebase/index.ts
  services/harbor/interfaces/providers/index.ts
  services/harbor/interfaces/providers/prisma/index.ts
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/index.ts
  services/harbor/interfaces/repositories/token.ts
  services/harbor/interfaces/repositories/user.ts
  services/harbor/interfaces/routes/index.ts
  services/harbor/interfaces/usecases/index.ts
  services/harbor/package.json
  services/harbor/vendors/clean
Labels: package, wip, harbor

feat(18): refacto and add doc
  docs/rules.md
  docs/services/harbor/firebase-credential.md
  services/harbor/interfaces/http/checkers/token.ts
Labels: wip, harbor

feat(18): refacto after review n°1
  services/harbor/.env
  services/harbor/.env.local.exemple
  services/harbor/business/applications/repositories/token.ts
  services/harbor/business/applications/usecases/createUser.ts
  services/harbor/business/domains/entities/token.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/interfaces/http/checkers/user.ts
  services/harbor/interfaces/http/main.ts
  services/harbor/interfaces/http/routes/auth.ts
  services/harbor/interfaces/providers/firebase/index.ts
  services/harbor/interfaces/providers/index.ts
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/token.ts
  services/harbor/interfaces/repositories/user.ts
Labels: wip, harbor

feat(18): refacto after review n°3
  package.json
  services/harbor/business/applications/repositories/token.ts
  services/harbor/business/applications/usecases/createUser.ts
  services/harbor/business/applications/usecases/findOrCreateUser.ts
  services/harbor/business/domains/common/token.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/interfaces/http/main.ts
  services/harbor/interfaces/http/routes/auth.ts
  services/harbor/interfaces/providers/token/index.ts
  services/harbor/interfaces/repositories/index.ts
  services/harbor/interfaces/repositories/token.ts
  services/harbor/interfaces/usecases/index.ts
Labels: package, wip, harbor

feat(18): refacto and patch prisma
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  package-lock.json
  services/harbor/.env
  services/harbor/business/domains/common/.gitkeep
  services/harbor/business/domains/common/token.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/compose.yml
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/http/checkers/token.ts
  services/harbor/interfaces/http/routes/auth.ts
  services/harbor/interfaces/http/schemas/auth.ts
  services/harbor/interfaces/providers/firebase/index.ts
  services/harbor/interfaces/providers/prisma/index.ts
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/user.ts
  services/harbor/interfaces/usecases/index.ts
  services/harbor/package.json
Labels: wip, harbor

feat(18): refacto compose
  .husky/pre-push
  package-lock.json
  package.json
  scripts/generate-types.sh
  scripts/tu.sh
  services/harbor/compose.yml
  services/school/compose.yml
  services/school/package.json
  services/spotter/auto-imports.d.ts
Labels: package, wip, harbor, school, spotter

feat(18): install vitest workspace
  .husky/pre-push
  libs/clean/package.json
  package-lock.json
  package.json
  services/abys/vitest.config.ts
  services/colossal/components.d.ts
  services/harbor/vitest.config.ts
  services/marine-snow/vitest.config.ts
  services/pilot/components.d.ts
  services/school/vitest.config.ts
  services/spotter/auto-imports.d.ts
  services/tide/components.d.ts
  vitest.workspace.ts
Labels: package, wip, abys, colossal, harbor, marine-snow, pilot, school, spotter, tide

feat(18): fix ci
  .github/workflows/test.yml
Labels: github, wip

fix(hf): fix buttons cursor
  libs/design-system/src/components/DSButtonIcon.vue
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/DSButtonPrimary.vue
Labels: wip, design-system

feat(12): add mobile sidebar
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/components/TheIcon.vue
Labels: wip, spotter

feat(13): fix pagination
  services/spotter/src/domains/search/components/SearchResutPagination.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter

fix(hf): fix loader translate
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(13): create document page
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/pages/DocumentPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter

fix(hf): little style fixes
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/domains/search/components/DocumentResultCard.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
Labels: wip, spotter, design-system

fix(hf): update shadcn-vue for tailwind v4
  libs/design-system/components.json
  libs/design-system/src/index.css
Labels: wip, design-system
