Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse, coral, beacon, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

design-system:
  - "libs/design-system/**/*"

bridge:
  - "services/bridge/**/*"

lighthouse:
  - "services/lighthouse/**/*"

coral:
  - "services/coral/**/*"
  
beacon:
  - "services/beacon/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

feat(63): add post BO front
  libs/design-system/src/components/DSButtonDestructive.vue
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/radio-group/RadioGroup.vue
  libs/design-system/src/components/ui/radio-group/RadioGroupItem.vue
  services/lighthouse/auto-imports.d.ts
  services/lighthouse/components.d.ts
  services/lighthouse/index.html
  services/lighthouse/public/images/local/logo.png
  services/lighthouse/public/images/logos/logo-text.svg
  services/lighthouse/public/images/logos/logo.svg
  services/lighthouse/src/components/TheFooter.vue
  services/lighthouse/src/components/TheHeader.vue
  services/lighthouse/src/domains/post/components/PostContent.vue
  services/lighthouse/src/domains/post/components/PostModeration.vue
  services/lighthouse/src/domains/post/components/PostStats.vue
  services/lighthouse/src/domains/post/pages/PostPage.vue
  services/lighthouse/src/domains/post/router.ts
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/lighthouse/src/layouts/BaseLayout.vue
  services/lighthouse/src/router/index.ts
  services/lighthouse/src/style.css
  services/spotter/components.d.ts
Labels: wip, spotter, design-system, lighthouse

feat(63): add dashboard
  README.md
  libs/design-system/src/components/DSAdminLoadingLogo.vue
  libs/design-system/src/components/ui/icon/DSIcon.vue
  services/lighthouse/auto-imports.d.ts
  services/lighthouse/components.d.ts
  services/lighthouse/src/components/TheFooter.vue
  services/lighthouse/src/components/TheHeader.vue
  services/lighthouse/src/components/TheLoader.vue
  services/lighthouse/src/domains/dashboard/components/ModuleCard.vue
  services/lighthouse/src/domains/dashboard/components/StatusCard.vue
  services/lighthouse/src/domains/dashboard/pages/dashboardPage.vue
  services/lighthouse/src/domains/dashboard/router.ts
  services/lighthouse/src/domains/post/pages/PostPage.vue
  services/lighthouse/src/domains/post/router.ts
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/lighthouse/src/layouts/BaseLayout.vue
  services/lighthouse/src/router/index.ts
  services/lighthouse/src/style.css
  services/spotter/components.d.ts
  services/spotter/src/layouts/BaseLayout.vue
Labels: wip, md, spotter, design-system, lighthouse

fix(hf): DS button variants
  libs/design-system/src/components/DSButtonDestructive.vue
  libs/design-system/src/components/DSButtonIcon.vue
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/DSButtonPrimary.vue
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  libs/design-system/src/components/ui/pagination/DSPagination.vue
  libs/design-system/src/components/ui/pagination/DSPaginationFirst.vue
  libs/design-system/src/components/ui/pagination/DSPaginationLast.vue
  libs/design-system/src/components/ui/pagination/DSPaginationNext.vue
  libs/design-system/src/components/ui/pagination/DSPaginationPrev.vue
  services/lighthouse/components.d.ts
  services/lighthouse/src/domains/post/components/PostModeration.vue
  services/spotter/components.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/auth/components/AuthDialog.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/filters/TheFilters.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/AddOperatorContent.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorAndOr.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

fix(hf): update DS
  libs/design-system/src/components/DSLoadingLogo.vue
  libs/design-system/src/components/DSRange.vue
  libs/design-system/src/components/ui/badge/index.ts
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/hint/DSHintError.vue
  libs/design-system/src/components/ui/icon/index.d.ts
  libs/design-system/src/components/ui/pagination/DSPagination.vue
  libs/design-system/src/components/ui/sheet/DSSheet.vue
  libs/design-system/src/components/ui/sheet/DSSheetClose.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetDescription.vue
  libs/design-system/src/components/ui/sheet/DSSheetFooter.vue
  libs/design-system/src/components/ui/sheet/DSSheetHeader.vue
  libs/design-system/src/components/ui/sheet/DSSheetTitle.vue
  libs/design-system/src/components/ui/sheet/DSSheetTrigger.vue
  libs/design-system/src/components/ui/sheet/index.ts
  libs/design-system/src/index.css
  services/lighthouse/src/domains/dashboard/components/StatusCard.vue
  services/spotter/src/domains/auth/components/AuthDialog.vue
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/search/components/scratch/partials/OperatorContentDialog.vue
  services/spotter/src/domains/user/pages/ProfilePage.vue
Labels: wip, spotter, design-system, lighthouse

fix(hf): update DS card
  libs/design-system/src/components/ui/card/DSCard.vue
  libs/design-system/src/components/ui/card/DSCardContent.vue
  libs/design-system/src/components/ui/card/DSCardDescription.vue
  libs/design-system/src/components/ui/card/DSCardFooter.vue
  libs/design-system/src/components/ui/card/DSCardHeader.vue
  services/lighthouse/src/domains/dashboard/components/ModuleCard.vue
  services/lighthouse/src/domains/dashboard/components/StatusCard.vue
  services/lighthouse/src/domains/dashboard/pages/dashboardPage.vue
  services/spotter/src/domains/forum/components/PostAnswer.vue
  services/spotter/src/domains/forum/components/PostRow.vue
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/notification/components/BellButton.vue
  services/spotter/src/domains/notification/components/RegisterNotificationCard.vue
  services/spotter/src/domains/notification/components/ReplyToPostNotificationCard.vue
Labels: wip, spotter, design-system, lighthouse

feat(63): fix status card
  services/lighthouse/src/domains/dashboard/components/StatusCard.vue
Labels: wip, lighthouse

fix(hf): add docs features
  docs/features/forum/post/manage.md
  docs/features/notification/display.md
  docs/features/notification/replyToPost.md
  docs/features/notification/settings/createSettingReplyToPost.md
  docs/features/reportingBakedDcumentTranslation/create.md
  docs/features/reportingBakedDcumentTranslation/manage.md
  docs/features/rules/userBan.md
  docs/features/user/documentFolders/create.md
  docs/features/user/documentFolders/delete.md
  docs/features/user/documentFolders/display.md
  docs/features/user/documentFolders/documentInFolders/create.md
  docs/features/user/documentFolders/documentInFolders/delete.md
  docs/features/user/documentFolders/documentInFolders/display.md
  docs/features/user/favoriteEquations/create.md
  docs/features/user/favoriteEquations/display.md
  docs/features/user/register.md
  docs/features/user/rename.md
  docs/services/beacon/commands.md
Labels: wip

feat(63): update domains architecture
  services/lighthouse/auto-imports.d.ts
  services/lighthouse/src/components/TheFooter.vue
  services/lighthouse/src/components/TheHeader.vue
  services/lighthouse/src/domains/dashboard/dashboardPage/ThePage.vue
  services/lighthouse/src/domains/dashboard/dashboardPage/components/ModuleCard.vue
  services/lighthouse/src/domains/dashboard/dashboardPage/components/StatusCard.vue
  services/lighthouse/src/domains/dashboard/dashboardPage/router.ts
  services/lighthouse/src/domains/post/postModeration/ThePage.vue
  services/lighthouse/src/domains/post/postModeration/components/PostContent.vue
  services/lighthouse/src/domains/post/postModeration/components/PostModeration.vue
  services/lighthouse/src/domains/post/postModeration/components/PostStats.vue
  services/lighthouse/src/domains/post/postModeration/router.ts
  services/lighthouse/src/domains/post/router.ts
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/lighthouse/src/router/index.ts
Labels: wip, lighthouse

feat(63): add dialog validation component
  libs/design-system/src/components/DSValidationDialog.vue
  libs/design-system/src/components/ui/dialog/DSDialog.vue
  services/lighthouse/components.d.ts
  services/lighthouse/src/domains/dashboard/dashboardPage/ThePage.vue
  services/spotter/components.d.ts
Labels: wip, spotter, design-system, lighthouse

feat(63): rework card component
  libs/design-system/src/components/ui/card/DSCard.vue
  libs/design-system/src/components/ui/card/DSCardFooter.vue
  libs/design-system/src/components/ui/card/DSCardHeader.vue
  services/lighthouse/src/domains/dashboard/dashboardPage/ThePage.vue
  services/lighthouse/src/domains/dashboard/dashboardPage/components/ModuleCard.vue
  services/lighthouse/src/domains/dashboard/dashboardPage/components/StatusCard.vue
  services/lighthouse/src/domains/post/postModeration/ThePage.vue
  services/lighthouse/src/domains/post/postModeration/components/PostContent.vue
  services/lighthouse/src/domains/post/postModeration/components/PostModeration.vue
  services/lighthouse/src/domains/post/postModeration/components/PostStats.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/lighthouse/src/layouts/BaseLayout.vue
  services/lighthouse/src/style.css
  services/spotter/src/domains/forum/components/PostAnswer.vue
  services/spotter/src/domains/forum/components/PostRow.vue
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/notification/components/RegisterNotificationCard.vue
  services/spotter/src/domains/notification/components/ReplyToPostNotificationCard.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

feat(63): enhance repBakedDocTrad
  libs/design-system/src/components/ui/icon/index.ts
  services/lighthouse/src/domains/dashboard/dashboardPage/ThePage.vue
  services/lighthouse/src/domains/dashboard/dashboardPage/components/ModuleCard.vue
  services/lighthouse/src/domains/post/postModeration/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
Labels: wip, design-system, lighthouse

feat(78): implemente provider and year interval comparator
  libs/types-advanced-query/scripts/comparator/articleType.ts
  libs/types-advanced-query/scripts/comparator/index.ts
  libs/types-advanced-query/scripts/comparator/nameEnum.ts
  libs/types-advanced-query/scripts/comparator/provider.ts
  services/spotter/src/domains/search/components/scratch/partials/OperatorContentDialog.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorProvider.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYearInterval.vue
  services/spotter/src/domains/search/components/scratch/partials/comparatorWrapper.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(68): add simple search feature
  docs/features/search/simple.md
  docs/features/user/rename.md
Labels: wip

feat(68): add advanced search feature
  docs/features/search/advenced.md
  services/sea/interfaces/search/advenced/build/comparators/provider.ts
Labels: wip, sea

feat(60): fix after test
  services/school/business/domains/entities/post.ts
  services/school/interfaces/fixtures/entities/post.ts
Labels: wip, school

feat(60): refacto business + technical
  services/bottle/business/applications/usecases/createAndSendUserPostWarning.ts
  services/bottle/business/domains/entities/notification/userPostBan.ts
  services/bottle/business/domains/entities/notification/userPostWarning.ts
  services/harbor/business/applications/repositories/warning.ts
  services/harbor/business/applications/usecases/createBanNotification.ts
  services/harbor/business/applications/usecases/createPostUserWarning.ts
  services/harbor/business/applications/usecases/createPostWarning.ts
  services/harbor/business/applications/usecases/makeUserBan.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/business/domains/entities/warning/base.ts
  services/harbor/business/domains/entities/warning/index.ts
  services/harbor/business/domains/entities/warning/post.ts
  services/harbor/business/domains/entities/warning/postWarning.ts
  services/harbor/interfaces/http/routes/warning.ts
  services/harbor/interfaces/http/schemas/warning.ts
  services/harbor/interfaces/providers/prisma/index.ts
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/warning.ts
  services/harbor/interfaces/usecases/index.ts
  services/school/business/applications/repositories/userBanned.ts
  services/school/business/applications/usecases/findOldestUnprocessedPost.ts
  services/school/business/applications/usecases/indicatePostIsCompliant.ts
  services/school/business/applications/usecases/indicatePostIsNotCompliant.ts
  services/school/business/domains/entities/post.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/http/schemas/post.ts
  services/school/interfaces/providers/bottle/index.ts
  services/school/interfaces/repositories/post.ts
  services/school/interfaces/usecase/index.ts
Labels: wip, bottle, harbor, school

feat(60): refacto usecase notif after rebase
  services/bottle/business/applications/usecases/createAndSendUserPostWarning.ts
  services/bottle/business/domains/entities/notification/userPostBan.ts
  services/bottle/business/domains/entities/notification/userPostWarning.ts
Labels: wip, bottle

feat(60): correct types
  services/harbor/interfaces/http/schemas/warning.ts
  services/school/business/applications/repositories/userBanned.ts
Labels: wip, harbor, school

feat(60): add notification post ban and warning
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  libs/clients-type/types/bridge/duplojsTypesCodegen.d.ts
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  services/bottle/business/applications/repositories/notification/index.ts
  services/bottle/business/applications/usecases/createAndSendUserPostWarning.ts
  services/bottle/business/applications/usecases/createUserPostBanNotification.ts
  services/bottle/business/applications/usecases/createUserPostWarningNotification.ts
  services/bottle/business/domains/common/warning.ts
  services/bottle/business/domains/entities/notification/userPostBan.ts
  services/bottle/business/domains/entities/notification/userPostWarning.ts
  services/bottle/interfaces/http/routes/notification.ts
  services/bottle/interfaces/http/schemas/notification.ts
  services/bottle/interfaces/usecases/index.ts
  services/bridge/interfaces/http/checkers/post.ts
  services/bridge/interfaces/http/routes/post.ts
  services/bridge/interfaces/http/routes/warning.ts
  services/bridge/interfaces/http/schemas/warning.ts
  services/bridge/interfaces/providers/school/index.ts
  services/harbor/business/applications/repositories/notification.ts
  services/harbor/business/applications/repositories/warning.ts
  services/harbor/business/applications/usecases/createPostUserWarning.ts
  services/harbor/business/domains/entities/warning/base.ts
  services/harbor/business/domains/entities/warning/post.ts
  services/harbor/interfaces/http/routes/warning.ts
  services/harbor/interfaces/http/schemas/warning.ts
  services/harbor/interfaces/providers/bottle/index.ts
  services/harbor/interfaces/repositories/index.ts
  services/harbor/interfaces/repositories/notification.ts
  services/harbor/interfaces/repositories/warning.ts
  services/horizon/interfaces/providers/bottle/index.ts
Labels: wip, bottle, harbor, horizon, bridge

feat(60): rebase main
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  libs/entity-rules/scripts/index.ts
  libs/entity-rules/scripts/warning/base.ts
  services/bridge/interfaces/http/routes/index.ts
  services/bridge/interfaces/http/routes/warning.ts
  services/bridge/interfaces/http/schemas/warning.ts
  services/bridge/interfaces/providers/harbor/index.ts
  services/harbor/business/applications/usecases/createBanNotification.ts
  services/harbor/business/applications/usecases/createPostUserWarning.ts
  services/harbor/business/applications/usecases/createWarningNotification.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/business/domains/entities/warning/base.ts
  services/harbor/interfaces/repositories/index.ts
Labels: wip, harbor, bridge

feat(60): add post administration
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/bridge/interfaces/envs.ts
  services/bridge/interfaces/http/routes/post.ts
  services/bridge/interfaces/http/routes/warning.ts
  services/bridge/interfaces/http/schemas/post.ts
  services/bridge/interfaces/http/schemas/warning.ts
  services/bridge/interfaces/providers/harbor/index.ts
  services/bridge/interfaces/providers/school/index.ts
  services/harbor/business/applications/repositories/warning.ts
  services/harbor/business/applications/usecases/createPostWarning.ts
  services/harbor/business/applications/usecases/createWarningNotification.ts
  services/harbor/business/domains/entities/warning/index.ts
  services/harbor/business/domains/entities/warning/postWarning.ts
  services/harbor/interfaces/http/routes/index.ts
  services/harbor/interfaces/http/routes/warning.ts
  services/harbor/interfaces/http/schemas/warning.ts
  services/harbor/interfaces/providers/prisma/index.ts
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/index.ts
  services/harbor/interfaces/repositories/warning.ts
  services/harbor/interfaces/usecases/index.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/usecases/getOldestUnprocessedPost.ts
  services/school/business/domains/entities/post.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/providers/bottle/index.ts
  services/school/interfaces/providers/mongo/entities/post.ts
  services/school/interfaces/repositories/post.ts
  services/school/interfaces/usecase/index.ts
Labels: wip, harbor, school, bridge

feat(60): refacto after run tests
  libs/clients-type/types/bridge/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/bridge/.env
Labels: wip, bridge

feat(60): missing generate types
  services/bridge/interfaces/providers/school/index.ts
Labels: wip, bridge

feat(60): correct notification schema
  services/horizon/business/entities/notification.ts
Labels: wip, horizon

feat(60): add namespace organization for bridge
  services/bridge/interfaces/http/routes/index.ts
  services/bridge/interfaces/http/routes/post/findOldestUnprocessed.ts
  services/bridge/interfaces/http/routes/warning/create.ts
Labels: wip, bridge

feat(60): refacto after test lint types
  services/bottle/interfaces/providers/mongo/entities/notification.ts
  services/bottle/interfaces/repositories/notication/index.ts
Labels: wip, bottle

feat(78): add truncation
  docs/features/search/advenced/comparator.md
  docs/features/search/advenced/index.md
  docs/features/search/advenced/operator.md
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  libs/types-advanced-query/scripts/comparator/articleType.ts
  libs/types-advanced-query/scripts/comparator/author.ts
  libs/types-advanced-query/scripts/comparator/base.ts
  libs/types-advanced-query/scripts/comparator/index.ts
  libs/types-advanced-query/scripts/comparator/nameEnum.ts
  libs/types-advanced-query/scripts/comparator/provider.ts
  libs/types-advanced-query/scripts/comparator/strictText.ts
  libs/types-advanced-query/scripts/comparator/text.ts
  libs/types-advanced-query/scripts/comparator/year.ts
  libs/types-advanced-query/scripts/comparator/yearInterval.ts
  services/sea/interfaces/search/advenced/build/boost.ts
  services/sea/interfaces/search/advenced/build/comparators/articleType.ts
  services/sea/interfaces/search/advenced/build/comparators/author.ts
  services/sea/interfaces/search/advenced/build/comparators/provider.ts
  services/sea/interfaces/search/advenced/build/comparators/strictText.ts
  services/sea/interfaces/search/advenced/build/comparators/text.ts
  services/sea/interfaces/search/advenced/build/comparators/year.ts
  services/sea/interfaces/search/advenced/build/comparators/yearInterval.ts
  services/sea/interfaces/search/simple.ts
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/search/components/scratch/partials/BoostButton.vue
  services/spotter/src/domains/search/components/scratch/partials/OperatorContentDialog.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorArticleType.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorAuthor.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorProvider.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorStrictText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYearInterval.vue
  services/spotter/src/domains/search/utils/convertQuery.ts
Labels: wip, sea, spotter, design-system

feat(78): add doc feature troncature
  docs/features/search/advenced/comparator.md
  docs/features/search/simple.md
Labels: wip

feat(78): correction of the doc
  docs/features/search/advanced/comparator.md
  docs/features/search/advanced/index.md
  docs/features/search/advanced/operator.md
  docs/features/search/advenced/comparator.md
  docs/features/search/advenced/index.md
  docs/features/search/advenced/operator.md
  docs/features/search/simple.md
Labels: wip

fix(hf): rename doc folder
  docs/features/reportingBakedDocumentTranslation/create.md
  docs/features/reportingBakedDocumentTranslation/manage.md
Labels: wip

feat(73): continue
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  services/horizon/.env
  services/horizon/business/entities/documentFolder.ts
  services/horizon/interfaces/configs/documentFolder.ts
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/documentFolder/create.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentFolder/list.ts
  services/horizon/interfaces/http/routes/documentFolder/page.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/rosetta/compose.yml
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/components/DialogCreateDocumentFolder.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/composables/useCreateDocumentFolderDialog.ts
  services/spotter/src/domains/user/composables/useCreateDocumentFolderForm.ts
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/documentFolder.ts
  services/spotter/src/router/index.ts
Labels: wip, horizon, rosetta, spotter, design-system

feat(60): refacto usecase notif after rebase
  services/bottle/business/applications/usecases/createAndSendUserPostWarning.ts
  services/bottle/business/domains/entities/notification/userPostBan.ts
  services/bottle/business/domains/entities/notification/userPostWarning.ts
Labels: wip, bottle

feat(60): add post administration
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/bridge/interfaces/envs.ts
  services/bridge/interfaces/http/routes/post.ts
  services/bridge/interfaces/http/routes/warning.ts
  services/bridge/interfaces/http/schemas/post.ts
  services/bridge/interfaces/http/schemas/warning.ts
  services/bridge/interfaces/providers/harbor/index.ts
  services/bridge/interfaces/providers/school/index.ts
  services/harbor/business/applications/repositories/warning.ts
  services/harbor/business/applications/usecases/createPostWarning.ts
  services/harbor/business/applications/usecases/createWarningNotification.ts
  services/harbor/business/domains/entities/warning/index.ts
  services/harbor/business/domains/entities/warning/postWarning.ts
  services/harbor/interfaces/http/routes/index.ts
  services/harbor/interfaces/http/routes/warning.ts
  services/harbor/interfaces/http/schemas/warning.ts
  services/harbor/interfaces/providers/prisma/index.ts
  services/harbor/interfaces/providers/prisma/schema.prisma
  services/harbor/interfaces/repositories/index.ts
  services/harbor/interfaces/repositories/warning.ts
  services/harbor/interfaces/usecases/index.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/usecases/getOldestUnprocessedPost.ts
  services/school/business/domains/entities/post.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/providers/bottle/index.ts
  services/school/interfaces/providers/mongo/entities/post.ts
  services/school/interfaces/repositories/post.ts
  services/school/interfaces/usecase/index.ts
Labels: wip, harbor, school, bridge

feat(60): refacto after test lint types
  services/bottle/interfaces/providers/mongo/entities/notification.ts
  services/bottle/interfaces/repositories/notication/index.ts
Labels: wip, bottle

feat(60): add notification post ban and warning
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  libs/clients-type/types/bridge/duplojsTypesCodegen.d.ts
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  services/bottle/business/applications/repositories/notification/index.ts
  services/bottle/business/applications/usecases/createAndSendUserPostWarning.ts
  services/bottle/business/applications/usecases/createUserPostBanNotification.ts
  services/bottle/business/applications/usecases/createUserPostWarningNotification.ts
  services/bottle/business/domains/common/warning.ts
  services/bottle/business/domains/entities/notification/userPostBan.ts
  services/bottle/business/domains/entities/notification/userPostWarning.ts
  services/bottle/interfaces/http/routes/notification.ts
  services/bottle/interfaces/http/schemas/notification.ts
  services/bottle/interfaces/usecases/index.ts
  services/bridge/interfaces/http/checkers/post.ts
  services/bridge/interfaces/http/routes/post.ts
  services/bridge/interfaces/http/routes/warning.ts
  services/bridge/interfaces/http/schemas/warning.ts
  services/bridge/interfaces/providers/school/index.ts
  services/harbor/business/applications/repositories/notification.ts
  services/harbor/business/applications/repositories/warning.ts
  services/harbor/business/applications/usecases/createPostUserWarning.ts
  services/harbor/business/domains/entities/warning/base.ts
  services/harbor/business/domains/entities/warning/post.ts
  services/harbor/interfaces/http/routes/warning.ts
  services/harbor/interfaces/http/schemas/warning.ts
  services/harbor/interfaces/providers/bottle/index.ts
  services/harbor/interfaces/repositories/index.ts
  services/harbor/interfaces/repositories/notification.ts
  services/harbor/interfaces/repositories/warning.ts
  services/horizon/interfaces/providers/bottle/index.ts
Labels: wip, bottle, harbor, horizon, bridge

feat(60): refacto after run tests
  libs/clients-type/types/bridge/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  services/bridge/.env
Labels: wip, bridge

feat(60): fix after test
  services/school/business/domains/entities/post.ts
  services/school/interfaces/fixtures/entities/post.ts
Labels: wip, school

feat(60): rebase main
  libs/clients-type/types/harbor/duplojsTypesCodegen.d.ts
  libs/entity-rules/scripts/index.ts
  libs/entity-rules/scripts/warning/base.ts
  services/bridge/interfaces/http/routes/index.ts
  services/bridge/interfaces/http/routes/warning.ts
  services/bridge/interfaces/http/schemas/warning.ts
  services/bridge/interfaces/providers/harbor/index.ts
  services/harbor/business/applications/usecases/createBanNotification.ts
  services/harbor/business/applications/usecases/createPostUserWarning.ts
  services/harbor/business/applications/usecases/createWarningNotification.ts
  services/harbor/business/domains/entities/user.ts
  services/harbor/business/domains/entities/warning/base.ts
  services/harbor/interfaces/repositories/index.ts
Labels: wip, harbor, bridge

feat(60): correct types
  services/harbor/interfaces/http/schemas/warning.ts
  services/school/business/applications/repositories/userBanned.ts
Labels: wip, harbor, school

feat(60): missing generate types
  services/bridge/interfaces/providers/school/index.ts
Labels: wip, bridge
