Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse, coral, beacon, docker

fix(hf): add correct loading logo to BO
  services/lighthouse/src/components/TheLoader.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
Labels: wip, lighthouse

feat(109): fix trad
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/tutorial/Fr-fr.ts
Labels: wip, spotter, lighthouse

fix(hf): bad css link
  services/lighthouse/index.html
  services/spotter/index.html
Labels: wip, spotter, lighthouse

feat(109): fix colors
  services/spotter/src/domains/search/pages/ScratchTutorialPage.vue
Labels: wip, spotter

feat(109): fix responsive
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
Labels: wip, spotter

feat(109): add missing comparators to tutorial
  services/spotter/src/domains/search/pages/ScratchTutorialPage.vue
  services/spotter/src/i18n/languages/tutorial/Fr-fr.ts
Labels: wip, spotter

feat(109): add tutorial link
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
Labels: wip, spotter

feat(109): Change tutorial link with icon
  libs/design-system/src/components/ui/icon/index.ts
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
Labels: wip, spotter, design-system

config(129): update workspace tooling and editor settings
  .npm-packages/package.json
  .vscode/business.code-snippets
  .vscode/settings.json
  .vscode/snippets.code-snippets
  .vscode/vue.code-snippets
Labels: wip

refacto(129): migrate shared packages to DuploJS updates
  libs/async-message/package.json
  libs/async-message/scripts/asyncMessage.ts
  libs/async-message/scripts/collections/createUser.ts
  libs/async-message/scripts/collections/updateUser.ts
  libs/async-message/scripts/extractIdFromMongoUrl.ts
  libs/async-message/scripts/messageCollection.ts
  libs/backend-logger/scripts/index.ts
  libs/clean/package.json
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/usecase.ts
  libs/clean/scripts/utils.ts
  libs/design-system/package.json
  libs/design-system/src/composables/useFormBuilder/createFormField.ts
  libs/design-system/src/composables/useFormBuilder/formField.ts
  libs/design-system/src/utils/createPage.ts
  libs/eslint/scripts/index.ts
  libs/sentry-logger/package.json
  package-lock.json
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/package.json
  services/bridge/package.json
  services/lighthouse/package.json
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/components/PreviewDocument.vue
  services/marine-snow/interfaces/repositories/scienceDatabase/export/formaters/pubmedArticle.ts
  services/marine-snow/interfaces/repositories/scienceDatabase/export/index.ts
  services/marine-snow/package.json
  services/rosetta/package.json
  services/school/interfaces/fixtures/entities/answer.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/package.json
  services/spotter/package.json
Labels: wip, abys, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse

refacto(129): adapt horizon to coral folder contracts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/entity-rules/scripts/documentFolder.ts
  libs/entity-rules/scripts/documentInFolder.ts
  libs/entity-rules/scripts/favoriEquation.ts
  services/horizon/business/entities/facets.ts
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/checkers/documentFolder.ts
  services/horizon/interfaces/http/routes/documentFolder/create.ts
  services/horizon/interfaces/http/routes/documentFolder/findMany.ts
  services/horizon/interfaces/http/routes/documentFolder/findOne.ts
  services/horizon/interfaces/http/routes/documentFolder/page.ts
  services/horizon/interfaces/http/routes/documentFolder/remove.ts
  services/horizon/interfaces/http/routes/documentFolder/rename.ts
  services/horizon/interfaces/http/routes/documentInFolder/createMany.ts
  services/horizon/interfaces/http/routes/documentInFolder/findMany.ts
  services/horizon/interfaces/http/routes/documentInFolder/remove.ts
  services/horizon/interfaces/http/routes/documentInFolder/rename.ts
  services/horizon/interfaces/http/routes/favoriteEquation/findOne.ts
  services/horizon/interfaces/http/routes/favoriteEquation/list.ts
  services/horizon/interfaces/http/routes/favoriteEquation/remove.ts
  services/horizon/interfaces/http/routes/favoriteEquation/upsert.ts
  services/horizon/interfaces/http/routes/search.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/horizon/package.json
  services/horizon/tsconfig.json
Labels: wip, horizon

feat(129): cover spotter folder workflows in e2e
  e2e/client.ts
  e2e/components/accountDropdown.ts
  e2e/components/auth/authDialog.ts
  e2e/components/auth/index.ts
  e2e/components/folderDialogs.ts
  e2e/components/header.ts
  e2e/components/index.ts
  e2e/components/sonner.ts
  e2e/compose.yml
  e2e/envs.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/pages/document.ts
  e2e/pages/documentFolder.ts
  e2e/pages/documentInFolder.ts
  e2e/pages/home.ts
  e2e/pages/index.ts
  e2e/pages/simpleSearch.ts
  e2e/playwright.config.ts
  e2e/playwright/actions.ts
  e2e/playwright/assertions.ts
  e2e/playwright/client.ts
  e2e/playwright/componentEngine.ts
  e2e/playwright/createStepEmbeder.ts
  e2e/playwright/index.ts
  e2e/playwright/pageEngine.ts
  e2e/playwright/webSiteEngine.ts
  e2e/providers/firebase/index.ts
  e2e/tests/auth.spec.ts
  e2e/tests/folder.spec.ts
  e2e/tsconfig.json
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/folder/components/FolderHeader.vue
  services/spotter/src/domains/folder/components/createManyDocumentInFolderDialog/CreateManyDocumentInFolderDialog.vue
  services/spotter/src/domains/folder/pages/documentFolder/ThePage.vue
  services/spotter/src/domains/folder/pages/documentFolder/components/DocumentFolderCard.vue
  services/spotter/src/domains/folder/pages/documentInFolder/ThePage.vue
  services/spotter/src/domains/folder/pages/documentInFolder/components/DocumentInFolderCard.vue
Labels: wip, spotter

fix(hf): duplojs http fix-41
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  package-lock.json
  services/coral/package.json
  services/horizon/package.json
Labels: wip, horizon, coral

fix(hf): CI node version
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  services/coral/interfaces/http/routes/documentFolder/findMany.ts
Labels: github, wip, coral

fix(hf): macos resolution path
  services/coral/business/applications/useCases/documentFolder/checkDocumentFolderCapacity.ts
  services/coral/business/applications/useCases/documentFolder/checkManyDocumentFolderCapacity.ts
  services/coral/business/applications/useCases/documentFolder/computeDocumentQuantityInFolder.ts
  services/coral/business/applications/useCases/documentFolder/countResultOfOwnerSearchIfNodeSameRawDocumentExistInTheseDocumentFoldersUseCase.ts
  services/coral/business/applications/useCases/documentFolder/createDocumentFolder.ts
  services/coral/business/applications/useCases/documentFolder/index.ts
  services/coral/business/applications/useCases/documentFolder/ownerCountResultOfSearchDocumentFolder.ts
  services/coral/business/applications/useCases/documentFolder/ownerFindDocumentFolderById.ts
  services/coral/business/applications/useCases/documentFolder/ownerFindManyDocumentFolder.ts
  services/coral/business/applications/useCases/documentFolder/ownerRemoveDocumentFolder.ts
  services/coral/business/applications/useCases/documentFolder/ownerRenameDocumentFolder.ts
  services/coral/business/applications/useCases/documentFolder/ownerSearchDocumentFolder.ts
  services/coral/business/applications/useCases/documentFolder/ownerSearchIfNodeSameRawDocumentExistInTheseDocumentFolders.ts
  services/coral/business/applications/useCases/documentInFolder/countResultOfOwnerSearchDocumentInFolder.ts
  services/coral/business/applications/useCases/documentInFolder/index.ts
  services/coral/business/applications/useCases/documentInFolder/ownerCreateDocumentInManyFolders.ts
  services/coral/business/applications/useCases/documentInFolder/ownerFindDocumentInFolderByUniqueCombination.ts
  services/coral/business/applications/useCases/documentInFolder/ownerRemoveDocumentInFolder.ts
  services/coral/business/applications/useCases/documentInFolder/ownerRenameDocumentInFolder.ts
  services/coral/business/applications/useCases/documentInFolder/ownerSearchDocumentInFolder.ts
  services/coral/business/applications/useCases/favoriteEquation/index.ts
  services/coral/business/applications/useCases/favoriteEquation/ownerCountResultOfFindManyFavoriteEquation.ts
  services/coral/business/applications/useCases/favoriteEquation/ownerFindFavoriteEquationById.ts
  services/coral/business/applications/useCases/favoriteEquation/ownerFindManyFavoriteEquation.ts
  services/coral/business/applications/useCases/favoriteEquation/ownerRemoveFavoriteEquation.ts
  services/coral/business/applications/useCases/favoriteEquation/ownerUpsertFavoriteEquation.ts
  services/coral/business/applications/useCases/nodeSameRawDocument/index.ts
  services/coral/business/applications/useCases/nodeSameRawDocument/nodeSameRawDocumentIdsHaveDocumentInFolder.ts
  services/coral/business/applications/useCases/user/deleteAllUserData.ts
  services/coral/business/applications/useCases/user/index.ts
Labels: wip, coral

refacto:school(128): add http interface
  libs/clients-type/types/school/duplojsTypesCodegen2.d.ts
  services/school2/interfaces/http/checkers/answer.ts
  services/school2/interfaces/http/checkers/index.ts
  services/school2/interfaces/http/checkers/post.ts
  services/school2/interfaces/http/main.js
  services/school2/interfaces/http/main.ts
  services/school2/interfaces/http/plugins/generate.ts
  services/school2/interfaces/http/routes/answer/createReport.ts
  services/school2/interfaces/http/routes/answer/details.ts
  services/school2/interfaces/http/routes/answer/findMany.ts
  services/school2/interfaces/http/routes/answer/findOldest.ts
  services/school2/interfaces/http/routes/answer/index.ts
  services/school2/interfaces/http/routes/answer/markAsCompliant.ts
  services/school2/interfaces/http/routes/answer/reply.ts
  services/school2/interfaces/http/routes/index.ts
  services/school2/interfaces/http/routes/post/create.ts
  services/school2/interfaces/http/routes/post/createReport.ts
  services/school2/interfaces/http/routes/post/details.ts
  services/school2/interfaces/http/routes/post/findMany.ts
  services/school2/interfaces/http/routes/post/findOldest.ts
  services/school2/interfaces/http/routes/post/findOne.ts
  services/school2/interfaces/http/routes/post/index.ts
  services/school2/interfaces/http/routes/post/markAsCompliant.ts
  services/school2/interfaces/http/tsconfig.json
Labels: wip

refacto:school(128): implement ports
  services/school2/interfaces/adapters/ports/answer.ts
  services/school2/interfaces/adapters/ports/author.ts
  services/school2/interfaces/adapters/ports/index.ts
  services/school2/interfaces/adapters/ports/notificationSettings.ts
  services/school2/interfaces/adapters/ports/post.ts
  services/school2/interfaces/adapters/ports/report.ts
  services/school2/interfaces/adapters/tsconfig.json
  services/school2/interfaces/adapters/useCases/index.ts
  services/school2/interfaces/providers/asyncMessage/index.ts
  services/school2/interfaces/providers/bottle/index.ts
  services/school2/interfaces/providers/bottle/types/index.ts
  services/school2/interfaces/providers/harbor/index.ts
  services/school2/interfaces/providers/mongo/entities/answer.ts
  services/school2/interfaces/providers/mongo/entities/post.ts
  services/school2/interfaces/providers/mongo/index.ts
  services/school2/interfaces/providers/tsconfig.json
Labels: wip

refacto:school(128): add domain model
  services/school2/business/domains/aggregates/anonymiseAuthor.ts
  services/school2/business/domains/aggregates/createPost.ts
  services/school2/business/domains/aggregates/createReportAnswer.ts
  services/school2/business/domains/aggregates/createReportPost.ts
  services/school2/business/domains/aggregates/markAnswerAsCompliant.ts
  services/school2/business/domains/aggregates/markPostAsCompliant.ts
  services/school2/business/domains/aggregates/renameAuthor.ts
  services/school2/business/domains/aggregates/replyToPost.ts
  services/school2/business/domains/aggregates/restoreAuthor.ts
  services/school2/business/domains/common/user.ts
  services/school2/business/domains/common/warning.ts
  services/school2/business/domains/entities/answer.ts
  services/school2/business/domains/entities/notificationSetting.ts
  services/school2/business/domains/entities/post.ts
  services/school2/business/domains/entities/report.ts
  services/school2/business/domains/repositories/answer.ts
  services/school2/business/domains/repositories/author.ts
  services/school2/business/domains/repositories/post.ts
  services/school2/business/domains/tsconfig.json
Labels: wip

fix:coral(128): remove async logger
  services/coral/interfaces/asyncMessage/main.ts
  services/coral/vendors/backend-logger
Labels: wip, coral

refacto:school(128): add use cases
  services/school2/business/applications/ports/answer.ts
  services/school2/business/applications/ports/author.ts
  services/school2/business/applications/ports/notificationSetting.ts
  services/school2/business/applications/ports/post.ts
  services/school2/business/applications/ports/report.ts
  services/school2/business/applications/ports/types/baseRepository.ts
  services/school2/business/applications/ports/types/index.ts
  services/school2/business/applications/tsconfig.json
  services/school2/business/applications/useCases/answer/createReportAnswer.ts
  services/school2/business/applications/useCases/answer/index.ts
  services/school2/business/applications/useCases/answer/markAnswerAsCompliant.ts
  services/school2/business/applications/useCases/answer/replyToPost.ts
  services/school2/business/applications/useCases/author/anonymiseAuthor.ts
  services/school2/business/applications/useCases/author/index.ts
  services/school2/business/applications/useCases/author/renameAuthor.ts
  services/school2/business/applications/useCases/author/restoreAuthor.ts
  services/school2/business/applications/useCases/post/createPost.ts
  services/school2/business/applications/useCases/post/createReportPost.ts
  services/school2/business/applications/useCases/post/index.ts
  services/school2/business/applications/useCases/post/markPostAsCompliant.ts
Labels: wip

refacto:school(128): scaffold service
  services/school2/.commands/test-lint.sh
  services/school2/.commands/test-types.sh
  services/school2/.env
  services/school2/.gitignore
  services/school2/compose.yml
  services/school2/eslint.config.ts
  services/school2/interfaces/asyncMessage/main.js
  services/school2/interfaces/asyncMessage/main.ts
  services/school2/interfaces/asyncMessage/tsconfig.json
  services/school2/interfaces/envs.ts
  services/school2/interfaces/main.js
  services/school2/interfaces/tsconfig.json
  services/school2/package.json
  services/school2/tsconfig.base.json
  services/school2/tsconfig.json
Labels: wip

fix:entityRules(128): narrow rule constants
  libs/entity-rules/scripts/answer.ts
  libs/entity-rules/scripts/post.ts
  libs/entity-rules/scripts/warning/base.ts
Labels: wip

config(128): update workspace packages
  .npm-packages/package.json
  e2e/package.json
  libs/async-message/package.json
  libs/clean/package.json
  libs/clients-type/package.json
  libs/design-system/package.json
  libs/entity-rules/package.json
  libs/eslint/package.json
  libs/sentry-logger/package.json
  package-lock.json
  services/abys/package.json
  services/bridge/package.json
  services/coral/package.json
  services/lighthouse/package.json
  services/marine-snow/package.json
  services/rosetta/package.json
  services/sea/package.json
  services/spotter/package.json
Labels: wip, abys, marine-snow, rosetta, sea, spotter, design-system, bridge, lighthouse, coral

fix:school(128): reply post
  services/school/business/applications/useCases/answer/replyToPost.ts
  services/school/business/domains/aggregates/replyToPost.ts
  services/school/interfaces/http/checkers/post.ts
  services/school/interfaces/http/routes/answer/reply.ts
Labels: wip, school

refacto:school(128): add fixture
  libs/fixture/package.json
  package-lock.json
  services/school/interfaces/fixtures/index.ts
  services/school/interfaces/fixtures/tsconfig.json
  services/school/package.json
  services/school/tsconfig.json
Labels: wip, school

refacto:school(128): add asyncMessage interface
  libs/backend-logger/package.json
  package-lock.json
  services/school2/interfaces/asyncMessage/main.ts
  services/school2/interfaces/asyncMessage/messages/anonymiseAuthor.ts
  services/school2/interfaces/asyncMessage/messages/index.ts
  services/school2/interfaces/asyncMessage/messages/renameAuthor.ts
  services/school2/interfaces/asyncMessage/messages/restoreAuthor.ts
  services/school2/interfaces/asyncMessage/tsconfig.json
  services/school2/package.json
Labels: wip

refacto:school(128): lot of fix
  libs/async-message/scripts/index.ts
  services/school2/business/applications/ports/answer.ts
  services/school2/business/applications/ports/post.ts
  services/school2/business/domains/entities/answer.ts
  services/school2/business/domains/entities/post.ts
  services/school2/interfaces/adapters/ports/answer.ts
  services/school2/interfaces/adapters/ports/post.ts
  services/school2/interfaces/asyncMessage/main.js
  services/school2/interfaces/http/checkers/answer.ts
  services/school2/interfaces/http/checkers/post.ts
  services/school2/interfaces/http/main.js
  services/school2/package.json
Labels: wip

fix(128): lot of fix
  services/school/business/domains/aggregates/answer/createReportAnswer.ts
  services/school/business/domains/aggregates/answer/replyToPost.ts
  services/school/business/domains/aggregates/post/createPost.ts
  services/school/business/domains/aggregates/post/createReportPost.ts
  services/school/interfaces/http/routes/answer/createReport.ts
  services/school/interfaces/http/routes/answer/reply.ts
  services/school/interfaces/http/routes/post/create.ts
  services/school/interfaces/http/routes/post/createReport.ts
Labels: wip, school

refacto:school(129): adapt school provider of horizon and bridge
  package-lock.json
  services/bridge/interfaces/providers/school/v2.ts
  services/bridge/package.json
  services/horizon/interfaces/providers/school/v2.ts
Labels: wip, horizon, bridge

fix:coral(128): remove vendors
  package-lock.json
  services/coral/business/applications/useCases/documentFolder/checkDocumentFolderCapacity.ts
  services/coral/business/domains/entities/documentFolder.ts
  services/coral/business/domains/entities/documentInFolder.ts
  services/coral/business/domains/entities/favoriteEquation.ts
  services/coral/eslint.config.ts
  services/coral/interfaces/asyncMessage/main.ts
  services/coral/interfaces/http/main.ts
  services/coral/interfaces/providers/asyncMessage/index.ts
  services/coral/package.json
  services/coral/vendors/async-message
  services/coral/vendors/entity-rules
  services/coral/vendors/eslint
Labels: wip, coral

fix(hf): lot of fix
  libs/entity-rules/scripts/user.ts
  services/coral/interfaces/envs.ts
  services/school/interfaces/envs.ts
  services/school/interfaces/http/main.ts
  services/school/package.json
Labels: wip, school, coral

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

design-system:
  - "libs/design-system/**/*"

bridge:
  - "services/bridge/**/*"

lighthouse:
  - "services/lighthouse/**/*"

coral:
  - "services/coral/**/*"
  
beacon:
  - "services/beacon/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"
