Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse, coral, beacon, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

design-system:
  - "libs/design-system/**/*"

bridge:
  - "services/bridge/**/*"

lighthouse:
  - "services/lighthouse/**/*"

coral:
  - "services/coral/**/*"
  
beacon:
  - "services/beacon/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

fix:queryAdvancedSearch(117): add new article type
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  libs/types-advanced-query/scripts/comparator/articleType.ts
Labels: wip

feat(109): fix trad
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/tutorial/Fr-fr.ts
Labels: wip, spotter, lighthouse

feat(109): fix responsive
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
Labels: wip, spotter

feat(109): add missing comparators to tutorial
  services/spotter/src/domains/search/pages/ScratchTutorialPage.vue
  services/spotter/src/i18n/languages/tutorial/Fr-fr.ts
Labels: wip, spotter

feat(109): Change tutorial link with icon
  libs/design-system/src/components/ui/icon/index.ts
  services/spotter/src/domains/search/components/AdvancedSearchInput.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat:rosetta(117): add retry on libretranslate call
  libs/clean/scripts/utils.test.ts
  libs/clean/scripts/utils.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/utils/retrying.ts
  services/rosetta/interfaces/providers/libretranslate/index.ts
Labels: wip, marine-snow, rosetta

feat:marineSnow(117): add one search result usecase
  docs/services/marine-snow/commands.md
  package.json
  scripts/initDevEnv.sh
  services/marine-snow/business/applications/repositories/scienceDatabase.ts
  services/marine-snow/business/applications/usecases/searchResult/addOneSearchResult.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/commands/addOneSearchResult.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/pubmedRoute.d.ts
  services/marine-snow/interfaces/repositories/scienceDatabase.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/formaters/pubmed/article.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/package.json
  services/rosetta/interfaces/providers/libretranslate/index.ts
Labels: package, wip, marine-snow, rosetta

feat(112): fix bad namings
  services/coral/business/applications/usecases/documentInFolder/userRenameDocumentInFolder.ts
  services/coral/interfaces/usecase/index.ts
Labels: wip, coral

fix(hf): rename profile in profil
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/composables/useEditProfilForm.ts
  services/spotter/src/domains/user/pages/ProfilPage.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter

feat(110): add profil page test e2e
  e2e/components/accountDropdown.ts
  e2e/components/user/profil/editProfilForm.ts
  e2e/package.json
  e2e/pages/profil.ts
  e2e/tests/profil.spec.ts
  e2e/vendors/clean
  package-lock.json
  services/spotter/src/domains/user/components/AccountDropdown.vue
Labels: wip, spotter

feat(110): create documentFolder test e2e
  e2e/components/user/documentFolder/createDocumentFolderDialog.ts
  e2e/components/user/documentFolder/documentFolderHeader.ts
  e2e/components/user/documentFolder/ducumentFolderWrapper.ts
  e2e/pages/document.ts
  e2e/pages/documentFolder.ts
  e2e/pages/documentInFolder.ts
  e2e/tests/addDocumentInFolder.spec.ts
  e2e/tests/createDocumentFolder.spec.ts
  services/spotter/src/domains/user/components/CreateDocumentFolderDialog.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
Labels: wip, spotter

feat:sea(117): pass to functional
  services/sea/interfaces/providers/elastic/elastic.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/providers/elastic/indexes/index.ts
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, sea, spotter

feat(110): add press key action e2e lib
  e2e/playwright/actions.ts
Labels: wip

feat(110): add addDocumentInFolder test e2e
  e2e/components/document/createManyDocumentInFolderDialog.ts
  e2e/pages/document.ts
  e2e/tests/addDocumentInFolder.spec.ts
  e2e/tests/profil.spec.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/user/components/CreateManyDocumentInFolderDialog.vue
Labels: wip, spotter

fix(hf): fix DSRange not sliding on mobile
  libs/design-system/src/components/DSRange.vue
Labels: wip, design-system

feat:marineSnow(117): implemente article reference repository
  libs/clean/scripts/utils.ts
  services/marine-snow/business/applications/repositories/articleReference.ts
  services/marine-snow/business/applications/repositories/scienceDatabase.ts
  services/marine-snow/business/applications/usecases/exportArticleReference/many.ts
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/repositories/articleReference.ts
  services/marine-snow/tsconfig.json
Labels: wip, marine-snow

feat(110): fix profil test e2e
  e2e/tests/profil.spec.ts
Labels: wip

fix(hf): renaming
  docs/services/marine-snow/commands.md
  package.json
  scripts/initDevEnv.sh
  services/marine-snow/interfaces/commands/exportManyArictleReferenceMission.ts
  services/marine-snow/interfaces/commands/exportManyArticleReferenceMission.ts
  services/marine-snow/interfaces/commands/exportOneArticleReferenceMission.ts
  services/marine-snow/package.json
Labels: package, wip, marine-snow

fix(hf): trad
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

fix:rosetta(hf): add more whit libretranslate retry
  libs/clean/scripts/utils.ts
  services/rosetta/interfaces/providers/googleScrape/index.ts
  services/rosetta/interfaces/providers/libretranslate/index.ts
Labels: wip, rosetta

fix(hf): add worker purge and fix command
  .github/workflows/deploy.yml
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  libs/entity-rules/scripts/reporting.ts
  libs/types-advanced-query/scripts/comparator/articleType.ts
  services/marine-snow/business/domains/entities/fetchArticleReferenceMission/pubmed.ts
  services/marine-snow/interfaces/commands/exportManyArticleReferenceMission.ts
  services/marine-snow/interfaces/commands/fetchArticleReferenceMission/resumePubmed.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
Labels: github, wip, marine-snow, spotter

fix(hf): try to fix gg trad worker
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/components/PreviewTranslationDialog.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/utils.ts
  services/rosetta/interfaces/providers/googleScrape/index.ts
Labels: wip, marine-snow, rosetta, lighthouse

fix(hf): fix DSRange not sliding on mobile
  libs/design-system/src/components/DSRange.vue
Labels: wip, design-system

feat(112): add default rename value
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
Labels: wip, spotter

fix(hf): update obsolete dependencies
  libs/design-system/package.json
  package-lock.json
  services/spotter/package.json
Labels: wip, spotter, design-system

feat(112): refacto rename forms
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  package-lock.json
  services/spotter/src/domains/user/composables/useRenameForm.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
Labels: wip, spotter

feat(112): add feature md
  docs/features/user/documentFolders/delete.md
  docs/features/user/documentFolders/documentInFolders/create.md
  docs/features/user/documentFolders/documentInFolders/rename.md
  docs/features/user/documentFolders/rename.md
Labels: wip

feat(112): refacto rename routes
  services/coral/interfaces/http/routes/documentFolder/rename.ts
  services/coral/interfaces/http/routes/documentInFolder/rename.ts
Labels: wip, coral

feat(112): fix bad namings
  services/coral/business/applications/usecases/documentInFolder/userRenameDocumentInFolder.ts
  services/coral/interfaces/usecase/index.ts
Labels: wip, coral

feat(112): add rename document file option
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/coral/business/applications/usecases/documentInFolder/userRenameInDocumentFolder.ts
  services/coral/interfaces/http/routes/documentInFolder/rename.ts
  services/coral/interfaces/http/routes/index.ts
  services/coral/interfaces/usecase/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/index.ts
  services/horizon/interfaces/http/routes/documentInFolder/rename.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, coral

feat(112): add rename folder option
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  services/coral/business/applications/usecases/documentFolder/userRenameDocumentFolder.ts
  services/coral/interfaces/http/routes/documentFolder/rename.ts
  services/coral/interfaces/http/routes/index.ts
  services/coral/interfaces/usecase/index.ts
  services/horizon/interfaces/http/routes/documentFolder/index.ts
  services/horizon/interfaces/http/routes/documentFolder/rename.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, design-system, coral

fix(hf): debug rosetta and add more scrape replicas
  libs/duplo-plugins/plugins/debug.ts
  services/beacon/business/applications/usecases/bakedDocumentTranslationReportingAggregate/processesBakedDocumentTranslationReportingAggregate.ts
  services/rosetta/.env
  services/rosetta/interfaces/envs.ts
  services/rosetta/interfaces/providers/googleScrape/index.ts
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
Labels: wip, rosetta, beacon

fix(120): search document folder
  libs/design-system/src/utils/debounce.ts
  services/coral/interfaces/repositories/documentFolder.ts
Labels: wip, design-system, coral

feat:spotter(120): change header folder title size
  libs/clean/scripts/utils.ts
  services/spotter/src/domains/folder/components/FolderHeader.vue
Labels: wip, spotter

fix(hf): bad stylesheet ref
  services/spotter/index.html
Labels: wip, spotter

feat(122): fix useless router history on document language change
  services/spotter/src/components/BackButton.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
Labels: wip, spotter

fix(hf): remove usless imports
  libs/design-system/src/components/DSComboBox.vue
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/DSOpenTansition.vue
Labels: wip, design-system

feat(109): fix lists
  services/spotter/src/domains/search/pages/ScratchTutorialPage.vue
Labels: wip, spotter

feat(109): add adv search tuto page
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/icon/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/pages/ScratchTutorialPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter, design-system

feat(109): split tutorial trad
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/tutorial/Fr-fr.ts
Labels: wip, spotter
