Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

feat(46): rework facet
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  services/sea/interfaces/http/routes/facet.ts
  services/sea/interfaces/http/routes/index.ts
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/facet.ts
  services/sea/interfaces/http/schemas/search.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/interfaces/search/facet/articleTypes.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
  services/sea/interfaces/utils/stringArrayRegexed.ts
Labels: wip, sea

feat(46): rework simple search page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/DSSea.vue
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/select/DSSelect.vue
  libs/design-system/src/composables/useSmoothEnabled.ts
  package-lock.json
  services/horizon/business/entities/facets.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/http/routes/search.ts
  services/horizon/interfaces/http/schemas/search/facet.ts
  services/horizon/interfaces/http/schemas/search/filter.ts
  services/horizon/interfaces/providers/school/index.ts
  services/horizon/interfaces/providers/sea/index.ts
  services/horizon/interfaces/providers/sea/types/facets.ts
  services/horizon/package.json
  services/marine-snow/interfaces/commands/resumeMissionSearchResult.ts
  services/school/interfaces/http/routes/post.ts
  services/sea/interfaces/http/routes/facet.ts
  services/sea/interfaces/search/simple.ts
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/domains/forum/composables/usePostPage.ts
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SimpleSearch.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/composables/useSimpleSearchPage.ts
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/layouts/BaseLayout.vue
  services/spotter/src/lib/horizon/index.ts
  services/spotter/src/lib/horizon/types/bakedDocument.ts
  services/spotter/src/lib/horizon/types/document.ts
  services/spotter/src/lib/horizon/types/search.ts
Labels: wip, horizon, marine-snow, school, sea, spotter, design-system

feat(46): refacto simple search page
  libs/design-system/package.json
  libs/design-system/src/index.css
  package-lock.json
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(46): fix set key date
  libs/design-system/src/components/DSButtonPrimary.vue
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/composables/useSmoothEnabled.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
Labels: wip, abys, design-system

feat(46): add DSMultiComboBox
  libs/design-system/src/components/DSClosingTag.vue
  libs/design-system/src/components/MultiComboBox/DSMultiComboBox.vue
  libs/design-system/src/components/MultiComboBox/types.d.ts
  libs/design-system/src/components/ui/command/DSCommand.vue
  libs/design-system/src/components/ui/command/DSCommandDialog.vue
  libs/design-system/src/components/ui/command/DSCommandEmpty.vue
  libs/design-system/src/components/ui/command/DSCommandGroup.vue
  libs/design-system/src/components/ui/command/DSCommandInput.vue
  libs/design-system/src/components/ui/command/DSCommandItem.vue
  libs/design-system/src/components/ui/command/DSCommandList.vue
  libs/design-system/src/components/ui/command/DSCommandSeparator.vue
  libs/design-system/src/components/ui/command/DSCommandShortcut.vue
  libs/design-system/src/components/ui/command/index.ts
  libs/design-system/src/components/ui/popover/DSPopover.vue
  libs/design-system/src/components/ui/popover/DSPopoverAnchor.vue
  libs/design-system/src/components/ui/popover/DSPopoverContent.vue
  libs/design-system/src/components/ui/popover/DSPopoverTrigger.vue
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/components.d.ts
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system

feat(46): update DSMultiComboBox
  libs/design-system/src/components/DSClosingTag.vue
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/ui/command/DSCommand.vue
  libs/design-system/src/components/ui/command/DSCommandDialog.vue
  libs/design-system/src/index.css
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/components/filters/TheFilters.vue
  services/spotter/src/domains/search/components/filters/partials/CheckboxFilter.vue
  services/spotter/src/domains/search/components/filters/partials/MultiSelectFilter.vue
  services/spotter/src/domains/search/components/filters/partials/RangeFilter.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/layouts/BaseLayout.vue
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system

feat(46): update advanced search page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/business/entities/post.ts
  services/spotter/src/domains/forum/composables/useCreatePost.ts
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/scratch/TheScratch.vue
  services/spotter/src/domains/search/components/scratch/partials/OperatorContentDialog.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/SelectOperator.vue
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/search/pages/TestPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter

feat(46): finish filters
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/ui/command/DSCommand.vue
  libs/design-system/src/components/ui/command/DSCommandItem.vue
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/filters/TheFilters.vue
  services/spotter/src/domains/search/components/filters/partials/MultiSelectFilter.vue
  services/spotter/src/domains/search/components/filters/partials/checkboxWrapper.ts
  services/spotter/src/domains/search/components/filters/partials/multiSelectWrapper.ts
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system

feat(46): fix simple filter
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/DSMultiComboBox.vue
  services/horizon/interfaces/http/plugins/generate.ts
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/search/advenced.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/simple.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/composables/useSearchPage.ts
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/domains/search/utils/convertQueryTofilter.ts
  services/spotter/src/lib/horizon/types/bakedDocument.ts
  services/spotter/src/lib/horizon/types/search.ts
  services/spotter/src/utils/toArrayZodSchema.ts
  services/spotter/tsconfig.app.json
Labels: wip, horizon, sea, spotter, design-system

feat(46): fix result
  libs/design-system/src/components/ui/icon/DSIcon.vue
  services/spotter/components.d.ts
  services/spotter/src/domains/search/components/DocumentResultRow.vue
Labels: wip, spotter, design-system

feat(46): fix year range
  services/sea/interfaces/search/facet/articleTypes.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
  services/sea/interfaces/utils/removeElasticRequestFields.ts
  services/spotter/src/domains/search/components/filters/partials/MultiSelectFilter.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, sea, spotter

feat(46): rework checkbox filter
  services/sea/interfaces/search/facet/articleTypes.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/utils/stringArrayRegexed.ts
  services/sea/interfaces/utils/stringArrayToRegex.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/pages/SearchPage.vue
Labels: wip, sea, spotter

feat(46): lot of fix
  services/horizon/interfaces/http/main.ts
  services/horizon/interfaces/http/plugins/accelerator.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/index.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/article.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed/types/pubmedRoute.d.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/formaters/.gitkeep
  services/marine-snow/interfaces/workers/missions/sendSearchResult/formaters/pubmed/article.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/formaters/pubmed/date.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/one.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/user/composables/useUserInformation.ts
Labels: wip, horizon, marine-snow, spotter

fix(hf): update deploy
  .github/workflows/deploy.yml
  compose.prod.yml
  docs/deploy/duplo-back.md
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  services/abys/interfaces/http/routes/bakedDocument.ts
  services/bottle/.env
  services/horizon/interfaces/providers/abys/index.ts
Labels: github, wip, abys, bottle, horizon, docker

feat(53): fix mail templates
  services/bottle/interfaces/providers/email/templates/baseTemplate.ts
  services/bottle/interfaces/providers/email/templates/registerTemplate.ts
Labels: wip, bottle

feat(53): fix naming
  services/bottle/interfaces/providers/email/templates/registerTemplate.ts
  services/bottle/interfaces/repositories/notification.ts
Labels: wip, bottle

feat(53): fix mail send
  services/bottle/interfaces/providers/email/index.ts
  services/bottle/interfaces/providers/email/templates/baseTemplate.ts
  services/bottle/interfaces/repositories/notification.ts
Labels: wip, bottle

feat(53): add mail template
  services/bottle/interfaces/providers/email/templates/baseTemplate.ts
  services/bottle/interfaces/providers/email/templates/signIn.ts
  services/bottle/interfaces/repositories/notification.ts
Labels: wip, bottle

fix(hf): fix wording
  services/spotter/src/App.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(53): big push (+ feat 31)
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
  libs/design-system/src/index.css
  libs/design-system/src/lib/utils.ts
  services/abys/interfaces/http/routes/bakedDocument.ts
  services/abys/interfaces/http/schemas/bakedDocument.ts
  services/bottle/interfaces/configs/email.ts
  services/bottle/interfaces/providers/email/templates/answeredPost.ts
  services/bottle/interfaces/providers/email/templates/registerTemplate.ts
  services/bottle/interfaces/repositories/notification.ts
  services/horizon/business/entities/answer.ts
  services/horizon/business/entities/bakedDocument.ts
  services/horizon/interfaces/configs/document.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/document.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/http/schemas/document.ts
  services/school/interfaces/http/schemas/answer.ts
  services/sea/compose.template.yml
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/document/composables/useDocumentPage.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/forum/components/RowPost.vue
  services/spotter/src/domains/forum/composables/useCreatePost.ts
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SearchTemplate.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/pages/AdvencedSearch.vue
  services/spotter/src/domains/search/pages/SimpleSearch.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/domains/search/utils/convertQuery.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/style.css
Labels: wip, abys, bottle, horizon, school, sea, spotter, design-system

feat(53): lot of fix
  libs/design-system/src/components/ui/icon/DSIcon.vue
  services/sea/.env
  services/sea/compose.template.yml
  services/sea/interfaces/providers/elastic/index.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, sea, spotter, design-system

fix(hf): max size
  libs/design-system/src/components/ui/hint/DSHintError.vue
  libs/types-advanced-query/scripts/comparator.ts
  libs/types-advanced-query/scripts/operator.ts
  services/colossal/components.d.ts
  services/horizon/interfaces/configs/answer.ts
  services/horizon/interfaces/configs/post.ts
  services/horizon/interfaces/configs/search.ts
  services/horizon/interfaces/http/main.ts
  services/horizon/interfaces/http/plugins/bodyLimit.ts
  services/horizon/interfaces/http/routes/answer.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/http/routes/search.ts
  services/horizon/interfaces/http/schemas/post.ts
  services/horizon/interfaces/http/schemas/search/search.ts
  services/pilot/components.d.ts
  services/spotter/components.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SearchTemplate.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorAndOr.vue
  services/spotter/src/domains/search/utils/jsonKeyChanger.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/tide/components.d.ts
Labels: wip, colossal, horizon, pilot, spotter, tide, design-system
