Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, colossal, harbor, horizon, marine-snow, pilot, rosetta, school, sea, spotter, tide, design-system, docker

feat(46): remove nested field
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  package-lock.json
  services/abys/interfaces/repositories/sea.ts
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/http/schemas/search.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/search/simple.ts
Labels: wip, abys, sea

feat(46): add filters
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/filter.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
Labels: wip, sea

fix(hf): marine-snow
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/marine-snow/interfaces/commands/missionSendSearchResult.ts
  services/marine-snow/interfaces/repositories/scienceDatabase.ts
Labels: wip, marine-snow

feat(46): rework facet
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/facet.ts
  services/sea/interfaces/http/schemas/filter.ts
  services/sea/interfaces/search/facet.ts
  services/sea/interfaces/search/facet/articleTypes.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
  services/sea/interfaces/utils/facetValues.ts
  services/sea/interfaces/utils/stringArrayToRegex.ts
Labels: wip, sea

feat(46): add first filter articleType
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/filter.ts
  services/sea/interfaces/search/facet/articleTypes.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
Labels: wip, sea

feat(46): rework facet
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  services/sea/interfaces/http/routes/facet.ts
  services/sea/interfaces/http/routes/index.ts
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/facet.ts
  services/sea/interfaces/http/schemas/search.ts
  services/sea/interfaces/providers/elastic/index.ts
  services/sea/interfaces/search/facet/articleTypes.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
  services/sea/interfaces/utils/stringArrayRegexed.ts
Labels: wip, sea

feat(46): rework horizon schema
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  services/abys/interfaces/http/plugins/generate.ts
  services/abys/interfaces/http/schemas/bakedDocument.ts
  services/abys/interfaces/repositories/sea.ts
  services/horizon/.env
  services/horizon/business/entities/answer.ts
  services/horizon/business/entities/bakedDocument.ts
  services/horizon/business/entities/bakedDocumentSearchResult.ts
  services/horizon/business/entities/common/articleType.ts
  services/horizon/business/entities/common/provider.ts
  services/horizon/business/entities/facets.ts
  services/horizon/business/entities/post.ts
  services/horizon/business/entities/user.ts
  services/horizon/business/tsconfig.json
  services/horizon/interfaces/configs/search.ts
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/http/routes/search.ts
  services/horizon/interfaces/http/schemas/answer.ts
  services/horizon/interfaces/http/schemas/document.ts
  services/horizon/interfaces/http/schemas/post.ts
  services/horizon/interfaces/http/schemas/search/facet.ts
  services/horizon/interfaces/http/schemas/search/filter.ts
  services/horizon/interfaces/http/schemas/search/search.ts
  services/horizon/interfaces/http/schemas/user.ts
  services/horizon/interfaces/providers/sea/index.ts
  services/horizon/interfaces/providers/sea/types/simpleSearchResult.ts
  services/horizon/package.json
  services/horizon/tsconfig.json
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/http/schemas/filter.ts
  services/sea/interfaces/http/schemas/search.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
Labels: wip, abys, horizon, sea, spotter

feat(46): rework simple search page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/DSSea.vue
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/select/DSSelect.vue
  libs/design-system/src/composables/useSmoothEnabled.ts
  package-lock.json
  services/horizon/business/entities/facets.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/http/routes/search.ts
  services/horizon/interfaces/http/schemas/search/facet.ts
  services/horizon/interfaces/http/schemas/search/filter.ts
  services/horizon/interfaces/providers/school/index.ts
  services/horizon/interfaces/providers/sea/index.ts
  services/horizon/interfaces/providers/sea/types/facets.ts
  services/horizon/package.json
  services/marine-snow/interfaces/commands/resumeMissionSearchResult.ts
  services/school/interfaces/http/routes/post.ts
  services/sea/interfaces/http/routes/facet.ts
  services/sea/interfaces/search/simple.ts
  services/spotter/src/components/SearchOverlay.vue
  services/spotter/src/domains/forum/composables/usePostPage.ts
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SimpleSearch.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/composables/useSimpleSearchPage.ts
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/layouts/BaseLayout.vue
  services/spotter/src/lib/horizon/index.ts
  services/spotter/src/lib/horizon/types/bakedDocument.ts
  services/spotter/src/lib/horizon/types/document.ts
  services/spotter/src/lib/horizon/types/search.ts
Labels: wip, horizon, marine-snow, school, sea, spotter, design-system

feat(46): fix set key date
  libs/design-system/src/components/DSButtonPrimary.vue
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/composables/useSmoothEnabled.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
Labels: wip, abys, design-system

feat(46): refacto simple search page
  libs/design-system/package.json
  libs/design-system/src/index.css
  package-lock.json
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/components/TheFilters.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(46): add DSMultiComboBox
  libs/design-system/src/components/DSClosingTag.vue
  libs/design-system/src/components/MultiComboBox/DSMultiComboBox.vue
  libs/design-system/src/components/MultiComboBox/types.d.ts
  libs/design-system/src/components/ui/command/DSCommand.vue
  libs/design-system/src/components/ui/command/DSCommandDialog.vue
  libs/design-system/src/components/ui/command/DSCommandEmpty.vue
  libs/design-system/src/components/ui/command/DSCommandGroup.vue
  libs/design-system/src/components/ui/command/DSCommandInput.vue
  libs/design-system/src/components/ui/command/DSCommandItem.vue
  libs/design-system/src/components/ui/command/DSCommandList.vue
  libs/design-system/src/components/ui/command/DSCommandSeparator.vue
  libs/design-system/src/components/ui/command/DSCommandShortcut.vue
  libs/design-system/src/components/ui/command/index.ts
  libs/design-system/src/components/ui/popover/DSPopover.vue
  libs/design-system/src/components/ui/popover/DSPopoverAnchor.vue
  libs/design-system/src/components/ui/popover/DSPopoverContent.vue
  libs/design-system/src/components/ui/popover/DSPopoverTrigger.vue
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/components.d.ts
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system

feat:bottle(49): init bottle service
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  package-lock.json
  services/bottle/.env
  services/bottle/.env.local.exemple
  services/bottle/.gitignore
  services/bottle/business/applications/repositories/notification.ts
  services/bottle/business/applications/repositories/user.ts
  services/bottle/business/applications/usecases/createAndSendInscription.ts
  services/bottle/business/domains/common/.gitkeep
  services/bottle/business/domains/entities/notification/base.ts
  services/bottle/business/domains/entities/notification/email.ts
  services/bottle/business/domains/entities/settings/email.ts
  services/bottle/business/domains/entities/user.ts
  services/bottle/business/tsconfig.json
  services/bottle/compose.yml
  services/bottle/interfaces/envs.ts
  services/bottle/interfaces/http/main.ts
  services/bottle/interfaces/http/routes/index.ts
  services/bottle/interfaces/http/routes/register.ts
  services/bottle/interfaces/providers/email/index.ts
  services/bottle/interfaces/providers/mongo/entities/notification.ts
  services/bottle/interfaces/providers/mongo/entities/user.ts
  services/bottle/interfaces/providers/mongo/index.ts
  services/bottle/interfaces/repositories/index.ts
  services/bottle/interfaces/repositories/notification.ts
  services/bottle/interfaces/repositories/user.ts
  services/bottle/interfaces/routes/index.ts
  services/bottle/interfaces/usecases/index.ts
  services/bottle/package.json
  services/bottle/vendors/clean
  services/bottle/vitest.config.ts
  services/harbor/.env
  services/harbor/business/applications/repositories/user.ts
  services/harbor/business/applications/usecases/findOrCreateUser.ts
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/providers/bottle/index.ts
  services/harbor/interfaces/repositories/user.ts
Labels: wip, bottle, harbor

feat(49): add send register notification in harbor service
  docs/bottle/commands.md
  package.json
  services/bottle/compose.yml
  services/harbor/business/applications/repositories/bottle.ts
  services/harbor/business/applications/repositories/user.ts
  services/harbor/business/applications/usecases/findOrCreateUser.ts
  services/harbor/business/applications/usecases/sendInscriptionNotification.ts
  services/harbor/interfaces/repositories/bottle.ts
  services/harbor/interfaces/repositories/index.ts
  services/harbor/interfaces/repositories/user.ts
Labels: package, wip, bottle, harbor

feat:spotter(48): add create poste page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/providers/school/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/forum/composables/useCreatePostForm.ts
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/document.ts
  services/spotter/src/lib/horizon/types/post.ts
  services/spotter/src/router/index.ts
Labels: wip, horizon, spotter

feat(49): fix review
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  package.json
  services/bottle/.env
  services/bottle/.env.local.exemple
  services/bottle/business/applications/repositories/notification.ts
  services/bottle/business/applications/usecases/createAndSendRegister.ts
  services/bottle/business/domains/entities/notification/register.ts
  services/bottle/interfaces/envs.ts
  services/bottle/interfaces/http/routes/register.ts
  services/bottle/interfaces/providers/mongo/entities/notification.ts
  services/bottle/interfaces/repositories/notification.ts
  services/bottle/interfaces/usecases/index.ts
  services/harbor/business/applications/repositories/bottle.ts
  services/harbor/business/applications/usecases/createRegisterNotification.ts
  services/harbor/business/applications/usecases/findOrCreateUser.ts
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/providers/bottle/index.ts
  services/harbor/interfaces/repositories/bottle.ts
Labels: package, wip, bottle, harbor

feat(34): refacto after review
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
Labels: wip, design-system

feat(34): refacto textarea min and max length
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
  services/spotter/src/domains/forum/composables/useCreatePost.ts
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
Labels: wip, spotter, design-system

feat(34): correct type error goTo
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/forum/composables/useCreatePostForm.ts
Labels: wip, spotter

feat(34): refacto review
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
Labels: wip, design-system

feat:spotter(34): add DSTextarea and redirect after create post + refacto
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
  libs/design-system/src/utils/createPage.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/http/schemas/post.ts
  services/school/business/domains/entities/post.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/http/schemas/post.ts
  services/sea/interfaces/http/schemas/document.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/forum/composables/useCreatePostForm.ts
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/lib/horizon/types/post.ts
Labels: wip, horizon, school, sea, spotter, design-system

feat(48): refacto after review
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
Labels: wip, design-system

feat(43): correct abstract type sea error (temporary)
  services/abys/interfaces/repositories/sea.ts
  services/horizon/interfaces/providers/school/index.ts
  services/school/interfaces/providers/mongo/entities/post.ts
Labels: wip, abys, horizon, school

feat:spotter(48): add create poste page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/providers/school/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/forum/composables/useCreatePostForm.ts
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/document.ts
  services/spotter/src/lib/horizon/types/post.ts
  services/spotter/src/router/index.ts
Labels: wip, horizon, spotter

feat(34): refacto unused variable in DSTextarea
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
Labels: wip, spotter, design-system

feat(34): refacto router.back() on create post page
  services/spotter/src/domains/forum/composables/useCreatePost.ts
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
Labels: wip, spotter

feat(52): add expiration notification
  services/bottle/business/domains/entities/notification/base.ts
  services/bottle/business/domains/entities/notification/register.ts
  services/bottle/interfaces/providers/mongo/index.ts
Labels: wip, bottle

feat(53): add mail template
  services/bottle/interfaces/providers/email/templates/baseTemplate.ts
  services/bottle/interfaces/providers/email/templates/signIn.ts
  services/bottle/interfaces/repositories/notification.ts
Labels: wip, bottle

feat(53): fix naming
  services/bottle/interfaces/providers/email/templates/registerTemplate.ts
  services/bottle/interfaces/repositories/notification.ts
Labels: wip, bottle

feat(53): fix mail templates
  services/bottle/interfaces/providers/email/templates/baseTemplate.ts
  services/bottle/interfaces/providers/email/templates/registerTemplate.ts
Labels: wip, bottle

feat(29): add simple search
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/router/index.ts
Labels: wip, spotter

fix(hf): rename Firebase credentials file like in doc
  compose.prod.yml
Labels: wip, docker

feat(35): add profile page
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenu.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuCheckboxItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuContent.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuGroup.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuLabel.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuRadioGroup.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuRadioItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSeparator.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuShortcut.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSub.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSubContent.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSubTrigger.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuTrigger.vue
  libs/design-system/src/components/ui/icon/DSIcon.vue
  services/colossal/components.d.ts
  services/pilot/components.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/pages/SimpleSearchPage.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/router/index.ts
  services/tide/components.d.ts
Labels: wip, colossal, pilot, spotter, tide, design-system

fix(35): profile page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/horizon/.env
  services/horizon/compose.yml
  services/horizon/interfaces/http/routes/user.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/user/composables/useUserInformation.ts
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/user.ts
  services/spotter/src/router/index.ts
Labels: wip, horizon, spotter

feat(35): rework fetch user and scroll
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/composables/useScroll.ts
  libs/design-system/src/composables/useWindow.ts
  libs/design-system/src/utils/createExternalPromise.ts
  services/horizon/interfaces/http/routes/user.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/composables/useUserInformation.ts
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/lib/horizon/types/user.ts
Labels: wip, horizon, spotter, design-system

feat(46): remove nested field
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  package-lock.json
  services/abys/interfaces/repositories/sea.ts
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/http/schemas/search.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/search/simple.ts
Labels: wip, abys, sea

feat(46): rework facet
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/facet.ts
  services/sea/interfaces/http/schemas/filter.ts
  services/sea/interfaces/search/facet.ts
  services/sea/interfaces/search/facet/articleTypes.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
  services/sea/interfaces/utils/facetValues.ts
  services/sea/interfaces/utils/stringArrayToRegex.ts
Labels: wip, sea

feat(46): add filters
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/filter.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
Labels: wip, sea

feat(46): add first filter articleType
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/filter.ts
  services/sea/interfaces/search/facet/articleTypes.ts
  services/sea/interfaces/search/facet/gender.ts
  services/sea/interfaces/search/facet/index.ts
  services/sea/interfaces/search/facet/species.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
Labels: wip, sea

feat(46): rework horizon schema
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  services/abys/interfaces/http/plugins/generate.ts
  services/abys/interfaces/http/schemas/bakedDocument.ts
  services/abys/interfaces/repositories/sea.ts
  services/horizon/.env
  services/horizon/business/entities/answer.ts
  services/horizon/business/entities/bakedDocument.ts
  services/horizon/business/entities/bakedDocumentSearchResult.ts
  services/horizon/business/entities/common/articleType.ts
  services/horizon/business/entities/common/provider.ts
  services/horizon/business/entities/facets.ts
  services/horizon/business/entities/post.ts
  services/horizon/business/entities/user.ts
  services/horizon/business/tsconfig.json
  services/horizon/interfaces/configs/search.ts
  services/horizon/interfaces/envs.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/http/routes/search.ts
  services/horizon/interfaces/http/schemas/answer.ts
  services/horizon/interfaces/http/schemas/document.ts
  services/horizon/interfaces/http/schemas/post.ts
  services/horizon/interfaces/http/schemas/search/facet.ts
  services/horizon/interfaces/http/schemas/search/filter.ts
  services/horizon/interfaces/http/schemas/search/search.ts
  services/horizon/interfaces/http/schemas/user.ts
  services/horizon/interfaces/providers/sea/index.ts
  services/horizon/interfaces/providers/sea/types/simpleSearchResult.ts
  services/horizon/package.json
  services/horizon/tsconfig.json
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/http/schemas/filter.ts
  services/sea/interfaces/http/schemas/search.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/search/facet/year.ts
  services/sea/interfaces/search/simple.ts
  services/spotter/src/domains/search/pages/AdvancedSearchPage.vue
Labels: wip, abys, horizon, sea, spotter

fix(hf): marine-snow
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/marine-snow/interfaces/commands/missionSendSearchResult.ts
  services/marine-snow/interfaces/repositories/scienceDatabase.ts
Labels: wip, marine-snow

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

colossal:
  - "services/colossal/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

pilot:
  - "services/pilot/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

tide:
  - "services/tide/**/*"

design-system:
  - "libs/design-system/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"
