Repository mathcovax/seaence, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, spotter, design-system, bridge, lighthouse, coral, beacon, docker

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "*.md"

abys:
  - "services/abys/**/*"

bottle:
  - "services/bottle/**/*"

harbor:
  - "services/harbor/**/*"

horizon:
  - "services/horizon/**/*"

marine-snow:
  - "services/marine-snow/**/*"

rosetta:
  - "services/rosetta/**/*"

school:
  - "services/school/**/*"

sea:
  - "services/sea/**/*"

spotter:
  - "services/spotter/**/*"

design-system:
  - "libs/design-system/**/*"

bridge:
  - "services/bridge/**/*"

lighthouse:
  - "services/lighthouse/**/*"

coral:
  - "services/coral/**/*"
  
beacon:
  - "services/beacon/**/*"

docker:
  - ".docker/**/*"
  - "compose.yml"
  - "compose.prod.yml"

feat(84): UX improvements + trad fix
  libs/design-system/src/components/DSClickableText.vue
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  libs/design-system/src/components/ui/dialog/DSDialogHeader.vue
  services/lighthouse/components.d.ts
  services/lighthouse/src/components/BackButton.vue
  services/lighthouse/src/domains/forum/postModeration/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/spotter/components.d.ts
  services/spotter/src/components/BackButton.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/scratch/partials/BoostButton.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/components/AddToFavoriteEquation.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

feat(84): fix module card
  services/lighthouse/src/domains/dashboard/dashboardPage/components/ModuleCard.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, lighthouse

feat(84): add cgu page
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/edito/pages/CguPage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/edito/router.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/cgu/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter

fix(hf): fix some buttons
  services/spotter/src/domains/notification/components/BellButton.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
Labels: wip, spotter

feat(84): fix pagination
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
Labels: wip, spotter, lighthouse

feat(86): rosetta wait worker to start
  services/rosetta/.env
  services/rosetta/compose.yml
  services/rosetta/interfaces/envs.ts
  services/rosetta/interfaces/providers/googleScrape/index.ts
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
Labels: wip, rosetta

feat(73): mini fix
  services/lighthouse/auto-imports.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/user/components/CreateManyDocumentInFolderDialog.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/components/DocumentFolderHeader.vue
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/domains/user/composables/useCreateDocumentFolderDialog.ts
  services/spotter/src/domains/user/composables/useCreateDocumentFolderForm.ts
  services/spotter/src/domains/user/composables/useCreateManyDocumentInFolderDialog.ts
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/composables/useDocumentInFolderPage.ts
  services/spotter/src/domains/user/composables/useRemoveDocumentFolderDialog.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, lighthouse

feat(73): lot of fix
  libs/eslint/scripts/vue.ts
  services/coral/business/applications/usecases/documentFolder/userFindDocumentFolderById.ts
  services/coral/interfaces/repositories/documentFolder.ts
  services/horizon/interfaces/configs/documentFolder.ts
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, horizon, spotter, coral

feat(86): rosetta wait worker to start
  services/rosetta/.env
  services/rosetta/compose.yml
  services/rosetta/interfaces/envs.ts
  services/rosetta/interfaces/providers/googleScrape/index.ts
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
Labels: wip, rosetta

feat(86): fix transfome and add reindexation
  services/abys/business/applications/usecases/nodeSameRawDocument/transformeNodeSameRawDocumentToBakedDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/transformeUpdatedNodeSameRawDocumentsToBakedDocuments.ts
  services/abys/business/applications/usecases/transformeNodeSameRawDocumentAndReindexBakedDocument.ts
  services/abys/interfaces/http/routes/nodeSameRawDocument.ts
  services/abys/interfaces/usecase/index.ts
  services/lighthouse/components.d.ts
  services/spotter/src/domains/user/composables/useCreateDocumentFolderForm.ts
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
Labels: wip, abys, spotter, lighthouse

feat(86): fix doc feature
  docs/features/reportingBakedDocumentTranslation/manage.md
Labels: wip

feat(86): remove translate limite
  services/rosetta/interfaces/configs/translate.ts
  services/rosetta/interfaces/http/plugins/generate.ts
  services/rosetta/interfaces/http/routes/translate.ts
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
  services/rosetta/interfaces/providers/googleScrape/worker/sliceText.ts
Labels: wip, rosetta

feat(86): rename command
  docs/services/abys/commands.md
  package.json
  services/abys/business/applications/usecases/nodeSameRawDocument/transformeUpdatedNodeSameRawDocumentsToBakedDocuments.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/upsertPubmedRawDocument.ts
  services/abys/interfaces/commands/indexUpdatedBakedDocuments.ts
  services/abys/interfaces/commands/transformeUpdatedNodeSameRawDocumentsToBakedDocuments.ts
  services/abys/package.json
  services/rosetta/interfaces/providers/googleScrape/index.ts
Labels: package, wip, abys, rosetta

fix(hf): deploy all
  .docker/duplo-rosetta-back.dockerfile
  .github/workflows/deploy.yml
  compose.prod.yml
  docs/deploy/vue-front.md
  services/abys/.env
  services/beacon/.env
  services/beacon/package.json
  services/bottle/package.json
  services/bridge/.env
  services/harbor/.env
  services/lighthouse/.env
  services/lighthouse/src/envs.ts
  services/lighthouse/src/libs/sentry/index.ts
  services/school/package.json
  services/spotter/.env
  services/spotter/src/envs.ts
  services/spotter/src/lib/sentry/index.ts
Labels: github, wip, abys, bottle, harbor, school, spotter, bridge, lighthouse, beacon, docker

fix(hf): passe rosetta to alpine
  .docker/node-rosetta.dockerfile
  services/rosetta/compose.yml
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
Labels: wip, rosetta, spotter, docker

fix(hf): script worker
  .docker/duplo-rosetta-back.dockerfile
  .docker/node-rosetta.dockerfile
  libs/backend-logger/scripts/index.ts
  services/bottle/interfaces/main.ts
  services/school/interfaces/main.ts
Labels: wip, bottle, school, docker

fix(hf): coral accelerator
  services/coral/interfaces/http/main.ts
Labels: wip, coral

fix(hf): naming env vars
  services/beacon/.env
  services/beacon/interfaces/envs.ts
  services/beacon/interfaces/providers/mongo/index.ts
  services/school/.env
  services/school/interfaces/envs.ts
  services/school/interfaces/providers/mongo/index.ts
Labels: wip, school, beacon

fix(hf): add nodeSameRawDocumentId to search result document
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  services/abys/interfaces/repositories/searchEngine.ts
  services/horizon/business/entities/bakedDocument.ts
  services/sea/interfaces/http/routes/search.ts
  services/sea/interfaces/http/schemas/document.ts
  services/sea/interfaces/http/schemas/search.ts
  services/sea/interfaces/providers/elastic/indexes/document.ts
  services/sea/interfaces/search/index.ts
Labels: wip, abys, horizon, sea

feat(90): search result with saved document
  docs/features/search/advenced/comparator.md
  docs/features/search/advenced/index.md
  docs/features/search/advenced/operator.md
  docs/features/search/simple.md
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  services/coral/business/applications/repositories/documentInFolder.ts
  services/coral/business/applications/usecases/nodeSameRawDocument/nodeSameRawDocumentIdsHaveDocumentInFolder.ts
  services/coral/interfaces/http/routes/index.ts
  services/coral/interfaces/http/routes/nodeSameRawDocument/nodeSameRawDocumentIdsHaveDocumentInFolder.ts
  services/coral/interfaces/http/schemas/nodeSameRawDocument.ts
  services/coral/interfaces/repositories/documentInFolder.ts
  services/coral/interfaces/usecase/index.ts
  services/horizon/business/entities/bakedDocument.ts
  services/horizon/interfaces/http/routes/search.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
Labels: wip, horizon, spotter, design-system, coral

feat(90): try fix fav icon in search results
  services/coral/interfaces/repositories/documentInFolder.ts
Labels: wip, coral

feat(90): fix rosetta and node Id on document in folder
  libs/clean/scripts/utils.ts
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  services/abys/interfaces/http/routes/nodeSameRawDocument.ts
  services/abys/interfaces/http/schemas/nodeSameRawDocument.ts
  services/horizon/interfaces/http/checkers/nodeSameRawDocument.ts
  services/horizon/interfaces/http/routes/documentInFolder/createMany.ts
  services/horizon/interfaces/providers/abys/index.ts
  services/lighthouse/src/components/TheLoader.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/components/PreviewTranslationDialog.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/rosetta/interfaces/providers/googleScrape/index.ts
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
  services/spotter/src/App.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/composables/useCreateManyDocumentInFolderDialog.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/utils/createBakedDocumentId.ts
Labels: wip, abys, horizon, rosetta, spotter, lighthouse

feat(84): add cgu page
  services/spotter/auto-imports.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/edito/pages/CguPage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/edito/router.ts
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/i18n/languages/cgu/FR-fr.ts
  services/spotter/src/router/index.ts
Labels: wip, spotter

feat(84): UX improvements + trad fix
  libs/design-system/src/components/DSClickableText.vue
  libs/design-system/src/components/ui/button/index.ts
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  libs/design-system/src/components/ui/dialog/DSDialogHeader.vue
  services/lighthouse/components.d.ts
  services/lighthouse/src/components/BackButton.vue
  services/lighthouse/src/domains/forum/postModeration/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/spotter/components.d.ts
  services/spotter/src/components/BackButton.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/scratch/partials/BoostButton.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/components/AddToFavoriteEquation.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

feat(84): fix pagination
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslationList/ThePage.vue
  services/spotter/auto-imports.d.ts
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
Labels: wip, spotter, lighthouse

feat(84): fix module card
  services/lighthouse/src/domains/dashboard/dashboardPage/components/ModuleCard.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, lighthouse

feat(84): refacto folders
  libs/design-system/src/components/ui/badge/index.ts
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuItem.vue
  services/lighthouse/components.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/user/components/CreateManyDocumentInFolderDialog.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/components/DocumentFolderHeader.vue
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
  services/spotter/src/domains/user/components/DocumentInFolderSeparatorItem.vue
  services/spotter/src/domains/user/composables/useCreateDocumentFolderForm.ts
  services/spotter/src/domains/user/composables/useCreateManyDocumentInFolderDialog.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

fix(hf): fix some buttons
  services/spotter/src/domains/notification/components/BellButton.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
Labels: wip, spotter

feat(84): add document lang select
  services/spotter/src/domains/document/composables/useDocumentPage.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(84): update home page
  services/spotter/components.d.ts
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(84): improve folder pages header responsive
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
Labels: wip, spotter

feat(84): add cgu accept link
  libs/design-system/src/components/form/CheckboxTemplate.vue
  libs/design-system/src/utils/formFields.ts
  services/spotter/src/domains/auth/composables/useRegisterForm.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system

feat(84): add more sentry information
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  services/lighthouse/src/libs/sentry/index.ts
  services/spotter/auto-imports.d.ts
  services/spotter/src/lib/sentry/index.ts
Labels: wip, spotter, lighthouse

feat(84): fix cgu accept link
  libs/design-system/src/components/form/CheckboxTemplate.vue
  libs/design-system/src/utils/formFields.ts
  services/lighthouse/src/domains/forum/postModeration/composables/usePostModerationForm.ts
  services/spotter/src/domains/auth/composables/useRegisterForm.ts
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter, design-system, lighthouse

feat(84): fix boost trads
  services/spotter/src/domains/search/components/scratch/partials/BoostButton.vue
  services/spotter/src/i18n/languages/FR-fr.ts
Labels: wip, spotter

feat(84): change equation save icon
  libs/design-system/src/components/ui/icon/index.ts
  services/spotter/src/domains/user/components/AddToFavoriteEquation.vue
Labels: wip, spotter, design-system

feat(84): add auto focus search input
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/ui/input/DSInput.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/components/scratch/composables/useAutoFocusInput.ts
  services/spotter/src/domains/search/components/scratch/partials/OperatorContentDialog.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorArticleType.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorAuthor.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorProvider.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorStrictText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYearInterval.vue
Labels: wip, spotter, design-system

feat(84): fix CGU and auto redirection
  libs/design-system/src/components/form/CheckboxTemplate.vue
  libs/design-system/src/utils/formFields.ts
  services/lighthouse/src/domains/forum/postModeration/composables/usePostModerationForm.ts
  services/spotter/src/domains/auth/components/CGUCheckboxTemplate.vue
  services/spotter/src/domains/auth/composables/useRegisterForm.ts
  services/spotter/src/domains/user/composables/useDocumentFolderPage.ts
  services/spotter/src/domains/user/composables/useDocumentInFolderPage.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
Labels: wip, spotter, design-system, lighthouse

feat(84): add redirect link
  services/lighthouse/.env
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/utils/makeDocumentUrl.ts
  services/lighthouse/src/envs.ts
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
Labels: wip, rosetta, lighthouse

feat(84): fix documentFolder an documentFolderItem title overflow
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/components/DocumentInFolderItem.vue
Labels: wip, spotter
