Repository mathcovax/seaence, pull requests merged in 2025-04, with the labels that each got.

#11 feat(4): business layer school service
  .github/workflows/test.yml
  .husky/pre-push
  .vscode/settings.json
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  package-lock.json
  package.json
  scripts/generate-types.sh
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/package.json
  services/school/.env
  services/school/.env.exemple
  services/school/business/.gitkeep
  services/school/business/applications/repositories/.gitkeep
  services/school/business/applications/repositories/answer.ts
  services/school/business/applications/repositories/post.ts
  services/school/business/applications/usecases/.gitkeep
  services/school/business/applications/usecases/createPost.ts
  services/school/business/applications/usecases/getAnswersFromPost.ts
  services/school/business/applications/usecases/getPostsFromArticleId.ts
  services/school/business/applications/usecases/replyToPost.ts
  services/school/business/domains/common/Int.ts
  services/school/business/domains/common/article.ts
  services/school/business/domains/common/user.ts
  services/school/business/domains/entities/.gitkeep
  services/school/business/domains/entities/answer.ts
  services/school/business/domains/entities/article.ts
  services/school/business/domains/entities/post.ts
  services/school/business/domains/entities/user.ts
  services/school/business/domains/value-objects/.gitkeep
  services/school/business/tsconfig.json
  services/school/compose.yml
  services/school/interfaces/envs.ts
  services/school/interfaces/http/checkers/post.ts
  services/school/interfaces/http/main.ts
  services/school/interfaces/http/routes/answer.ts
  services/school/interfaces/http/routes/index.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/http/schemas/answer.ts
  services/school/interfaces/http/schemas/article.ts
  services/school/interfaces/http/schemas/post.ts
  services/school/interfaces/http/schemas/user.ts
  services/school/interfaces/providers/mongo/entities/answer.ts
  services/school/interfaces/providers/mongo/entities/article.ts
  services/school/interfaces/providers/mongo/entities/post.ts
  services/school/interfaces/providers/mongo/entities/user.ts
  services/school/interfaces/providers/mongo/index.ts
  services/school/interfaces/repositories/answer.ts
  services/school/interfaces/repositories/index.ts
  services/school/interfaces/repositories/post.ts
  services/school/interfaces/routes/index.ts
  services/school/interfaces/usecase/index.ts
  services/school/package.json
  services/school/tsconfig.json
  services/school/vendors/clean
Labels: github, package, wip, marine-snow, school

#9 feat(07): init base of Abys
  .vscode/snippets.code-snippets
  docs/eslasticsearch/base.md
  docs/eslasticsearch/types.md
  docs/schema-es.json
  docs/scrapper/pubmed/api.md
  docs/scrapper/pubmed/fetchModel.md
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/index.ts
  libs/clean/scripts/utils.test.ts
  libs/clean/scripts/utils.ts
  libs/clean/scripts/valueObject.test.ts
  libs/clean/scripts/valueObject.ts
  libs/clean/scripts/valueObject/date.ts
  libs/clean/scripts/valueObject/index.ts
  libs/clean/scripts/valueObject/number.ts
  libs/clean/scripts/valueObject/string.ts
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  package-lock.json
  scripts/generate-types.sh
  services/abys/.env
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/.gitKeep
  services/abys/business/applications/usecases/rawDocument/.gitKeep
  services/abys/business/applications/usecases/rawDocument/pubmed/createPubmedRawDocument.ts
  services/abys/business/domains/common/articleType.ts
  services/abys/business/domains/common/rawDocument.ts
  services/abys/business/domains/entities/.gitkeep
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/business/tsconfig.json
  services/abys/interfaces/envs.ts
  services/abys/interfaces/http/checkers/rawDocument.ts
  services/abys/interfaces/http/main.ts
  services/abys/interfaces/http/routes/index.ts
  services/abys/interfaces/http/routes/rawDocument.ts
  services/abys/interfaces/http/schemas/.gitkeep
  services/abys/interfaces/http/schemas/rawDocument/pubmed.ts
  services/abys/interfaces/providers/mongo/entities/rawDocument.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/repositories/index.ts
  services/abys/interfaces/repositories/rawDocument.ts
  services/abys/interfaces/usecase/index.ts
  services/abys/package.json
  services/abys/vendors/clean
Labels: documentation, wip, abys

#17 feat(12): First pages
  libs/design-system/package.json
  libs/design-system/src/components/DSButtonIcon.vue
  libs/design-system/src/components/DSButtonOutline.vue
  libs/design-system/src/components/DSButtonPrimary.vue
  libs/design-system/src/components/DSGoogleLogo.vue
  libs/design-system/src/components/DSLoadingLogo.vue
  libs/design-system/src/components/icon/TheIcon.vue
  libs/design-system/src/components/icon/index.d.ts
  libs/design-system/src/components/ui/accordion/DSAccordion.vue
  libs/design-system/src/components/ui/accordion/DSAccordionContent.vue
  libs/design-system/src/components/ui/accordion/DSAccordionItem.vue
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  libs/design-system/src/components/ui/accordion/index.ts
  libs/design-system/src/components/ui/checkbox/DSCheckbox.vue
  libs/design-system/src/components/ui/checkbox/index.ts
  libs/design-system/src/components/ui/label/DSLabel.vue
  libs/design-system/src/components/ui/label/index.ts
  libs/design-system/src/components/ui/sheet/DSSheet.vue
  libs/design-system/src/components/ui/sheet/DSSheetClose.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetDescription.vue
  libs/design-system/src/components/ui/sheet/DSSheetFooter.vue
  libs/design-system/src/components/ui/sheet/DSSheetHeader.vue
  libs/design-system/src/components/ui/sheet/DSSheetTitle.vue
  libs/design-system/src/components/ui/sheet/DSSheetTrigger.vue
  libs/design-system/src/components/ui/sheet/index.ts
  libs/design-system/src/composables/useLocalStorageItem.ts
  libs/design-system/src/index.css
  libs/design-system/src/utils/createPage.ts
  package-lock.json
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/index.html
  services/spotter/package.json
  services/spotter/public/images/auth/connection.png
  services/spotter/public/images/edito/404.png
  services/spotter/public/images/edito/hero.png
  services/spotter/public/images/logos/logo-text.svg
  services/spotter/public/images/logos/logo.svg
  services/spotter/public/vite.svg
  services/spotter/src/components/MobileSidebar.vue
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/auth/router.ts
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/edito/pages/NotFoundPage.vue
  services/spotter/src/domains/edito/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/layouts/BaseLayout.vue
  services/spotter/src/router/index.ts
  services/spotter/src/router/routerPageName/index.ts
  services/spotter/src/style.css
  services/spotter/vite.config.ts
Labels: feature, wip, spotter, design-system

#25 feat(23): Integration baked document
  libs/clean/scripts/utils.ts
  package-lock.json
  services/abys/.env
  services/abys/business/applications/repositories/bakedDocument.ts
  services/abys/business/applications/repositories/nodeSameRawDocument.ts
  services/abys/business/applications/repositories/rawDocument.ts
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/getNodeSameRawDocuments.ts
  services/abys/business/applications/usecases/nodeSameRawDocument/upsertNodeSameRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/createPubmedRawDocument.ts
  services/abys/business/applications/usecases/rawDocument/pubmed/upsertPubmedRawDocument.ts
  services/abys/business/domains/common/abtrasctSection.ts
  services/abys/business/domains/common/provider.ts
  services/abys/business/domains/common/rawDocument.ts
  services/abys/business/domains/common/uniqueField.ts
  services/abys/business/domains/entities/bakedDocument/index.ts
  services/abys/business/domains/entities/nodeSameRawDocument/index.ts
  services/abys/business/domains/entities/rawDocument/pubmed.ts
  services/abys/interfaces/commands/.gitKeep
  services/abys/interfaces/commands/cookRawDocument.ts
  services/abys/interfaces/envs.ts
  services/abys/interfaces/http/checkers/rawDocument.ts
  services/abys/interfaces/http/routes/rawDocument.ts
  services/abys/interfaces/http/schemas/rawDocument/pubmed.ts
  services/abys/interfaces/providers/mongo/entities/bakedDocument.ts
  services/abys/interfaces/providers/mongo/entities/nodeSameRawDocument.ts
  services/abys/interfaces/providers/mongo/entities/rawDocument.ts
  services/abys/interfaces/providers/mongo/index.ts
  services/abys/interfaces/providers/rosetta/index.ts
  services/abys/interfaces/providers/rosetta/types/api.d.ts
  services/abys/interfaces/repositories/bakedDocument.ts
  services/abys/interfaces/repositories/index.ts
  services/abys/interfaces/repositories/nodeSameRawDocument.ts
  services/abys/interfaces/repositories/rawDocument.ts
  services/abys/interfaces/usecase/index.ts
  services/abys/package.json
Labels: wip, abys

#36 feat(28): scratch
  .vscode/settings.json
  libs/clean/scripts/utils.ts
  libs/design-system/package.json
  libs/design-system/src/components/ui/select/DSSelect.vue
  libs/design-system/src/composables/useProvide.ts
  libs/eslint/package.json
  libs/eslint/scripts/vue.ts
  libs/scratch-type/eslint.config.ts
  libs/scratch-type/package.json
  libs/scratch-type/scripts/comparator.ts
  libs/scratch-type/scripts/index.ts
  libs/scratch-type/scripts/operator.ts
  libs/scratch-type/tsconfig.json
  libs/scratch-type/vendors/clean
  libs/scratch-type/vendors/eslint
  package-lock.json
  package.json
  scripts/rm-node-modules.sh
  services/abys/package.json
  services/colossal/components.d.ts
  services/colossal/package.json
  services/marine-snow/package.json
  services/pilot/components.d.ts
  services/pilot/package.json
  services/school/package.json
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/package.json
  services/spotter/src/domains/search/components/scratch/TheScratch.vue
  services/spotter/src/domains/search/components/scratch/composables/useHintMessage.ts
  services/spotter/src/domains/search/components/scratch/partials/OperatorContentDialog.vue
  services/spotter/src/domains/search/components/scratch/partials/ScratchHint.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/DraggableComparator.vue
  services/spotter/src/domains/search/components/scratch/partials/comparatorWrapper.ts
  services/spotter/src/domains/search/components/scratch/partials/operator/AddOperatorContent.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorAndOr.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/SelectOperator.vue
  services/spotter/src/domains/search/components/scratch/partials/operatorContentWrapper.ts
  services/spotter/src/domains/search/components/scratch/partials/operatorWrapper.ts
  services/spotter/src/domains/search/components/scratch/provides/checkFields.ts
  services/spotter/src/domains/search/components/scratch/provides/dragComparator.ts
  services/spotter/src/domains/search/pages/SearchResultsPage.vue
  services/spotter/src/domains/search/pages/TestPage.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/zod/index.ts
  services/spotter/src/router/index.ts
  services/spotter/tsconfig.app.json
  services/spotter/tsconfig.json
  services/spotter/tsconfig.node.json
  services/spotter/vendors/clean
  services/spotter/vendors/scratch-type
  services/spotter/vite.config.ts
  services/spotter/vitest.config.ts
  services/tide/components.d.ts
  services/tide/package.json
Labels: package, wip, abys, colossal, marine-snow, pilot, school, spotter, tide, design-system

#43 feat(37): marine snow resume mission
  docs/marine-snow/commands.md
  libs/clean/scripts/error.ts
  package-lock.json
  package.json
  services/abys/business/applications/usecases/bakedDocument/upsertBakedDocument.ts
  services/harbor/package.json
  services/marine-snow/business/applications/repositories/abys.ts
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/scienceDatabase.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createPubMedSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/findPubMedSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/resumeSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/createSendOneSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendOneSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/sendSearchResult/startSendSearchResultMission.ts
  services/marine-snow/business/applications/usecases/missions/startMission.ts
  services/marine-snow/business/applications/usecases/searchResult/findOneSearchResult.ts
  services/marine-snow/business/domains/common/searchResult.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/index.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/one.ts
  services/marine-snow/business/domains/entities/mission/sendSearchResult/step.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/marine-snow/interfaces/commands/missionSendOneSearchResult.ts
  services/marine-snow/interfaces/commands/resumeMissionSearchResult.ts
  services/marine-snow/interfaces/providers/prisma/migrations/20250428170259_/migration.sql
  services/marine-snow/interfaces/providers/prisma/schema/index.prisma
  services/marine-snow/interfaces/repositories/abys.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/scienceDatabase.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/usecase/index.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/one.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/senders/pubmed.ts
  services/marine-snow/interfaces/workers/workerMissionError.ts
  services/marine-snow/package.json
Labels: package, wip, abys, harbor, marine-snow
