Repository mathcovax/seaence, pull requests merged in 2025-05, with the labels that each got.

#45 feat(44): add fixture bakedDocument
  package-lock.json
  package.json
  services/abys/interfaces/fixtures/data/.gitkeep
  services/abys/interfaces/fixtures/entities/bakedDocument.ts
  services/abys/interfaces/fixtures/index.ts
  services/abys/interfaces/fixtures/utils/mapAsync.ts
  services/abys/interfaces/fixtures/utils/repeater.ts
  services/abys/interfaces/fixtures/utils/splitDate.ts
  services/abys/package.json
Labels: package, wip, abys

#50 feat(49): init bottle service
  docs/bottle/commands.md
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  package-lock.json
  package.json
  services/bottle/.env
  services/bottle/.gitignore
  services/bottle/business/applications/repositories/notification.ts
  services/bottle/business/applications/repositories/user.ts
  services/bottle/business/applications/usecases/createAndSendRegister.ts
  services/bottle/business/domains/common/.gitkeep
  services/bottle/business/domains/entities/notification/base.ts
  services/bottle/business/domains/entities/notification/register.ts
  services/bottle/business/domains/entities/settings/email.ts
  services/bottle/business/domains/entities/user.ts
  services/bottle/business/tsconfig.json
  services/bottle/compose.yml
  services/bottle/interfaces/envs.ts
  services/bottle/interfaces/http/main.ts
  services/bottle/interfaces/http/routes/index.ts
  services/bottle/interfaces/http/routes/register.ts
  services/bottle/interfaces/providers/email/index.ts
  services/bottle/interfaces/providers/mongo/entities/notification.ts
  services/bottle/interfaces/providers/mongo/entities/user.ts
  services/bottle/interfaces/providers/mongo/index.ts
  services/bottle/interfaces/repositories/index.ts
  services/bottle/interfaces/repositories/notification.ts
  services/bottle/interfaces/repositories/user.ts
  services/bottle/interfaces/routes/index.ts
  services/bottle/interfaces/usecases/index.ts
  services/bottle/package.json
  services/bottle/vendors/clean
  services/bottle/vitest.config.ts
  services/harbor/.env
  services/harbor/business/applications/repositories/bottle.ts
  services/harbor/business/applications/usecases/createRegisterNotification.ts
  services/harbor/business/applications/usecases/findOrCreateUser.ts
  services/harbor/interfaces/envs.ts
  services/harbor/interfaces/providers/bottle/index.ts
  services/harbor/interfaces/repositories/bottle.ts
  services/harbor/interfaces/repositories/index.ts
Labels: package, wip, bottle, harbor

#51 feat(48): add create poste page
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  libs/clients-type/types/sea/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
  libs/design-system/src/utils/createPage.ts
  services/abys/interfaces/repositories/sea.ts
  services/horizon/interfaces/http/routes/post.ts
  services/horizon/interfaces/http/schemas/post.ts
  services/horizon/interfaces/providers/school/index.ts
  services/school/business/domains/entities/post.ts
  services/school/interfaces/http/routes/post.ts
  services/school/interfaces/http/schemas/post.ts
  services/school/interfaces/providers/mongo/entities/post.ts
  services/sea/interfaces/http/schemas/document.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/forum/composables/useCreatePost.ts
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/document.ts
  services/spotter/src/router/index.ts
Labels: wip, abys, horizon, school, sea, spotter, design-system

#42 feat(35): user page
  compose.prod.yml
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenu.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuCheckboxItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuContent.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuGroup.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuLabel.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuRadioGroup.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuRadioItem.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSeparator.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuShortcut.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSub.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSubContent.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuSubTrigger.vue
  libs/design-system/src/components/ui/dropdown-menu/DSDropdownMenuTrigger.vue
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/composables/useScroll.ts
  libs/design-system/src/composables/useWindow.ts
  libs/design-system/src/utils/createExternalPromise.ts
  services/colossal/components.d.ts
  services/horizon/.env
  services/horizon/compose.yml
  services/horizon/interfaces/http/routes/user.ts
  services/pilot/components.d.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/auth/pages/ConnectionPage.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/domains/user/composables/useUserInformation.ts
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/domains/user/router.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/lib/horizon/types/user.ts
  services/spotter/src/router/index.ts
  services/tide/components.d.ts
Labels: wip, colossal, horizon, pilot, spotter, tide, design-system, docker

#58 feat(53): Add mail template (+ feat 31)
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/clients-type/types/school/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/DSIcon.vue
  libs/design-system/src/components/ui/textarea/DSTextarea.vue
  libs/design-system/src/index.css
  libs/design-system/src/lib/utils.ts
  services/abys/interfaces/http/routes/bakedDocument.ts
  services/abys/interfaces/http/schemas/bakedDocument.ts
  services/bottle/interfaces/configs/email.ts
  services/bottle/interfaces/providers/email/index.ts
  services/bottle/interfaces/providers/email/templates/answeredPost.ts
  services/bottle/interfaces/providers/email/templates/baseTemplate.ts
  services/bottle/interfaces/providers/email/templates/registerTemplate.ts
  services/bottle/interfaces/repositories/notification.ts
  services/horizon/business/entities/answer.ts
  services/horizon/business/entities/bakedDocument.ts
  services/horizon/interfaces/configs/document.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/horizon/interfaces/http/routes/document.ts
  services/horizon/interfaces/http/routes/index.ts
  services/horizon/interfaces/http/schemas/document.ts
  services/school/interfaces/http/schemas/answer.ts
  services/sea/.env
  services/sea/interfaces/providers/elastic/index.ts
  services/spotter/src/App.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/domains/document/composables/useDocumentPage.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/forum/components/RowPost.vue
  services/spotter/src/domains/forum/composables/useCreatePost.ts
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SearchTemplate.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/pages/AdvencedSearch.vue
  services/spotter/src/domains/search/pages/SimpleSearch.vue
  services/spotter/src/domains/search/router.ts
  services/spotter/src/domains/search/utils/convertQuery.ts
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/src/style.css
Labels: wip, abys, bottle, horizon, school, sea, spotter, design-system

#62 fix(hf): design improvement + fix
  libs/design-system/src/components/DSMultiComboBox.vue
  libs/design-system/src/components/DSRange.vue
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  libs/design-system/src/components/ui/dialog/DSDialogScrollContent.vue
  libs/design-system/src/components/ui/sheet/DSSheetContent.vue
  services/lighthouse/src/components/TheLoader.vue
  services/spotter/src/components/TheFooter.vue
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/forum/components/RowPost.vue
  services/spotter/src/domains/forum/pages/PostCreatePage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/search/components/SearchContainer.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/search/components/SimpleSearchInput.vue
  services/spotter/src/domains/search/components/scratch/partials/OperatorContentDialog.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorText.vue
  services/spotter/src/domains/search/components/scratch/partials/comparator/ComparatorYear.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorAndOr.vue
  services/spotter/src/domains/search/components/scratch/partials/operator/OperatorNot.vue
  services/spotter/src/layouts/BaseLayout.vue
  services/spotter/src/style.css
Labels: wip, spotter, design-system, lighthouse

#68 feat(67): add style to form builder.
  libs/backend-logger/scripts/index.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/form/BaseLayoutTemplate.vue
  libs/design-system/src/components/form/CheckLayoutTemplate.vue
  libs/design-system/src/components/form/FormTemplate.vue
  libs/design-system/src/components/form/MultiLayoutTemplate.vue
  libs/design-system/src/composables/useFormBuilder/createFormField.ts
  libs/design-system/src/composables/useFormBuilder/index.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useBaseLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useCheckLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useMultiFieldLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/baseLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/checkLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/createLayoutTemplate.ts
  libs/design-system/src/composables/useFormBuilder/templates/form.ts
  libs/design-system/src/composables/useFormBuilder/templates/multiLayout.ts
  libs/design-system/src/index.css
  libs/design-system/src/utils/formFields.ts
  libs/design-system/src/utils/layoutTemplate.ts
  services/horizon/interfaces/http/plugins/generate.ts
  services/lighthouse/auto-imports.d.ts
  services/lighthouse/components.d.ts
  services/marine-snow/interfaces/commands/missionSearchResult.ts
  services/marine-snow/interfaces/commands/missionSendOneSearchResult.ts
  services/marine-snow/interfaces/commands/missionSendSearchResult.ts
  services/marine-snow/interfaces/utils/deepLog.ts
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/index.ts
  services/marine-snow/interfaces/workers/missions/sendSearchResult/one.ts
  services/spotter/auto-imports.d.ts
  services/spotter/components.d.ts
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/forum/components/PostAnswer.vue
  services/spotter/src/domains/forum/components/PostRow.vue
  services/spotter/src/domains/forum/pages/PostListPage.vue
  services/spotter/src/domains/forum/pages/PostPage.vue
  services/spotter/src/domains/user/composables/useEditProfileForm.ts
  services/spotter/src/domains/user/pages/ProfilePage.vue
  services/spotter/src/i18n/languages/FR-fr.ts
  services/spotter/vite.config.ts
Labels: wip, horizon, marine-snow, spotter, design-system, lighthouse
