Repository mathcovax/seaence, pull requests merged in 2025-07, with the labels that each got.

#91 feat(90): search result with saved document
  docs/features/search/advenced/comparator.md
  docs/features/search/advenced/index.md
  docs/features/search/advenced/operator.md
  docs/features/search/simple.md
  libs/clean/scripts/utils.ts
  libs/clients-type/types/abys/duplojsTypesCodegen.d.ts
  libs/clients-type/types/coral/duplojsTypesCodegen.d.ts
  libs/clients-type/types/horizon/duplojsTypesCodegen.d.ts
  libs/design-system/src/components/ui/icon/index.ts
  services/abys/interfaces/http/routes/nodeSameRawDocument.ts
  services/abys/interfaces/http/schemas/nodeSameRawDocument.ts
  services/coral/business/applications/repositories/documentInFolder.ts
  services/coral/business/applications/usecases/nodeSameRawDocument/nodeSameRawDocumentIdsHaveDocumentInFolder.ts
  services/coral/interfaces/http/routes/index.ts
  services/coral/interfaces/http/routes/nodeSameRawDocument/nodeSameRawDocumentIdsHaveDocumentInFolder.ts
  services/coral/interfaces/http/schemas/nodeSameRawDocument.ts
  services/coral/interfaces/repositories/documentInFolder.ts
  services/coral/interfaces/usecase/index.ts
  services/horizon/business/entities/bakedDocument.ts
  services/horizon/interfaces/http/checkers/nodeSameRawDocument.ts
  services/horizon/interfaces/http/routes/documentInFolder/createMany.ts
  services/horizon/interfaces/http/routes/search.ts
  services/horizon/interfaces/providers/abys/index.ts
  services/horizon/interfaces/providers/coral/index.ts
  services/horizon/interfaces/providers/coral/types.ts
  services/lighthouse/src/components/TheLoader.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/components/PreviewTranslationDialog.vue
  services/lighthouse/src/i18n/languages/FR-fr.ts
  services/rosetta/interfaces/providers/googleScrape/index.ts
  services/rosetta/interfaces/providers/googleScrape/worker/main.ts
  services/spotter/src/App.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/document/pages/DocumentPage.vue
  services/spotter/src/domains/search/components/DocumentResultRow.vue
  services/spotter/src/domains/search/components/SearchResultWrapper.vue
  services/spotter/src/domains/user/components/DocumentFolderCard.vue
  services/spotter/src/domains/user/composables/useCreateManyDocumentInFolderDialog.ts
  services/spotter/src/domains/user/pages/DocumentFolder.vue
  services/spotter/src/domains/user/pages/DocumentInFolder.vue
  services/spotter/src/utils/createBakedDocumentId.ts
Labels: wip, abys, horizon, rosetta, spotter, design-system, lighthouse, coral

#96 feat(95): init e2e
  .docker/node-e2e.dockerfile
  .github/workflows/e2e.yml
  .vscode/settings.json
  compose.yml
  e2e/.env
  e2e/.gitignore
  e2e/components/accountDropdown.ts
  e2e/components/auth/authDialog.ts
  e2e/components/header.ts
  e2e/components/sonner.ts
  e2e/compose.yml
  e2e/envs.ts
  e2e/eslint.config.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/pages/home.ts
  e2e/playwright.config.ts
  e2e/playwright/actions.ts
  e2e/playwright/assertions.ts
  e2e/playwright/client.ts
  e2e/playwright/componentEngine.ts
  e2e/playwright/createStepEmbeder.ts
  e2e/playwright/index.ts
  e2e/playwright/pageEngine.ts
  e2e/playwright/webSiteEngine.ts
  e2e/providers/firebase/evalSetupFirebaseAuth.ts
  e2e/providers/firebase/index.ts
  e2e/providers/localStorage.ts
  e2e/tests/auth.spec.ts
  e2e/tsconfig.json
  e2e/vendors/eslint
  libs/design-system/src/components/form/BaseLayoutTemplate.vue
  libs/design-system/src/components/form/CheckLayoutTemplate.vue
  libs/design-system/src/components/form/FormTemplate.vue
  libs/design-system/src/components/ui/dialog/DSDialog.vue
  libs/design-system/src/components/ui/dialog/DSDialogContent.vue
  libs/design-system/src/composables/useFormBuilder/index.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useCheckLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useMultiFieldLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useRepeatLayout.ts
  libs/design-system/src/composables/useFormBuilder/layouts/useUnionLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/checkLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/multiLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/repeatLayout.ts
  libs/design-system/src/composables/useFormBuilder/templates/unionLayout.ts
  package-lock.json
  package.json
  services/harbor/interfaces/providers/firebase/index.ts
  services/rosetta/package.json
  services/spotter/src/components/TheHeader.vue
  services/spotter/src/components/TheLoader.vue
  services/spotter/src/domains/auth/components/AuthDialog.vue
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/notification/composables/useNotificationListPage.ts
  services/spotter/src/domains/notification/pages/NotificationListPage.vue
  services/spotter/src/domains/user/components/AccountDropdown.vue
  services/spotter/src/lib/firebase/index.ts
  services/spotter/src/lib/horizon/index.ts
  services/spotter/vite.config.ts
Labels: github, package, wip, harbor, rosetta, spotter, design-system, docker

#101 feat(99): minor fixes
  libs/design-system/src/components/ui/accordion/DSAccordionTrigger.vue
  services/bottle/interfaces/providers/email/templates/baseTemplate.ts
  services/lighthouse/src/domains/forum/answerModeration/components/AnswerContent.vue
  services/lighthouse/src/domains/forum/answerModeration/components/AnswerStats.vue
  services/lighthouse/src/domains/forum/postModeration/components/PostContent.vue
  services/lighthouse/src/domains/forum/postModeration/components/PostStats.vue
  services/lighthouse/src/domains/reporting/reportingBakedDocumentTranslation/ThePage.vue
  services/spotter/public/images/logos/logo-text.png
  services/spotter/src/domains/edito/pages/HomePage.vue
  services/spotter/src/domains/search/components/scratch/partials/BoostButton.vue
Labels: fix, wip, bottle, spotter, design-system, lighthouse

#106 doc(104): add feature doc
  README.md
  docs/deploy/index.md
  docs/deploy/schema.md
  docs/features/document/raw/index.md
  docs/features/document/raw/pubmed.md
  docs/features/user/register.md
  docs/services/abys/schema.md
  docs/services/beacon/schema.md
  docs/services/bottle/schema.md
  docs/services/bridge/schema.md
  docs/services/coral/schema.md
  docs/services/harbor/schema.md
  docs/services/horizon/schema.md
  docs/services/index.md
  docs/services/lighthouse/schema.md
  docs/services/marine-snow/schema.md
  docs/services/rosetta/schema.md
  docs/services/school/schema.md
  docs/services/sea/schema.md
  docs/services/spotter/schema.md
  services/spotter/src/domains/edito/pages/HomePage.vue
Labels: documentation, wip, spotter, md

#108 fix(107): post soutenance
  libs/clients-type/types/bottle/duplojsTypesCodegen.d.ts
  libs/duplo-plugins/plugins/debug.ts
  package-lock.json
  services/abys/package.json
  services/beacon/package.json
  services/bottle/business/applications/repositories/notification/index.ts
  services/bottle/business/applications/repositories/notificationSetting/index.ts
  services/bottle/business/applications/usecases/notification/createReplyToPostNotification.ts
  services/bottle/business/applications/usecases/notification/createUserAnswerBanNotification.ts
  services/bottle/business/applications/usecases/notification/createUserAnswerWarningNotification.ts
  services/bottle/business/applications/usecases/notification/createUserPostBanNotification.ts
  services/bottle/business/applications/usecases/notification/createUserPostWarningNotification.ts
  services/bottle/business/applications/usecases/setting/enableReplyToPostNotificationSettingToPost.ts
  services/bottle/business/applications/usecases/user/createUser.ts
  services/bottle/business/domains/entities/setting/base.ts
  services/bottle/interfaces/http/schemas/notification/base.ts
  services/bottle/interfaces/http/schemas/notification/replyToPost.ts
  services/bottle/interfaces/repositories/notication/index.ts
  services/bottle/interfaces/repositories/notificationSetting/index.ts
  services/bottle/package.json
  services/bridge/package.json
  services/coral/package.json
  services/harbor/interfaces/http/routes/user/findOneByAccessToken.ts
  services/harbor/package.json
  services/horizon/interfaces/http/routes/notification/notificationList.ts
  services/horizon/package.json
  services/marine-snow/package.json
  services/rosetta/package.json
  services/school/package.json
  services/sea/package.json
Labels: wip, abys, bottle, harbor, horizon, marine-snow, rosetta, school, sea, bridge, coral, beacon

#116 feat(115): add libre translate api key
  services/lighthouse/src/libs/bridge/index.ts
  services/rosetta/.env
  services/rosetta/interfaces/envs.ts
  services/rosetta/interfaces/providers/libretranslate/index.ts
  services/spotter/src/lib/horizon/index.ts
Labels: wip, rosetta, spotter, lighthouse
