Repository mathcovax/seaence, pull requests merged in 2025-03, with the labels that each got.

#6 fix(hf): change generate-types command in package.json
  services/abys/package.json
  services/bottle/package.json
  services/harbor/package.json
  services/marine-snow/package.json
  services/sea/package.json
Labels: config, fix, wip, abys, bottle, harbor, marine-snow, sea

#8 fix(hf): new entity class
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/repository.ts
  package-lock.json
  package.json
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/worker/index.ts
  services/marine-snow/interfaces/worker/main.ts
  services/marine-snow/interfaces/worker/missions/searchResult.ts
Labels: package, marine-snow

#10 feat(5): add worker and mission handler
  .vscode/snippets.code-snippets
  libs/clean/package.json
  libs/clean/scripts/entity.test.ts
  libs/clean/scripts/entity.ts
  libs/clean/scripts/index.ts
  libs/clean/scripts/repository.ts
  libs/clean/scripts/usecase.test.ts
  libs/clean/scripts/usecase.ts
  libs/clean/scripts/utils.ts
  libs/clean/scripts/valueObject.test.ts
  libs/clean/scripts/valueObject.ts
  libs/eslint/package.json
  package-lock.json
  services/marine-snow/.gitignore
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/searchResult.ts
  services/marine-snow/business/applications/repositories/searchResultMissionStep.ts
  services/marine-snow/business/applications/repositories/searchResultProvider.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/applications/usecases/.gitkeep
  services/marine-snow/business/applications/usecases/importOneDaySearchResultsFromProvider.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createSearchResultPubMedMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/business/domains/common/createdAt.ts
  services/marine-snow/business/domains/common/dateInterval.ts
  services/marine-snow/business/domains/common/dateYYYYMMDD.ts
  services/marine-snow/business/domains/common/int.ts
  services/marine-snow/business/domains/common/provider.ts
  services/marine-snow/business/domains/common/url.ts
  services/marine-snow/business/domains/entities/mission/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMed.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/index.ts
  services/marine-snow/business/domains/entities/mission/searchResult/step/pubMed.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/business/domains/entities/worker.ts
  services/marine-snow/business/tsconfig.json
  services/marine-snow/interfaces/main.ts
  services/marine-snow/interfaces/providers/prisma/.gitignore
  services/marine-snow/interfaces/providers/prisma/dev.db
  services/marine-snow/interfaces/providers/prisma/dev.db-journal
  services/marine-snow/interfaces/providers/prisma/migrations/20250318150339_/migration.sql
  services/marine-snow/interfaces/providers/prisma/migrations/20250318171608_/migration.sql
  services/marine-snow/interfaces/providers/prisma/migrations/migration_lock.toml
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/searchResultProvider.ts
  services/marine-snow/interfaces/worker/index.ts
  services/marine-snow/interfaces/worker/main.ts
  services/marine-snow/interfaces/worker/missions/searchResult.ts
  services/marine-snow/package.json
  services/pilot/package.json
Labels: wip, marine-snow, pilot

#16 feat(14): repository integration
  .vscode/snippets.code-snippets
  libs/clean/scripts/entity.ts
  libs/clean/scripts/repository.ts
  libs/clean/scripts/usecase.ts
  libs/clean/scripts/utils.ts
  libs/clean/scripts/valueObject.ts
  package-lock.json
  services/marine-snow/.env
  services/marine-snow/business/applications/repositories/mission.ts
  services/marine-snow/business/applications/repositories/searchResultMissionStep.ts
  services/marine-snow/business/applications/repositories/sienceDatabase.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/pubMed/createSearchResultPubMedMission.ts
  services/marine-snow/business/applications/usecases/missions/searchResult/startSearchResultMission.ts
  services/marine-snow/business/domains/common/articleType.ts
  services/marine-snow/business/domains/common/url.ts
  services/marine-snow/business/domains/entities/mission/searchResult/pubMed.ts
  services/marine-snow/business/domains/entities/searchResult.ts
  services/marine-snow/interfaces/commands/launchMission.ts
  services/marine-snow/interfaces/envs.ts
  services/marine-snow/interfaces/providers/prisma/schema.prisma
  services/marine-snow/interfaces/providers/scienceDatabase/pubmed.ts
  services/marine-snow/interfaces/providers/scienceDatabase/pubmedType.d.ts
  services/marine-snow/interfaces/repositories/index.ts
  services/marine-snow/interfaces/repositories/mission.ts
  services/marine-snow/interfaces/repositories/searchResult.ts
  services/marine-snow/interfaces/repositories/searchResultMissionStep.ts
  services/marine-snow/interfaces/repositories/sienceDatabase.ts
  services/marine-snow/interfaces/utils/WorkerMissionError.ts
  services/marine-snow/interfaces/utils/retrying.ts
  services/marine-snow/interfaces/workers/main.js
  services/marine-snow/interfaces/workers/main.ts
  services/marine-snow/interfaces/workers/missions/searchResult.ts
  services/marine-snow/package.json
Labels: wip, marine-snow
